<template>
  <footer class="gb-footer footer">
    <span>{{ value.copyright }}</span>
  </footer>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import { FooterResponseInterface } from '../../../back/src/infrastructure/rest/editorial/models/layout-response.interface';

export default Vue.extend({
  name: 'gb-footer',
  props: {
    value: { required: true } as PropOptions<FooterResponseInterface>,
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_variables.scss';

.gb-footer {
  height: rem($gb-footer-height);
  width: 100%;

  display: flex;
  overflow: hidden;
  margin: 0;

  background-color: $gb-footer-background-color;
}
</style>
