<template>
  <header class="gb-header">
    <div class="gb-header--logo">
      <img :src="value.logo.source" :alt="value.logo.alternativeText" />
    </div>
  </header>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import { HeaderResponseInterface } from '../../../back/src/infrastructure/rest/editorial/models/layout-response.interface';

export default Vue.extend({
  name: 'gb-header',
  props: {
    value: { required: true } as PropOptions<HeaderResponseInterface>,
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_variables.scss';

.gb-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  height: rem($gb-header-height);

  display: flex;
  overflow: hidden;
  margin: 0;

  background-color: $gb-header-background-color;

  &--logo {
    max-width: 228px;
    margin-left: rem(21px);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
</style>
