<template>
  <div class="gb-job-offer-search">
    <div class="columns">
      <gb-select-multiple
        :value="value.requestedSpecialities"
        :options="{
          selectId: 'filter-requested-specialities',
          selectPlaceholderKey: 'jobOffer.requestedSpecialities',
          selectOptions: requestedSpecialitiesOptions,
          selectIsLarge: true,
          selectBoxColor: 'B2C_COLOR',
        }"
        @input="onRequestedSpecialitiesInput"
        class="column is-3"
      />
      <gb-select-multiple
        :value="value.jobTypes"
        :options="{
          selectId: 'filter-job-types',
          selectPlaceholderKey: 'jobOffer.jobType',
          selectOptions: jobTypesOptions,
          selectIsLarge: true,
          selectBoxColor: 'B2C_COLOR',
        }"
        @input="onJobTypesInput"
        class="column is-3"
      />
      <gb-select-multiple
        :value="value.requiredExperiences"
        :options="{
          selectId: 'filter-required-experiences',
          selectPlaceholderKey: 'jobOffer.requiredExperiences',
          selectOptions: requiredExperiencesOptions,
          selectIsLarge: true,
          selectBoxColor: 'B2C_COLOR',
        }"
        @input="onRequiredExperiencesInput"
        class="column is-3"
      />
      <gb-select-multiple
        :value="value.regions"
        :options="{
          selectId: 'filter-regions',
          selectPlaceholderKey: 'jobOffer.region',
          selectOptions: regionsOptions,
          selectIsLarge: true,
          selectBoxColor: 'B2C_COLOR',
        }"
        @input="onRegionsInput"
        class="column is-3"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbSelectMultiple from '~/components/base-components/gb-select-multiple.vue';
import {
  I18nMapping,
  JOB_OFFER_JOB_TYPE_I18N_MAPPING,
  JOB_OFFER_REGION_I18N_MAPPING,
  JOB_OFFER_REQUESTED_SPECIALITY_I18N_MAPPING,
  JOB_OFFER_REQUIRED_EXPERIENCE_I18N_MAPPING,
} from '~/utils/i18n-mapping.utils';
import { JobOfferEnums } from '../../../../back/src/infrastructure/rest/career/models/job-offer-constraints-and-enums';

interface GbJobOfferSearchValue {
  requestedSpecialities: JobOfferEnums.JobOfferRequestedSpeciality[];
  jobTypes: JobOfferEnums.JobOfferJobType[];
  requiredExperiences: JobOfferEnums.JobOfferRequiredExperience[];
  regions: JobOfferEnums.JobOfferRegion[];
}

export default Vue.extend({
  name: 'gb-job-offer-search',
  components: {
    GbSelectMultiple,
  },
  props: {
    value: { required: true } as PropOptions<GbJobOfferSearchValue>,
  },
  computed: {
    requestedSpecialitiesOptions(): { optionLabelKey: string; optionValue: JobOfferEnums.JobOfferRequestedSpeciality }[] {
      return this.toOptions<JobOfferEnums.JobOfferRequestedSpeciality>(JOB_OFFER_REQUESTED_SPECIALITY_I18N_MAPPING);
    },
    jobTypesOptions(): { optionLabelKey: string; optionValue: JobOfferEnums.JobOfferJobType }[] {
      return this.toOptions<JobOfferEnums.JobOfferJobType>(JOB_OFFER_JOB_TYPE_I18N_MAPPING);
    },
    requiredExperiencesOptions(): { optionLabelKey: string; optionValue: JobOfferEnums.JobOfferRequiredExperience }[] {
      return this.toOptions<JobOfferEnums.JobOfferRequiredExperience>(JOB_OFFER_REQUIRED_EXPERIENCE_I18N_MAPPING);
    },
    regionsOptions(): { optionLabelKey: string; optionValue: JobOfferEnums.JobOfferRegion }[] {
      return this.toOptions<JobOfferEnums.JobOfferRegion>(JOB_OFFER_REGION_I18N_MAPPING);
    },
  },
  methods: {
    onRequestedSpecialitiesInput(requestedSpecialities: JobOfferEnums.JobOfferRequestedSpeciality[]): void {
      this.$emit('input', { fieldName: 'requestedSpecialities', fieldValue: requestedSpecialities });
    },
    onJobTypesInput(jobTypes: JobOfferEnums.JobOfferJobType[]): void {
      this.$emit('input', { fieldName: 'jobTypes', fieldValue: jobTypes });
    },
    onRequiredExperiencesInput(requiredExperiences: JobOfferEnums.JobOfferRequiredExperience[]): void {
      this.$emit('input', { fieldName: 'requiredExperiences', fieldValue: requiredExperiences });
    },
    onRegionsInput(regions: JobOfferEnums.JobOfferRegion[]): void {
      this.$emit('input', { fieldName: 'regions', fieldValue: regions });
    },
    toOptions<T>(i18nMapping: I18nMapping<T>): { optionLabelKey: string; optionValue: T }[] {
      const options: { optionLabelKey: string; optionValue: T }[] = [];
      for (const [key, value] of Object.entries(i18nMapping)) {
        options.push({ optionLabelKey: key, optionValue: value });
      }
      return options;
    },
  },
});
</script>

<style lang="scss" scoped>
.gb-job-offer-search {
  .columns {
    margin-left: 0;
    margin-right: 0;
  }
  .column {
    padding: 0;
  }
}
</style>
