<template>
  <div class="gb-company-preview-header">
    <div class="columns">
      <div class="column is-2 gb-company-preview-header--logo-container">
        <img class="gb-company-preview-header--logo" :src="companyLogoSrc" :alt="companyLogoAlt" />
      </div>
      <div class="column">
        <div class="is-block">
          <h1>{{ company.name }}</h1>
        </div>
        <div class="gb-company-preview-header--links is-inline-flex">
          <div class="gb-company-preview-header--website is-inline">
            <a :href="company.website" target="_blank">
              {{ company.website }}
            </a>
          </div>
          <gb-company-preview-social-networks class="is-inline" v-if="company.socialNetworks" :social-networks="company.socialNetworks" />
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-7">
        <p>{{ company.presentation }}</p>
      </div>
      <div class="column is-offset-1 gb-company-preview-header-right">
        <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE' }">
          <template v-slot:icon>
            <gb-icon :options="{ iconName: 'address_blue' }" />
          </template>
          <template v-slot:element>
            <span id="address">{{ company.address }}</span>
          </template>
        </gb-element-with-icon>
        <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE' }">
          <template v-slot:icon>
            <gb-icon :options="{ iconName: 'years_blue' }" />
          </template>
          <template v-slot:element>
            <span id="creation-date">{{ companyCreationDateInYear }}</span>
          </template>
        </gb-element-with-icon>
        <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE' }">
          <template v-slot:icon>
            <gb-icon :options="{ iconName: 'money_blue' }" />
          </template>
          <template v-slot:element>
            <span id="revenue">{{ $t(companyRevenueI18n(company.revenue)) }} / {{ $t('company.annual') }} </span>
          </template>
        </gb-element-with-icon>
        <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE' }">
          <template v-slot:icon>
            <gb-icon :options="{ iconName: 'square_blue' }" />
          </template>
          <template v-slot:element>
            <span id="business-segment">{{ $t(companyBusinessSegmentI18n(company.businessSegment)) }}</span>
          </template>
        </gb-element-with-icon>
        <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE' }">
          <template v-slot:icon>
            <gb-icon :options="{ iconName: 'people_blue' }" />
          </template>
          <template v-slot:element>
            <span id="size">{{ $t(companySizeI18n(company.size)) }} {{ $t('company.people') }}</span>
          </template>
        </gb-element-with-icon>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbElementWithIcon from '~/components/base-components/gb-element-with-icon.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import {
  COMPANY_BUSINESS_SEGMENT_I18N_MAPPING,
  COMPANY_REVENUE_I18N_MAPPING,
  COMPANY_SIZE_I18N_MAPPING,
  getI18nKey,
  I18nKey,
} from '~/utils/i18n-mapping.utils';
import { CompanyEnums } from '../../../../back/src/infrastructure/rest/career/models/company-constraints-and-enums';
import { PostCompanyRequestInterface } from '../../../../back/src/infrastructure/rest/career/models/post-company-request.interface';
import { TemporaryFileResponseInterface } from '../../../../back/src/infrastructure/rest/upload/models/temporary-file-response.interface';
import GbCompanyPreviewSocialNetworks from './gb-company-preview-social-networks.vue';

export default Vue.extend({
  name: 'gb-company-preview-header',
  components: {
    GbElementWithIcon,
    GbIcon,
    GbCompanyPreviewSocialNetworks,
  },
  props: {
    company: { required: true } as PropOptions<PostCompanyRequestInterface>,
    companyLogo: { required: true } as PropOptions<TemporaryFileResponseInterface>,
  },
  computed: {
    companyCreationDateInYear(): string {
      return this.company.creationDate ? new Date(this.company.creationDate).getFullYear().toString() : '';
    },
    companyLogoSrc(): string {
      return `data:${this.companyLogo.mimeType};base64,${this.companyLogo.base64}`;
    },
    companyLogoAlt(): string {
      return `${this.company.name} logo`;
    },
  },
  methods: {
    companyRevenueI18n(key: CompanyEnums.CompanyRevenue): I18nKey {
      return getI18nKey<CompanyEnums.CompanyRevenue>(COMPANY_REVENUE_I18N_MAPPING, key);
    },
    companyBusinessSegmentI18n(key: CompanyEnums.CompanyBusinessSegment): I18nKey {
      return getI18nKey<CompanyEnums.CompanyBusinessSegment>(COMPANY_BUSINESS_SEGMENT_I18N_MAPPING, key);
    },
    companySizeI18n(key: CompanyEnums.CompanySize): I18nKey {
      return getI18nKey<CompanyEnums.CompanySize>(COMPANY_SIZE_I18N_MAPPING, key);
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-company-preview {
  &-header {
    border-radius: 8px;
    background-color: $gb-color-content-background;
    box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);
    padding: rem(50px) rem(80px);

    &--logo-container {
      position: relative;
    }

    &--logo {
      position: absolute;
      background-color: $gb-color-white;
      border: 3px solid $gb-color-content-background;
      top: rem(-100px);
      border-radius: 50%;
      width: rem(160px);
      height: rem(160px);
      box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);
      object-fit: contain;
    }

    &--links {
      align-items: center;
    }
    &--website {
      a {
        @include gb-font-h-3;
        text-decoration: none !important;
        color: $gb-font-h-3-color !important;
        height: 100%;
      }
      margin-right: rem(14px);
    }

    &-right {
      > div {
        margin-bottom: rem(30px);
      }
      span {
        display: flex;
        align-items: center;
        min-height: rem(30px);
        margin-left: rem(15px);
      }
    }
  }
}
</style>
