<template>
  <div>
    <a v-if="socialNetworks.linkedIn" :href="socialNetworks.linkedIn" target="_blank">
      <gb-icon :options="{ iconName: 'linkedin_circle' }" />
    </a>
    <a v-if="socialNetworks.facebook" :href="socialNetworks.facebook" target="_blank">
      <gb-icon :options="{ iconName: 'facebook_circle' }" />
    </a>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import { PostSocialNetworksRequestInterface } from '../../../../back/src/infrastructure/rest/career/models/post-company-request.interface';

export default Vue.extend({
  name: 'gb-company-preview-social-networks',
  components: {
    GbIcon,
  },
  props: {
    socialNetworks: { required: true } as PropOptions<PostSocialNetworksRequestInterface>,
  },
});
</script>

<style scoped></style>
