<template>
  <div class="gb-company-preview-content columns">
    <!-- START LEFT COLUMN -->
    <div class="column">
      <gb-company-preview-values :values="company.values" />
    </div>
    <!-- END LEFT COLUMN -->
    <!-- START RIGHT COLUMN -->
    <div class="column">
      <gb-card id="genius-types" :options="{}">
        <template v-slot:header>
          <h2>{{ $t('company.geniusTypes') }}</h2>
        </template>
        <template v-slot:content>
          <div class="gb-company-preview-content--genius-types">
            <gb-badge v-for="geniusType in company.geniusTypes" :key="geniusType" :options="{ badgeIsRounded: true }">
              {{ $t(companyGeniusTypesI18n(geniusType)) }}
            </gb-badge>
          </div>
        </template>
      </gb-card>
      <gb-card id="bachelors-of-engineering-number" :options="{}">
        <template v-slot:header>
          <h2>{{ $t('company.bachelorsOfEngineeringNumber') }}</h2>
        </template>
        <template v-slot:content>
          <div class="gb-company-preview-content--bachelors-number">
            <span>
              {{ company.bachelorsOfEngineeringNumber }}
            </span>
          </div>
        </template>
      </gb-card>
      <gb-card v-if="company.revenueForRD" id="revenue-for-rd" :options="{}">
        <template v-slot:header>
          <h2>{{ $t('company.revenueForRD') }}</h2>
        </template>
        <template v-slot:content>
          <div class="gb-company-preview-content--revenue-for-rd">
            <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE' }">
              <template v-slot:icon>
                <gb-icon :options="{ iconName: 'money_blue' }" />
              </template>
              <template v-slot:element>
                <span>{{ $t(companyRevenueForRDI18n(company.revenueForRD)) }} </span>
              </template>
            </gb-element-with-icon>
          </div>
        </template>
      </gb-card>
      <gb-company-preview-activity-locations :activity-locations="company.activityLocations" />
    </div>
    <!-- END RIGHT COLUMN -->
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbBadge from '~/components/base-components/gb-badge.vue';
import GbCard from '~/components/base-components/gb-card.vue';
import GbElementWithIcon from '~/components/base-components/gb-element-with-icon.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import { COMPANY_GENIUS_TYPES_I18N_MAPPING, COMPANY_REVENUE_FOR_RD_I18N_MAPPING, getI18nKey, I18nKey } from '~/utils/i18n-mapping.utils';
import { CompanyEnums } from '../../../../back/src/infrastructure/rest/career/models/company-constraints-and-enums';
import { PostCompanyRequestInterface } from '../../../../back/src/infrastructure/rest/career/models/post-company-request.interface';
import GbCompanyPreviewActivityLocations from './gb-company-preview-activity-locations.vue';
import GbCompanyPreviewValues from './gb-company-preview-values.vue';

export default Vue.extend({
  name: 'gb-company-preview-content',
  components: {
    GbCard,
    GbIcon,
    GbBadge,
    GbElementWithIcon,
    GbCompanyPreviewActivityLocations,
    GbCompanyPreviewValues,
  },
  props: {
    company: { required: true } as PropOptions<PostCompanyRequestInterface>,
  },
  methods: {
    companyGeniusTypesI18n(key: CompanyEnums.CompanyGeniusType): I18nKey {
      return getI18nKey<CompanyEnums.CompanyGeniusType>(COMPANY_GENIUS_TYPES_I18N_MAPPING, key);
    },
    companyRevenueForRDI18n(key: CompanyEnums.CompanyRevenueForRD): I18nKey {
      return getI18nKey<CompanyEnums.CompanyRevenueForRD>(COMPANY_REVENUE_FOR_RD_I18N_MAPPING, key);
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-company-preview-content {
  &--genius-types {
    display: flex;
    flex-wrap: wrap;

    /deep/ .gb-badge {
      margin-left: 0;
    }
  }
  &--bachelors-number {
    @include gb-font-key-number;
  }

  &--revenue-for-rd {
    span {
      display: flex;
      align-items: center;
      min-height: rem(30px);
      margin-left: rem(15px);
    }
  }
}
</style>
