<template>
  <gb-card :options="{}">
    <template v-slot:header>
      <h2 id="values">{{ $t('company.values') }}</h2>
    </template>
    <template v-slot:content>
      <div class="gb-company-preview-values">
        <div v-for="(value, index) in values" :key="index">
          <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE', inputWithIconIsLarge: true }">
            <template v-slot:icon>
              <gb-icon :options="{ iconName: valueMeaningIconName(index) }" />
            </template>
            <template v-slot:element>
              <div class="gb-company-preview-values--meaning">
                <gb-badge :options="{ badgeIsRounded: true }">{{ value.meaning }}</gb-badge>
              </div>
            </template>
          </gb-element-with-icon>
          <span :id="`justification-${index}`" class="gb-company-preview-values--justification">{{ value.justification }}</span>
        </div>
      </div>
    </template>
  </gb-card>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbBadge from '~/components/base-components/gb-badge.vue';
import GbCard from '~/components/base-components/gb-card.vue';
import GbElementWithIcon from '~/components/base-components/gb-element-with-icon.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import { PostValueRequestInterface } from '../../../../back/src/infrastructure/rest/career/models/post-company-request.interface';

export default Vue.extend({
  name: 'gb-company-preview-values',
  components: {
    GbCard,
    GbIcon,
    GbBadge,
    GbElementWithIcon,
  },
  props: {
    values: { required: true } as PropOptions<PostValueRequestInterface[]>,
  },
  methods: {
    valueMeaningIconName(idx: number): string {
      return `number_${idx + 1}_blue`;
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-company-preview-values {
  /deep/ .gb-element-with-icon {
    left: rem(-60px) !important;
    top: rem(-40px) !important;
  }
  &--meaning {
    display: flex;
    flex-wrap: wrap;

    /deep/ .gb-badge {
      margin-left: 0;
    }
  }
  &--justification {
    display: block;
    min-width: rem(300px);
    word-wrap: break-word;
    margin: rem(14px) 0 rem(25px) 0;
  }
}
</style>
