<template>
  <gb-card :options="{}">
    <template v-slot:header>
      <h2 id="activity-locations">{{ $t('company.activityLocations') }}</h2>
    </template>
    <template v-slot:content>
      <div class="gb-company-preview-activity-locations--content">
        <gb-element-with-icon v-if="activityLocations.quebec" :options="{ inputWithIconPosition: 'OUTSIDE' }">
          <template v-slot:icon>
            <gb-icon :options="{ iconName: 'quebec_flag' }" />
          </template>
          <template v-slot:element>
            <span> {{ activityLocations.quebec }} {{ $tc('company.site', activityLocations.quebec) }} {{ $t('company.inQuebec') }} </span>
          </template>
        </gb-element-with-icon>

        <gb-element-with-icon v-if="activityLocations.canada" :options="{ inputWithIconPosition: 'OUTSIDE' }">
          <template v-slot:icon>
            <gb-icon :options="{ iconName: 'canada_flag' }" />
          </template>
          <template v-slot:element>
            <span> {{ activityLocations.canada }} {{ $tc('company.site', activityLocations.canada) }} {{ $t('company.inCanada') }} </span>
          </template>
        </gb-element-with-icon>

        <gb-element-with-icon v-if="activityLocations.usa" :options="{ inputWithIconPosition: 'OUTSIDE' }">
          <template v-slot:icon>
            <gb-icon :options="{ iconName: 'usa_flag' }" />
          </template>
          <template v-slot:element>
            <span> {{ activityLocations.usa }} {{ $tc('company.site', activityLocations.usa) }} {{ $t('company.inUsa') }} </span>
          </template>
        </gb-element-with-icon>

        <gb-element-with-icon v-if="activityLocations.international" :options="{ inputWithIconPosition: 'OUTSIDE' }">
          <template v-slot:icon>
            <gb-icon :options="{ iconName: 'international_flag' }" />
          </template>
          <template v-slot:element>
            <span>
              {{ activityLocations.international }} {{ $tc('company.site', activityLocations.international) }} {{ $t('company.atInternational') }}
            </span>
          </template>
        </gb-element-with-icon>
      </div>
    </template>
  </gb-card>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbCard from '~/components/base-components/gb-card.vue';
import GbElementWithIcon from '~/components/base-components/gb-element-with-icon.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import { PostActivityLocationsRequestInterface } from '../../../../back/src/infrastructure/rest/career/models/post-company-request.interface';

export default Vue.extend({
  name: 'gb-company-preview-activity-locations',
  components: {
    GbElementWithIcon,
    GbIcon,
    GbCard,
  },
  props: {
    activityLocations: { required: true } as PropOptions<PostActivityLocationsRequestInterface>,
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
.gb-company-preview-activity-locations {
  &--content {
    > div {
      margin-bottom: rem(20px);
    }
    span {
      display: flex;
      align-items: center;
      min-height: rem(30px);
      margin-left: rem(15px);
    }
  }
}
</style>
