<template>
  <div class="gb-job-offer-preview-header">
    <h1 class="gb-job-offer-preview-header--title">{{ jobOffer.title }}</h1>
    <div class="columns">
      <div class="column is-8 is-multiline">
        <gb-badge :options="{ badgeIsHighlighted: true }">{{ $t(jobOfferJobStatusI18n(jobOffer.jobStatus)) }}</gb-badge>
        <gb-badge :options="{ badgeIsHighlighted: true }">{{ $t(jobOfferJobTypeI18n(jobOffer.jobType)) }}</gb-badge>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbBadge from '~/components/base-components/gb-badge.vue';
import { getI18nKey, I18nKey, JOB_OFFER_JOB_STATUS_I18N_MAPPING, JOB_OFFER_JOB_TYPE_I18N_MAPPING } from '~/utils/i18n-mapping.utils';
import { JobOfferEnums } from '../../../../back/src/infrastructure/rest/career/models/job-offer-constraints-and-enums';
import { PutJobOfferRequestInterface } from '../../../../back/src/infrastructure/rest/career/models/put-job-offer-request.interface';

export default Vue.extend({
  name: 'gb-job-offer-preview-header',
  components: {
    GbBadge,
  },
  props: {
    jobOffer: { required: true } as PropOptions<PutJobOfferRequestInterface>,
  },
  methods: {
    jobOfferJobStatusI18n(key: JobOfferEnums.JobOfferJobStatus): I18nKey {
      return getI18nKey<JobOfferEnums.JobOfferJobStatus>(JOB_OFFER_JOB_STATUS_I18N_MAPPING, key);
    },
    jobOfferJobTypeI18n(key: JobOfferEnums.JobOfferJobType): I18nKey {
      return getI18nKey<JobOfferEnums.JobOfferJobType>(JOB_OFFER_JOB_TYPE_I18N_MAPPING, key);
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-preview-header {
  border-radius: 8px;
  background-color: $gb-color-content-background;
  box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);
  padding: rem(50px) rem(80px);

  &--title {
    text-transform: uppercase;
    padding-bottom: rem(20px);
    border-bottom: 2px solid $gb-color-light-grey;
  }
}
</style>
