<template>
  <form ref="jobOfferCreateForm" class="job-offer-create">
    <gb-action-bar>
      <template v-slot:left>
        <gb-breadcrumb :options="{ backgroundColor: 'COMPANY_BACKGROUND_COLOR', isLeftBorderRounded: false, steps: breadcrumb }" />
        <gb-badge v-if="isDraftJobOffer" class="job-offer-create--status" :options="{ badgeIsRounded: true, badgeColor: 'SUCCESS_COLOR' }">
          <span> {{ $t('jobOffer.statusDraft') }}</span>
        </gb-badge>
      </template>
      <template v-slot:right>
        <div class="job-offer-create--buttons">
          <gb-button :options="{ buttonType: 'button', buttonLabelKey: 'save', buttonOnClick: onSave }" />
          <gb-button :options="{ buttonType: 'button', buttonLabelKey: 'next', buttonOnClick: onNext }" />
        </div>
      </template>
    </gb-action-bar>

    <gb-errors-summary v-if="hasDomainErrors" :options="{ domainI18nPath: 'jobOffer', domainErrors }" />
    <span class="job-offer-create--mandatory-fields">{{ $t('jobOffer.mandatoryFields') }}</span>
    <div class="job-offer-create--banner">
      <h1 class="white">{{ $t('jobOffer.newJobOffer') }}</h1>
    </div>
    <div class="block job-offer-create--header">
      <gb-job-offer-create-header :job-offer="getJobOffer" :options="{ domainErrors }" @input="setJobOfferField" />
      <gb-job-offer-create-description-and-specificities :job-offer="getJobOffer" :options="{ domainErrors }" @input="setJobOfferField" />
    </div>
    <div class="block job-offer-create--additional-fields">
      <gb-job-offer-create-additional-fields :job-offer="getJobOffer" :options="{ domainErrors }" @input="setJobOfferField" />
    </div>
    <div class="block job-offer-create--footer">
      <gb-job-offer-create-footer :job-offer="getJobOffer" :options="{}" @input="setJobOfferField" />
    </div>
  </form>
</template>

<script lang="ts">
import { isEmpty } from 'lodash';
import Vue from 'vue';
import { mapActions, mapGetters } from 'vuex';
import GbActionBar from '~/components/base-components/gb-action-bar.vue';
import GbBadge from '~/components/base-components/gb-badge.vue';
import GbBreadcrumb from '~/components/base-components/gb-breadcrumb.vue';
import GbButton from '~/components/base-components/gb-button.vue';
import GbErrorsSummary from '~/components/base-components/gb-errors-summary.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import GbJobOfferCreateAdditionalFields from '~/components/job-offer/create/gb-job-offer-create-additional-fields.vue';
import GbJobOfferCreateDescriptionAndSpecificities from '~/components/job-offer/create/gb-job-offer-create-description-and-specificities.vue';
import GbJobOfferCreateFooter from '~/components/job-offer/create/gb-job-offer-create-footer.vue';
import GbJobOfferCreateHeader from '~/components/job-offer/create/gb-job-offer-create-header.vue';
import { DomainErrorsResponseInterface } from '../../../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

export default Vue.extend({
  middleware: 'authenticatedAsCompany.middleware',
  components: {
    GbActionBar,
    GbIcon,
    GbBadge,
    GbBreadcrumb,
    GbJobOfferCreateHeader,
    GbJobOfferCreateDescriptionAndSpecificities,
    GbJobOfferCreateAdditionalFields,
    GbJobOfferCreateFooter,
    GbErrorsSummary,
    GbButton,
  },
  async asyncData({ app: { $apiService }, store: { dispatch }, params: { id } }): Promise<void> {
    if (id) {
      await dispatch('job-offer-create-module/setJobOfferId', id);
      await dispatch('job-offer-create-module/getJobOffer', { apiService: $apiService });
    }
  },
  data() {
    return {
      domainErrors: {} as DomainErrorsResponseInterface,
      breadcrumb: [
        {
          i18nLabel: 'jobOffer.breadcrumbCreateLabel',
          path: 'job-offer/create',
        },
        {
          i18nLabel: 'jobOffer.breadcrumbPreviewLabel',
          path: 'job-offer/preview',
        },
      ],
    };
  },
  methods: {
    ...mapActions('job-offer-create-module', ['setJobOfferField', 'validateJobOffer', 'submitAsDraftJobOffer']),
    async onSave(): Promise<void> {
      this.cleanDomainErrors();
      try {
        await this.submitAsDraftJobOffer({ apiService: this.$apiService });

        if (isEmpty(this.$route.params.id)) {
          this.$router.push({ path: `create/${this.$store.state['job-offer-create-module'].id}` });
        }
      } catch (error) {
        this.domainErrors = error.domainErrors;
      }
    },
    async onNext(): Promise<void> {
      this.cleanDomainErrors();
      if (this.validateForm()) {
        try {
          await this.validateJobOffer({ apiService: this.$apiService });

          const path: string = isEmpty(this.$route.params.id) ? 'preview' : `../preview/${this.$route.params.id}`;
          this.$router.push({ path });
        } catch (error) {
          this.domainErrors = error.domainErrors;
        }
      }
    },
    validateForm(): boolean {
      // HACK: This method only exist to ease validation mocking on tests. We should find a way to mock HTML5 checkValidity standard instead of having this method.
      return (
        (this.$refs.jobOfferCreateForm as HTMLFormElement).checkValidity() || (this.$refs.jobOfferCreateForm as HTMLFormElement).reportValidity()
      );
    },
    cleanDomainErrors(): void {
      this.domainErrors = {};
    },
  },
  computed: {
    ...mapGetters('job-offer-create-module', ['getJobOffer', 'isDraftJobOffer']),
    hasDomainErrors(): boolean {
      return !isEmpty(this.domainErrors);
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.job-offer-create {
  /deep/ .job-offer-create--status {
    max-width: rem(137px);
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  &--buttons {
    /deep/ button {
      margin-left: rem(20px);
    }
  }

  &--mandatory-fields {
    @include gb-font-text-placeholder;
    display: block;
    width: 100%;
    text-align: right;
  }
  &--banner {
    background-image: url('/img/job_offer_banner.svg');
    background-size: contain;
    background-repeat: repeat-x;
    padding: rem(20px) rem(90px);
    text-transform: uppercase;
  }
  &--additional-fields {
    border-radius: 8px;
    margin-top: rem(56px);
  }
  .block {
    background-color: $gb-color-content-background;
    padding: rem(48px) rem(90px);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);
  }
  &--footer {
    margin-top: -10px;
    border-radius: 8px;
    background-color: $gb-color-light-grey !important;
    box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);
  }
}
</style>
