<template>
  <div class="gb-action-bar">
    <div>
      <slot name="left"></slot>
    </div>
    <div>
      <slot name="right"></slot>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'gb-action-bar',
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';
@import '~assets/scss/_variables.scss';

.gb-action-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: rem($gb-action-bar-height);
  margin-top: rem($gb-header-height);
  padding-left: rem(22px);
  padding-right: rem(22px);
  background-color: rgba(255, 255, 255, 0.7);

  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
</style>
