<template>
  <div class="gb-block">
    <gb-error-messages v-if="hasErrors" :options="{ domainFieldErrors: options.inputErrors }" />
    <span class="gb-block--header">
      <slot name="header"></slot>
    </span>
    <p v-if="hasSubheaderSlot" class="gb-block--subheader">
      <slot name="subheader"></slot>
    </p>
    <div class="gb-block--content">
      <slot name="content"></slot>
    </div>
  </div>
</template>

<script lang="ts">
import { isEmpty } from 'lodash';

import Vue, { PropOptions } from 'vue';
import GbErrorMessages from '~/components/base-components/gb-error-messages.vue';

import { DomainFieldErrorsResponseInterface } from '../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbBlockProps {
  inputErrors?: DomainFieldErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-block',
  components: {
    GbErrorMessages,
  },
  props: {
    options: { required: false } as PropOptions<GbBlockProps>,
  },
  computed: {
    hasErrors(): boolean {
      return this.options && !isEmpty(this.options.inputErrors);
    },
    hasSubheaderSlot(): boolean {
      return !!this.$slots.subheader;
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-block {
  display: flex;
  flex-direction: column;
  &--header {
    @include gb-font-text-label-uppercase;
  }

  &--content {
    margin: rem(20px) 0;
  }
}
</style>
