<template>
  <div class="gb-breadcrumb" :class="gbBreadcrumbClass">
    <div
      class="gb-breadcrumb--step"
      :class="{ 'gb-breadcrumb--step--current': isCurrentStep(step.path), 'gb-breadcrumb--step--past': isPastStep(step.path) }"
      v-for="step in options.steps"
      :key="step.path"
    >
      <span>{{ $t(step.i18nLabel) }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';

enum GbBreadcrumbBackgroundColor {
  COMPANY_BACKGROUND_COLOR = 'COMPANY_BACKGROUND_COLOR',
  CANDIDATE_BACKGROUND_COLOR = 'CANDIDATE_BACKGROUND_COLOR',
}
interface GbBreadcrumbOptionsStep {
  i18nLabel: string;
  path: string;
}

interface GbBreadcrumbOptionsProps {
  backgroundColor: GbBreadcrumbBackgroundColor;
  isLeftBorderRounded: boolean;
  steps: GbBreadcrumbOptionsStep[];
}

export default Vue.extend({
  name: 'gb-breadcrumb',
  props: {
    options: { required: true } as PropOptions<GbBreadcrumbOptionsProps>,
  },
  data() {
    return {
      gbBreadcrumbClass: {
        'gb-breadcrumb--company': this.options.backgroundColor === GbBreadcrumbBackgroundColor.COMPANY_BACKGROUND_COLOR,
        'gb-breadcrumb--candidate': this.options.backgroundColor === GbBreadcrumbBackgroundColor.CANDIDATE_BACKGROUND_COLOR,
        'gb-breadcrumb--left-border-rounded': this.options.isLeftBorderRounded,
      },
    };
  },
  methods: {
    isCurrentStep(path: string): boolean {
      return this.$route.path.includes(path);
    },
    isPastStep(path: string): boolean {
      const stepIndex: number = this.options.steps.findIndex((step: GbBreadcrumbOptionsStep) => path === step.path);
      const currentIndex: number = this.options.steps.findIndex((step: GbBreadcrumbOptionsStep) => this.isCurrentStep(step.path));

      return stepIndex < currentIndex;
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-breadcrumb {
  @include gb-font-h-3;
  text-transform: uppercase;
  display: flex;
  height: 100%;

  filter: drop-shadow(2px 2px 17px rgba(224, 224, 224, 0.5));

  &--step {
    padding: 0 rem(15px);
    display: flex;
    align-items: center;

    > span {
      opacity: 0.3;
    }
    &.gb-breadcrumb--step--past {
      > span {
        opacity: 0.5;
      }
    }
    &.gb-breadcrumb--step--current {
      > span {
        opacity: 1;
      }
    }
  }

  &.gb-breadcrumb--company {
    .gb-breadcrumb--step--past,
    .gb-breadcrumb--step--current {
      background-color: $gb-color-company-secondary;
    }
  }
  &.gb-breadcrumb--candidate {
    .gb-breadcrumb--step--past,
    .gb-breadcrumb--step--current {
      background-color: $gb-color-candidate-secondary;
    }
  }
  &.gb-breadcrumb--left-border-rounded {
    border-radius: 45.5px;
  }

  &--step--past {
    @include gb-font-text-label-uppercase-white;
  }
  &--step--current {
    @include gb-font-text-label-uppercase-white;
    border-top-right-radius: 45.5px;
    border-bottom-right-radius: 45.5px;
  }
}
</style>
