<template>
  <button
    class="gb-button"
    :type="options.buttonType ? options.buttonType : 'button'"
    v-on="options.buttonOnClick ? { click: options.buttonOnClick } : {}"
  >
    {{ $t(options.buttonLabelKey) }}
  </button>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';

interface GbButtonProps {
  buttonType?: string;
  buttonLabelKey: string;
  buttonOnClick?: () => void;
}

export default Vue.extend({
  name: 'gb-button',
  props: {
    options: { required: true } as PropOptions<GbButtonProps>,
  },
});
</script>

<style scoped lang="scss">
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-button {
  @include gb-font-h-3;

  height: rem(35px);
  min-width: rem(200px);
  background-color: $gb-color-primary;
  text-align: center;
  text-transform: uppercase;
  color: $gb-color-white;
  border: 0 none transparent;
  border-radius: 18.5px;
  cursor: pointer;
  padding: 0 rem(20px);

  &:hover {
    background-color: $gb-color-primary-hover;
  }
}
</style>
