<template>
  <div
    class="gb-badge"
    :class="{
      'gb-round': options.badgeIsRounded,
      'gb-highlight': options.badgeIsHighlighted,
      'gb-with-icon': hasIconSlot,
      'gb-success': isSuccess,
      'gb-b2c': isB2C,
      'gb-b2b': isB2B,
      'gb-neutral': isNeutral,
    }"
  >
    <slot name="icon"></slot>
    <span><slot></slot></span>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';

enum GbBadgeColor {
  SUCCESS_COLOR = 'SUCCESS_COLOR',
  NEUTRAL_COLOR = 'NEUTRAL_COLOR',
  B2C_COLOR = 'B2C_COLOR',
  B2B_COLOR = 'B2B_COLOR',
}

interface GbBadgeProps {
  badgeIsRounded?: boolean;
  badgeIsHighlighted?: boolean;
  badgeColor?: GbBadgeColor;
}

export default Vue.extend({
  name: 'gb-badge',
  props: {
    options: { required: true } as PropOptions<GbBadgeProps>,
  },
  computed: {
    isSuccess(): boolean {
      return GbBadgeColor.SUCCESS_COLOR === this.options.badgeColor;
    },
    isNeutral(): boolean {
      return !this.options || GbBadgeColor.NEUTRAL_COLOR === this.options.badgeColor;
    },
    isB2C(): boolean {
      return GbBadgeColor.B2C_COLOR === this.options.badgeColor;
    },
    isB2B(): boolean {
      return !this.options || GbBadgeColor.B2B_COLOR === this.options.badgeColor;
    },
    hasIconSlot(): boolean {
      return !!this.$slots['icon'];
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';
@import '~assets/scss/_mixins.scss';

.gb-badge {
  @include gb-label-box;
  @include gb-grey-text-on-white-background;
  border: 0 none transparent;

  &.gb-highlight {
    @include gb-white-text-on-blue-background;
  }

  &.gb-round {
    border-radius: 18.5px;
  }

  &.gb-success {
    @include gb-font-text-style-draft;
    background-color: $gb-color-button-success;
    color: $gb-color-text-success;
  }

  &.gb-b2c {
    @include gb-font-text-style-blue-button;
    background-color: $gb-color-candidate-secondary;
    color: $gb-color-white;
  }
  &.gb-neutral {
    @include gb-font-text-label;
    background-color: $gb-color-b-2-c-background;
    color: $gb-color-text;
  }

  &.gb-b2b {
    @include gb-label-box;
    @include gb-grey-text-on-white-background;
    background-color: $gb-color-b-2-b-background;
    color: $gb-color-text;
  }

  &.gb-with-icon {
    position: relative;
    /deep/ img {
      position: absolute;
      left: 5px;
    }
  }
}
</style>
