<template>
  <div class="gb-company-logo">
    <div class="oval" :class="{ 'is-large': options.isLarge }">
      <gb-icon v-if="options.isLocked" :options="{ iconName: 'padlock_grey' }" />
      <img v-else class="gb-company-logo--image" :src="companyLogoSrc" :alt="companyLogoAlt" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import { LogoResponseInterface } from '../../../back/src/infrastructure/rest/career/models/company-response.interface';

interface GbCompanyLogoProps {
  logo: LogoResponseInterface;
  alt: string;
  isLocked?: boolean;
  isLarge?: boolean;
}

export default Vue.extend({
  name: 'gb-company-logo',
  props: {
    options: { required: true } as PropOptions<GbCompanyLogoProps>,
  },
  components: {
    GbIcon,
  },
  computed: {
    companyLogoSrc(): string {
      return `data:${this.options.logo.mimeType};base64,${this.options.logo.base64}`;
    },
    companyLogoAlt(): string {
      return `${this.options.alt} logo`;
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-company-logo {
  padding: 0;
  margin: rem(10px);

  .oval {
    height: rem(100px);
    width: rem(100px);
    background-color: $gb-color-white;
    box-shadow: 2px 2px 11px 0 rgba(224, 224, 224, 0.5);
    border-radius: 50%;

    img {
      height: rem(49px);
      width: rem(35px);
      padding: rem(20px 32px);

      &.gb-company-logo--image {
        padding: rem(15px);
        width: rem(70px);
        height: rem(70px);
        object-fit: contain;
      }
    }

    &.is-large {
      height: rem(166px);
      width: rem(166px);

      img {
        height: rem(80px);
        width: rem(60px);
        padding: rem(35px 53px);

        &.gb-company-logo--image {
          padding: rem(25px);
          width: rem(115px);
          height: rem(115px);
        }
      }
    }
  }
}
</style>
