<template>
  <div class="gb-confirmation-card columns is-centered">
    <div class="column is-offset-1 is-8">
      <h2><slot name="header" /></h2>
      <p><slot name="subheader" /></p>
      <p><slot name="content" /></p>
      <div>
        <slot name="actions" />
      </div>
    </div>
    <div class="gb-confirmation-card--icon column is-flex">
      <gb-icon :options="{ iconName: 'valid' }" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import GbIcon from '~/components/base-components/gb-icon.vue';

export default Vue.extend({
  components: {
    GbIcon,
  },
});
</script>

<style scoped lang="scss">
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-confirmation-card {
  background-color: $gb-color-white;
  margin: 10%;
  border-radius: 8px;
  background-color: $gb-color-content-background;
  box-shadow: -17px 17px 0px 0px rgba(8, 16, 116, 1);

  h2 {
    margin-bottom: rem(30px);
  }
  p {
    margin-top: rem(20px);

    &:last-of-type {
      margin-bottom: rem(60px);
    }
  }

  &--icon {
    justify-content: center;
  }

  /deep/ button {
    margin-right: rem(20px);
  }
}
</style>
