<template>
  <div class="gb-card" :class="{ 'gb-error': options.cardHasError }">
    <h2>
      <slot name="header"></slot>
    </h2>
    <div class="gb-card--subheader">
      <slot name="subheader"></slot>
    </div>
    <div class="gb-card--content">
      <slot name="content"></slot>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';

interface GbCardProps {
  cardHasError: boolean;
}

export default Vue.extend({
  name: 'gb-card',
  props: {
    options: { required: true } as PropOptions<GbCardProps>,
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_main.scss';
@import '~assets/scss/_variables.scss';
@import '~assets/scss/_gb-styleguide.scss';

.gb-card {
  border-radius: 8px;
  background-color: $gb-color-content-background;
  box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);

  padding: rem(37px) rem(94px);
  min-height: rem(222px - (37px * 2));

  margin: rem($layout-gap * 2) 0;

  &--subheader {
    min-height: rem(25px);
  }
  &.gb-error {
    border: 5px solid $gb-color-error-message-background;
  }
}
</style>
