<template>
  <div class="gb-errors-summary">
    <div class="gb-errors-summary--icon">
      <gb-icon :options="{ iconName: 'warning_red', iconAlternativeTextKey: 'error' }" />
    </div>
    <div>
      <span>{{ $t('errorsSummary.header') }}</span>
      <ul class="gb-errors-summary--list">
        <li v-for="domainErrorKey in domainErrorsKeys">{{ $t(i18nKey(domainErrorKey)) }}</li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import { keys } from 'lodash';
import Vue, { PropOptions } from 'vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import { DomainErrorsResponseInterface } from '../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbErrorsSummaryProps {
  domainI18nPath: string;
  domainErrors: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-errors-summary',
  components: {
    GbIcon,
  },
  props: {
    options: { required: true } as PropOptions<GbErrorsSummaryProps>,
  },
  computed: {
    domainErrorsKeys(): string[] {
      return keys(this.options.domainErrors);
    },
  },
  methods: {
    i18nKey(domainErrorKey: string): string {
      return `${this.options.domainI18nPath}.${domainErrorKey}`;
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-errors-summary {
  background-color: $gb-color-error-message-background;
  color: $gb-color-error-message-font;
  box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);
  padding: rem(15px) rem(100px);
  margin: rem(12px) 0;

  div {
    display: inline-block;
  }
  span {
    display: block;
  }
  &--icon {
    margin-right: rem(10px);
    vertical-align: 100%;
  }
  &--list {
    list-style: none;
    margin: 0;
    padding-left: 1em;

    li:before {
      display: inline-block;
      content: '-';
      width: 1em;
      margin-left: -1em;
    }
  }
}
</style>
