<template>
  <div class="gb-element-with-icon" :class="{ inside: isPositionInside, outside: !isPositionInside, 'gb-large': options.inputWithIconIsLarge }">
    <slot name="element"></slot>
    <div class="gb-element-with-icon--icon-container">
      <div :class="{ 'gb-element-with-icon': true, 'gb-element-with-icon--icon-background': options.inputWithIconIsRounded }">
        <slot name="icon"></slot>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';

enum GbElementWithIconPosition {
  INSIDE = 'INSIDE',
  OUTSIDE = 'OUTSIDE',
}

interface GbElementWithIconProps {
  inputWithIconPosition: GbElementWithIconPosition;
  inputWithIconIsLarge: boolean;
  inputWithIconIsRounded: boolean;
}

export default Vue.extend({
  name: 'gb-element-with-icon',
  props: { options: { required: true } as PropOptions<GbElementWithIconProps> },
  computed: {
    isPositionInside(): boolean {
      return this.options.inputWithIconPosition === GbElementWithIconPosition.INSIDE;
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-element-with-icon {
  display: block;
  &.inside {
    /deep/ input {
      padding-left: rem(50px);
    }

    .gb-element-with-icon--icon-container {
      position: relative;

      .gb-element-with-icon {
        position: absolute;
        left: 0;
        top: rem(-35px);

        height: rem(38px);
        width: rem(38px);
        border-radius: 50%;

        &--icon-background {
          background-color: $gb-color-text-placeholder;
        }
      }

      /deep/ img {
        height: rem(20.5px);
        width: rem(20.5px);
        padding: rem(9px);
      }
    }

    &.gb-large {
      .gb-element-with-icon {
        top: rem(-40px);
      }
    }
  }

  &.outside {
    .gb-element-with-icon--icon-container {
      position: relative;

      .gb-element-with-icon {
        position: absolute;
        left: rem(-40px);
        top: rem(-28px);

        &--icon-background {
          border-radius: 50%;
          background-color: $gb-color-light-grey;
        }
      }
    }

    &.gb-large {
      .gb-element-with-icon {
        top: rem(-32px);
      }
    }
  }
}
</style>
