<template>
  <div class="gb-error-messages">
    <div class="gb-error-messages--icon">
      <gb-icon :options="{ iconName: 'warning_circle_red', iconAlternativeTextKey: 'error' }" />
    </div>
    <span v-for="i18nMessage in options.domainFieldErrors.i18nMessageKeys">{{ $t(i18nMessage) }}</span>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import { DomainFieldErrorsResponseInterface } from '../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbErrorMessagesProps {
  domainFieldErrors: DomainFieldErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-error-messages',
  components: {
    GbIcon,
  },
  props: {
    options: { required: true } as PropOptions<GbErrorMessagesProps>,
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-error-messages {
  @include gb-font-error-message-light;

  color: $gb-color-error-message-font;

  span {
    vertical-align: text-bottom;
    display: inline-block;
  }
  &--icon {
    display: inline-block;
    vertical-align: middle;
  }
}
</style>
