<template>
  <div>
    <h3 v-if="options.inputLabelKey">
      <label :for="options.inputId">{{ label }}</label>
    </h3>
    <gb-error-messages v-if="hasErrors" :options="{ domainFieldErrors: options.inputErrors }" />
    <input
      :id="options.inputId"
      :value="value"
      @input="onInput"
      :placeholder="placeholder"
      type="text"
      :required="options.inputRequired"
      :maxlength="options.inputMaxLength"
      class="gb-input-text"
      :class="{ 'gb-large': options.inputIsLarge, 'gb-error': hasErrors }"
    />
  </div>
</template>

<script lang="ts">
import { isEmpty } from 'lodash';
import Vue, { PropOptions } from 'vue';
import GbErrorMessages from '~/components/base-components/gb-error-messages.vue';
import { DomainFieldErrorsResponseInterface } from '../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbInputTextProps {
  inputId: string;
  inputLabelKey: string;
  inputPlaceholderKey: string;
  inputRequired?: boolean;
  inputMaxLength?: number;
  inputIsLarge?: boolean;
  inputErrors?: DomainFieldErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-input-text',
  components: {
    GbErrorMessages,
  },
  props: {
    value: { required: true } as PropOptions<string>,
    options: { required: true } as PropOptions<GbInputTextProps>,
  },
  computed: {
    hasErrors(): boolean {
      return !isEmpty(this.options.inputErrors);
    },
    placeholder(): string {
      return `${this.$t(this.options.inputPlaceholderKey)}${this.options.inputRequired ? '*' : ''}`;
    },
    label(): string {
      return `${this.$t(this.options.inputLabelKey)}${this.options.inputRequired && !this.options.inputPlaceholderKey ? '*' : ''}`;
    },
  },
  methods: {
    onInput(event: Event): void {
      this.$emit('input', (event.target as HTMLInputElement).value);
    },
  },
});
</script>

<style scoped lang="scss">
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-input-text {
  box-sizing: border-box;
  height: rem(30px);
  width: 100%;
  background-color: $gb-color-white;
  border-radius: 18.5px;
  padding-left: rem(18.5px);
  border: 0 none transparent;

  &.gb-large {
    height: rem(44px);
    border-radius: 22px;
    padding-left: rem(22px);
    border: 0.5px solid $gb-color-input-border;
  }

  &.gb-error {
    border: 5px solid $gb-color-error-message-background;
  }
}
</style>
