<template>
  <div class="gb-input-date">
    <h3 v-if="options.inputLabelKey">
      <label :for="options.inputId">{{ label }}</label>
    </h3>
    <gb-error-messages v-if="hasErrors" :options="{ domainFieldErrors: options.inputErrors }" />
    <client-only>
      <date-picker
        :input-class="{ 'gb-input-date--input': true, 'gb-large': options.inputIsLarge, 'gb-error': hasErrors }"
        :id="options.inputId"
        :value="valueAsString"
        :placeholder="placeholder"
        :required="options.inputRequired"
        :class="{ 'gb-large': options.inputIsLarge, 'gb-error': hasErrors }"
        :min="minimumDate"
        :max="maximumDate"
        :format="options.inputPattern"
        :use-utc="true"
        @input="onInput"
      />
    </client-only>
  </div>
</template>

<script lang="ts">
import { isEmpty } from 'lodash';
import Vue, { PropOptions } from 'vue';
import GbErrorMessages from '~/components/base-components/gb-error-messages.vue';

import { DomainFieldErrorsResponseInterface } from '../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbInputDateProps {
  inputId: string;
  inputLabelKey: string;
  inputPlaceholderKey: string;
  inputMin?: Date;
  inputMax?: Date;
  inputPattern?: string;
  inputRequired?: boolean;
  inputIsLarge?: boolean;
  inputErrors?: DomainFieldErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-input-date',
  components: {
    GbErrorMessages,
  },
  props: {
    value: { required: true } as PropOptions<Date>,
    options: { required: true } as PropOptions<GbInputDateProps>,
  },
  computed: {
    hasErrors(): boolean {
      return !isEmpty(this.options.inputErrors);
    },
    valueAsString(): string {
      return this.value instanceof Date || !isEmpty(this.value) ? this.getISODate(new Date(this.value)) : '';
    },
    placeholder(): string {
      return this.options.inputPlaceholderKey ? `${this.$t(this.options.inputPlaceholderKey)}${this.options.inputRequired ? '*' : ''}` : '';
    },
    label(): string {
      return `${this.$t(this.options.inputLabelKey)}${this.options.inputRequired && !this.options.inputPlaceholderKey ? '*' : ''}`;
    },
    minimumDate(): string {
      return this.options.inputMin ? this.getISODate(this.options.inputMin) : '';
    },
    maximumDate(): string {
      return this.options.inputMax ? this.getISODate(this.options.inputMax) : '';
    },
  },
  methods: {
    onInput(utcDate: Date): void {
      const dateWithoutTimeZoneDifference: Date = new Date(utcDate.getUTCFullYear(), utcDate.getUTCMonth(), utcDate.getUTCDate(), 0, 0, 0);
      this.$emit('input', dateWithoutTimeZoneDifference);
    },
    getISODate(date: Date): string {
      return date.toISOString().split('T')[0];
    },
  },
});
</script>

<style scoped lang="scss">
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-input-date {
  /deep/ .gb-input-date--input {
    box-sizing: border-box;
    height: rem(30px);
    width: 100%;
    background-color: $gb-color-white;
    border-radius: 18.5px;
    padding-left: rem(18.5px);
    border: 0 none transparent;

    &::before {
      content: attr(placeholder) !important;
      color: #aaa;

      margin-right: 2em;
    }
    &:focus:before,
    :valid:before {
      margin-right: 0;
      content: '' !important;
    }

    &.gb-large {
      height: rem(44px);
      border-radius: 22px;
      padding-left: rem(22px);
      border: 0.5px solid $gb-color-input-border;
    }

    &.gb-error {
      border: 5px solid $gb-color-error-message-background;
    }
  }
}
</style>
