<template>
  <div class="gb-input-image-file">
    <div class="gb-input-image-file--file-upload-container">
      <div class="gb-input-image-file--file-upload" :style="uploadedFileAsBackgroundImageStyle">
        <file-upload
          :post-action="apiUploadEndpoint"
          :multiple="false"
          :drop="true"
          :drop-directory="false"
          :extensions="options.inputFileAcceptedExtensions"
          :accept="inputFileAcceptedMimeTypesAsString"
          @input="onInput"
          ref="fileUploadComponent"
        />
      </div>
    </div>

    <div class="gb-input-image-file--upload-button-container">
      <gb-button
        :options="{
          buttonLabelKey: 'logo.add',
          buttonOnClick: uploadImageFile,
        }"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { isEmpty } from 'lodash';
import Vue, { PropOptions } from 'vue';
import GbButton from '~/components/base-components/gb-button.vue';
import { DomainErrorsResponseInterface } from '../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';
import { TemporaryFileResponseInterface } from '../../../back/src/infrastructure/rest/upload/models/temporary-file-response.interface';

interface GbInputImageFileProps {
  inputFileAcceptedMimeTypes: string[];
  inputFileAcceptedExtensions: string[];
}

export default Vue.extend({
  name: 'gb-input-image-file',
  props: {
    value: { required: true } as PropOptions<TemporaryFileResponseInterface>,
    options: { required: true } as PropOptions<GbInputImageFileProps>,
  },
  components: {
    GbButton,
  },
  computed: {
    apiUploadEndpoint(): string {
      return '/api/upload/file/temporary';
    },
    uploadedFileAsBackgroundImageStyle(): object {
      if (this.value.base64) {
        return {
          backgroundImage: `url(data:${this.value.mimeType};base64,${this.value.base64})`,
          backgroundSize: 'contain',
        };
      }
      return {};
    },
    inputFileAcceptedMimeTypesAsString(): string {
      return this.options.inputFileAcceptedMimeTypes.join(',');
    },
  },
  methods: {
    onInput(files: { response: TemporaryFileResponseInterface }[]): void {
      // TODO I did not find a way to properly check that 'active' property has been set to 'true' in tests
      // @ts-ignore
      this.$refs.fileUploadComponent.active = true;

      const hasACompleteResponse: boolean = !isEmpty(files[0]);
      if (hasACompleteResponse) {
        // @ts-ignore
        const domainErrors: DomainErrorsResponseInterface = files[0].response.domainErrors;
        if (domainErrors) {
          this.$emit('error', domainErrors);
        } else {
          this.$emit('input', files[0].response as TemporaryFileResponseInterface);
        }
      }
    },
    uploadImageFile(): void {
      this.$emit('upload');
    },
  },
});
</script>

<style scoped lang="scss">
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-input-image-file {
  text-align: right;

  &--file-upload-container {
    height: rem(300px);
    width: rem(300px);
    border-radius: 8px;
    border: 2px dashed $gb-color-light-grey;
    text-align: center;
    display: inline-block;
    cursor: pointer;
  }

  &--file-upload {
    display: inline-block;
    margin-top: rem(10px);
    height: rem(280px);
    width: rem(280px);
    box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);
    border-radius: 50%;
    border: 2px solid $gb-color-light-grey;
    background: $gb-color-light-grey url('/icons/add_button_white.svg') no-repeat center;
    cursor: pointer;

    & * {
      display: inline-block;
      height: 100%;
      width: 100%;
    }
  }

  &--upload-button-container {
    margin-top: rem(30px);
  }
}
</style>
