<template>
  <fieldset class="gb-input-checkbox-multiple">
    <legend v-if="options.inputLabelKey">{{ label }}</legend>
    <gb-error-messages v-if="hasErrors" :options="{ domainFieldErrors: options.inputErrors }" />
    <div class="gb-input-checkbox-multiple--options">
      <div v-for="(option, index) in options.inputOptions" :key="option.optionLabelKey">
        <input
          type="checkbox"
          :id="optionId(index)"
          :name="options.inputName"
          :value="option.optionValue"
          :required="options.inputRequired"
          :checked="isChecked(option.optionValue)"
          @change="onChange(option.optionValue)"
        />
        <label :for="optionId(index)">{{ $t(option.optionLabelKey) }}</label>
      </div>
    </div>
  </fieldset>
</template>

<script lang="ts">
import { includes, isEmpty, remove } from 'lodash';
import Vue, { PropOptions } from 'vue';
import GbErrorMessages from '~/components/base-components/gb-error-messages.vue';

import { DomainFieldErrorsResponseInterface } from '../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbInputCheckboxMultipleInputOptionsProps {
  optionLabelKey: string;
  optionValue: string;
}

interface GbInputCheckboxMultipleOptionsProps {
  inputId: string;
  inputName: string;
  inputLabelKey: string;
  inputRequired?: boolean;
  inputOptions: GbInputCheckboxMultipleInputOptionsProps[];
  inputErrors?: DomainFieldErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-input-checkbox-multiple',
  components: {
    GbErrorMessages,
  },
  props: {
    value: { required: true } as PropOptions<string[]>,
    options: { required: true } as PropOptions<GbInputCheckboxMultipleOptionsProps>,
  },
  computed: {
    hasErrors(): boolean {
      return !isEmpty(this.options.inputErrors);
    },
    label(): string {
      return this.options.inputLabelKey ? `${this.$t(this.options.inputLabelKey)}${this.options.inputRequired ? '*' : ''}` : '';
    },
  },
  methods: {
    optionId(index: number): string {
      return `${this.options.inputId}_${index + 1}`;
    },
    isChecked(optionValue: string): boolean {
      return includes(this.value, optionValue);
    },
    onChange(optionValue: string): void {
      const values: string[] = this.value ? [...this.value] : [];
      if (this.isChecked(optionValue)) {
        remove(values, (value: string) => optionValue === value);
      } else {
        values.push(optionValue);
      }
      this.$emit('input', values);
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';
@import '~assets/scss/_mixins.scss';

.gb-input-checkbox-multiple {
  padding: 0;
  margin: rem(10px) 0;
  legend {
    @include gb-font-h-3;
    display: flex;
    margin: rem(20px) 0;
    padding: 0;
  }
  &--options {
    display: flex;
    flex-wrap: wrap;
  }
  input[type='checkbox'] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  label {
    @include gb-label-box;
    @include gb-grey-text-on-white-background;
    cursor: pointer;
    max-width: rem(300px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  input[type='checkbox']:checked + label {
    @include gb-white-text-on-blue-background;
  }
}
</style>
