<template>
  <div class="gb-input-checkbox">
    <label :for="options.inputId">
      <input type="checkbox" :id="options.inputId" :name="options.inputName" :checked="value" @change="onChange" />
      <span class="gb-input-checkbox--control"></span>
      <span class="gb-input-checkbox--label">{{ $t(options.inputLabelKey) }}</span>
    </label>
  </div>
</template>

<script lang="ts">
  import Vue, { PropOptions } from 'vue';
  import { DomainFieldErrorsResponseInterface } from '../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

  interface GbInputCheckboxProps {
  inputId: string;
  inputName: string;
  inputValue: string;
  inputLabelKey: string;
  inputErrors?: DomainFieldErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-input-checkbox',
  props: {
    value: { required: true } as PropOptions<boolean>,
    options: { required: true } as PropOptions<GbInputCheckboxProps>,
  },
  methods: {
    onChange(): void {
      this.$emit('input', !this.value);
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-input-checkbox {
  label {
    cursor: pointer;
  }
  input[type='checkbox'] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  &--control {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 11px;
    margin-right: rem(10px);
    background-color: $gb-color-white;
    border: 0.5px solid $gb-color-input-border;
  }
  &--label {
    @include gb-font-text-label
    display: inline-block;
    vertical-align: middle;
  }
  input:checked + .gb-input-checkbox--control:after {
    content: '';
    display: block;
    position: absolute;
    left: -1px;
    width: 11px;
    height: 11px;
    border: 0.5px solid $gb-color-company-secondary;
    background-color: $gb-color-company-secondary;
  }
}
</style>
