<template>
  <fieldset class="gb-input-radio">
    <legend v-if="options.inputLabelKey">{{ label }}</legend>
    <gb-error-messages v-if="hasErrors" :options="{ domainFieldErrors: options.inputErrors }" />
    <div class="gb-input-radio--options">
      <div v-for="(option, index) in options.inputOptions" :key="option.optionLabelKey">
        <input
          type="radio"
          :value="option.optionValue"
          @change="onChange(option.optionValue)"
          :id="optionId(index)"
          :name="options.inputName"
          :required="options.inputRequired"
          :checked="isChecked(option.optionValue)"
        />
        <label :for="optionId(index)">{{ $t(option.optionLabelKey) }}</label>
      </div>
    </div>
  </fieldset>
</template>

<script lang="ts">
import { isEmpty } from 'lodash';
import Vue, { PropOptions } from 'vue';
import GbErrorMessages from '~/components/base-components/gb-error-messages.vue';
import { DomainFieldErrorsResponseInterface } from '../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbInputRadioInputOptionProps {
  optionLabelKey: string;
  optionValue: string;
}
interface GbInputRadioOptionsProps {
  inputId: string;
  inputName: string;
  inputOptions: GbInputRadioInputOptionProps[];
  inputRequired?: boolean;
  inputLabelKey?: string;
  inputErrors?: DomainFieldErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-input-radio',
  components: {
    GbErrorMessages,
  },
  props: {
    value: { required: true } as PropOptions<string>,
    options: { required: true } as PropOptions<GbInputRadioOptionsProps>,
  },
  computed: {
    hasErrors(): boolean {
      return !isEmpty(this.options.inputErrors);
    },
    label(): string {
      return this.options.inputLabelKey ? `${this.$t(this.options.inputLabelKey)}${this.options.inputRequired ? '*' : ''}` : '';
    },
  },
  methods: {
    optionId(index: number): string {
      return `${this.options.inputId}_${index + 1}`;
    },
    onChange(value: string): void {
      this.$emit('input', value);
    },
    isChecked(optionValue: string) {
      return optionValue === this.value;
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';
@import '~assets/scss/_mixins.scss';

.gb-input-radio {
  margin: rem(10px) 0;
  padding: rem(10px) 0;

  legend {
    @include gb-font-text-label-uppercase;
    margin-bottom: rem(5px);
  }
  &--options {
    display: flex;
    flex-wrap: wrap;
  }
  input[type='radio'] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  label {
    @include gb-label-box;
    @include gb-grey-text-on-white-background;
    cursor: pointer;
  }
  input[type='radio']:checked + label {
    @include gb-white-text-on-blue-background;
  }
}
</style>
