<template>
  <img :src="svgFilePath" :alt="$t(options.iconAlternativeTextKey)" />
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';

interface GbIconProps {
  iconName: string;
  iconAlternativeTextKey: string;
}

export default Vue.extend({
  name: 'gb-icon',
  props: {
    options: { required: true } as PropOptions<GbIconProps>,
  },
  computed: {
    svgFilePath(): string {
      return `/icons/${this.options.iconName}.svg`;
    },
  },
});
</script>

<style scoped></style>
