<template>
  <div class="gb-login-block" :class="{ 'gb-login-block--is-large': isLarge }">
    <div class="gb-login-block--icon">
      <gb-icon :options="{ iconName: 'padlock_grey' }" />
    </div>
    <div class="gb-login-block--content">
      <div class="gb-login-block--text">{{ $t('loginBlock') }}</div>
      <div class="gb-login-block--login-button">
        <gb-button
          :options="{
            buttonLabelKey: 'login',
            buttonOnClick: onLoginClick,
          }"
          class="login"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbButton from '~/components/base-components/gb-button.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import { getLoginUrl } from '~/utils/authentication.utils';

interface GbLoginBlockOptionsProps {
  isLarge?: boolean;
}

export default Vue.extend({
  name: 'gb-login-block',
  components: {
    GbIcon,
    GbButton,
  },
  props: {
    options: { required: false } as PropOptions<GbLoginBlockOptionsProps>,
  },
  computed: {
    isLarge(): boolean {
      return this.options ? !!this.options.isLarge : false;
    },
  },
  methods: {
    onLoginClick(): void {
      window.location.replace(getLoginUrl(this.$route.fullPath));
    },
  },
});
</script>

<style lang="scss" scoped>
@import 'sass-rem';
@import '~assets/scss/_mixins.scss';
@import '~assets/scss/_gb-styleguide.scss';

.gb-login-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: rem(200px);
  max-width: rem(250px);
  background: $gb-color-candidate-secondary;

  padding: rem(25px);

  &--text {
    @include gb-font-text-paragraph-white;

    padding-top: rem(18px);
    padding-bottom: rem(14px);
  }

  &--login-button {
    text-align: center;
    .gb-button {
      &.login {
        @include gb-button-white-with-yellow-font;

        height: rem(31px);
        width: rem(146px);
      }
    }
  }

  &--is-large {
    flex-direction: row;

    border-radius: 8px;
    height: rem(111px);
    max-width: rem(498px);
    padding-left: 0;

    .gb-login-block--icon {
      flex-basis: rem(161px);
      padding: rem(55px);
      text-align: center;
    }
    .gb-login-block--content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
</style>
