<template>
  <div>
    <h3 v-if="options.selectLabelKey">
      <label :for="options.selectId">{{ label }}</label>
    </h3>
    <gb-error-messages v-if="hasErrors" :options="{ domainFieldErrors: options.selectErrors }" />
    <select
      :id="options.selectId"
      :value="value"
      @change="onChange"
      :required="options.selectRequired"
      class="gb-select"
      :class="{ 'gb-large': options.selectIsLarge, 'gb-error': hasErrors }"
    >
      <option value="" selected="selected" disabled="disabled" hidden="hidden" class="gb-option-placeholder">
        {{ placeholder }}
      </option>
      <option v-for="option in options.selectOptions" :value="option.optionValue">{{ $t(option.optionLabelKey) }}</option>
    </select>
  </div>
</template>

<script lang="ts">
import { isEmpty } from 'lodash';
import Vue, { PropOptions } from 'vue';
import GbErrorMessages from '~/components/base-components/gb-error-messages.vue';
import { DomainFieldErrorsResponseInterface } from '../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbSelectProps {
  selectId: string;
  selectLabelKey: string;
  selectPlaceholderKey: string;
  selectRequired?: boolean;
  selectOptions: Array<{ optionLabelKey: string; optionValue: string }>;
  selectIsLarge?: boolean;
  selectErrors?: DomainFieldErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-select',
  components: {
    GbErrorMessages,
  },
  props: {
    value: { required: true } as PropOptions<string>,
    options: { required: true } as PropOptions<GbSelectProps>,
  },
  computed: {
    hasErrors(): boolean {
      return !isEmpty(this.options.selectErrors);
    },
    placeholder(): string {
      return `${this.$t(this.options.selectPlaceholderKey)}${this.options.selectRequired ? '*' : ''}`;
    },
    label(): string {
      return `${this.$t(this.options.selectLabelKey)}${this.options.selectRequired && !this.options.selectPlaceholderKey ? '*' : ''}`;
    },
  },
  methods: {
    onChange(event: Event): void {
      this.$emit('input', (event.target as HTMLSelectElement).value);
    },
  },
});
</script>

<style scoped lang="scss">
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-select {
  box-sizing: border-box;
  height: rem(30px);
  width: 100%;
  background-color: $gb-color-white;
  border-radius: 18.5px;
  padding-left: rem(18.5px);
  border: 0 none transparent;

  &.gb-large {
    height: rem(44px);
    border-radius: 22px;
    padding-left: rem(22px);
    border: 0.5px solid $gb-color-input-border;
  }

  &.gb-error {
    border: 5px solid $gb-color-error-message-background;
  }
}
</style>
