<template>
  <div class="gb-select-multiple">
    <h3 v-if="options.selectLabelKey">
      <label :for="options.selectId">{{ label }}</label>
    </h3>
    <gb-error-messages v-if="hasErrors" :options="{ domainFieldErrors: options.selectErrors }" />
    <multiselect
      track-by="optionValue"
      :class="{ 'gb-large': options.selectIsLarge, 'gb-error': hasErrors }"
      :close-on-select="false"
      :custom-label="translatedLabel"
      :id="options.selectId"
      :multiple="true"
      :placeholder="placeholder"
      :preserve-search="true"
      :options="options.selectOptions"
      :show-labels="false"
      :value="valueAsOptions"
      @input="onInput"
    >
      <template slot="selection" slot-scope="{ values }">
        <div class="gb-select-multiple--selection">
          <span v-for="(value, idx) in values"><span v-if="idx > 0"> ; </span>{{ translatedLabel(value) }}</span>
        </div>
      </template>
      <template slot="option" slot-scope="{ option }">
        <div class="gb-select-multiple--option">
          <span class="gb-select-multiple--option-label">{{ translatedLabel(option) }}</span>
          <span class="gb-select-multiple--option-box" :class="{ 'gb-b2c': isB2C, 'gb-b2b': isB2B }"> </span>
        </div>
      </template>
      <template slot="noResult">&nbsp;</template>
    </multiselect>
  </div>
</template>

<script lang="ts">
import { isEmpty } from 'lodash';
import Vue, { PropOptions } from 'vue';
import Multiselect from 'vue-multiselect';
import GbErrorMessages from '~/components/base-components/gb-error-messages.vue';
import { DomainFieldErrorsResponseInterface } from '../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

enum GbSelectMultipleBoxColor {
  B2C_COLOR = 'B2C_COLOR',
  B2B_COLOR = 'B2B_COLOR',
}

interface GbSelectMultipleOption {
  optionLabelKey: string;
  optionValue: string;
}

interface GbSelectMultipleProps {
  selectId: string;
  selectLabelKey: string;
  selectPlaceholderKey: string;
  selectRequired?: boolean;
  selectOptions: GbSelectMultipleOption[];
  selectErrors?: DomainFieldErrorsResponseInterface;
  selectIsLarge?: boolean;
  selectBoxColor?: GbSelectMultipleBoxColor;
}

export default Vue.extend({
  name: 'gb-select-multiple',
  components: {
    GbErrorMessages,
    Multiselect,
  },
  props: {
    value: { required: true } as PropOptions<string[]>,
    options: { required: true } as PropOptions<GbSelectMultipleProps>,
  },
  computed: {
    hasErrors(): boolean {
      return !isEmpty(this.options.selectErrors);
    },
    placeholder(): string {
      return `${this.$t(this.options.selectPlaceholderKey)}${this.options.selectRequired ? '*' : ''}`;
    },
    label(): string {
      return `${this.$t(this.options.selectLabelKey)}${this.options.selectRequired && !this.options.selectPlaceholderKey ? '*' : ''}`;
    },
    valueAsOptions(): GbSelectMultipleOption[] {
      return this.value.map((selectedValue: string) => this.findOptionFromValue(selectedValue));
    },
    isB2C(): boolean {
      return GbSelectMultipleBoxColor.B2C_COLOR === this.options.selectBoxColor;
    },
    isB2B(): boolean {
      return !this.options.selectBoxColor || GbSelectMultipleBoxColor.B2B_COLOR === this.options.selectBoxColor;
    },
  },
  methods: {
    findOptionFromValue(value: string): GbSelectMultipleOption {
      return this.options.selectOptions.find((option: GbSelectMultipleOption) => option.optionValue === value) as GbSelectMultipleOption;
    },
    translatedLabel(option: GbSelectMultipleOption): string {
      return `${this.$t(option.optionLabelKey)}`;
    },
    onInput(selectedOptions: GbSelectMultipleOption[]): void {
      const selectedValues: string[] = selectedOptions.map((option: GbSelectMultipleOption) => option.optionValue);
      this.$emit('input', selectedValues);
    },
  },
});
</script>

<style scoped lang="scss">
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-select-multiple {
  /deep/ .multiselect {
    .multiselect__input,
    .multiselect__single,
    .multiselect__element,
    .multiselect__option--selected,
    .multiselect__option--highlight {
      @include gb-font-text-paragraph();
    }
    .multiselect__tags {
      border-radius: 22px;
      padding-left: rem(26px);
    }
    .multiselect__option--highlight::after {
      content: none;
    }
    .multiselect__option--selected {
      background: none;
    }
    .multiselect__option--highlight {
      background: $gb-color-b-2-c-background;
    }
    .gb-select-multiple--option {
      display: flex;
    }
    .gb-select-multiple--option-box {
      display: inline-block;
      margin-left: auto;
      margin-top: rem(3px);
      height: rem(11px);
      width: rem(11px);
      border: 0.5px solid $gb-color-input-border;
      box-sizing: border-box;
      background-color: transparent;
      vertical-align: middle;
    }
    .multiselect__option--selected {
      .gb-select-multiple--option-box {
        &.gb-b2c {
          border: 0.5px solid $gb-color-candidate-secondary;
          background-color: $gb-color-candidate-secondary;
        }
        &.gb-b2b {
          border: 0.5px solid $gb-color-company-secondary;
          background-color: $gb-color-company-secondary;
        }
      }
    }
    .gb-select-multiple--option-label,
    .gb-select-multiple--selection {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .gb-select-multiple--option-label {
      // hack to avoid a Y-scroll when having an option label too long
      width: 90%;
      margin-right: rem(-100px);
    }
    &.gb-error {
      .multiselect__tags {
        border: 5px solid $gb-color-error-message-background;
      }
    }
    &.gb-large {
      .multiselect__tags,
      .multiselect__current {
        min-height: rem(80px);
      }
      .multiselect__tags {
        border-radius: 0;
        padding-top: rem(28px);
      }
      .multiselect__select {
        margin-top: rem(18px);
      }
    }
  }
}
</style>
