<template>
  <div class="gb-textarea">
    <div class="gb-textarea--label" v-if="options.textareaLabelKey">
      <label :for="options.textareaId">{{ label }}</label>
    </div>
    <gb-error-messages v-if="hasErrors" :options="{ domainFieldErrors: options.textareaErrors }" />
    <textarea
      :id="options.textareaId"
      :value="value"
      @input="onInput"
      :placeholder="placeholder"
      :required="options.textareaRequired"
      :maxlength="options.textareaMaxLength"
      class="gb-textarea--textarea"
      :class="{ 'gb-large': options.textareaIsLarge, 'gb-error': hasErrors }"
    ></textarea>
  </div>
</template>

<script lang="ts">
import { isEmpty } from 'lodash';
import Vue, { PropOptions } from 'vue';
import GbErrorMessages from '~/components/base-components/gb-error-messages.vue';
import { DomainFieldErrorsResponseInterface } from '../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbTextareaProps {
  textareaId: string;
  textareaLabelKey: string;
  textareaPlaceholderKey: string;
  textareaRequired?: boolean;
  textareaMaxLength?: number;
  textareaIsLarge?: boolean;
  textareaErrors?: DomainFieldErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-textarea',
  components: {
    GbErrorMessages,
  },
  props: {
    value: { required: true } as PropOptions<string>,
    options: { required: true } as PropOptions<GbTextareaProps>,
  },
  computed: {
    hasErrors(): boolean {
      return !isEmpty(this.options.textareaErrors);
    },
    placeholder(): string {
      return this.options.textareaPlaceholderKey ? `${this.$t(this.options.textareaPlaceholderKey)}${this.options.textareaRequired ? '*' : ''}` : '';
    },
    label(): string {
      return `${this.$t(this.options.textareaLabelKey)}${this.options.textareaRequired && !this.options.textareaPlaceholderKey ? '*' : ''}`;
    },
  },
  methods: {
    onInput(event: Event): void {
      this.$emit('input', (event.target as HTMLTextAreaElement).value);
    },
  },
});
</script>

<style scoped lang="scss">
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-textarea {
  margin: rem(22px) 0;
  &--label {
    @include gb-font-text-label-uppercase;
    margin-bottom: rem(22px);
  }
  &--textarea {
    box-sizing: border-box;
    height: rem(84px);
    width: 100%;
    border-radius: 8px;
    background-color: $gb-color-white;
    box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);
    padding: rem(15px) 0 0 rem(18.5px);

    resize: vertical;
    border: 0 none transparent;

    &.gb-large {
      height: rem(214px);
      border-radius: 12px;
      padding-left: rem(22px);
    }

    &.gb-error {
      border: 5px solid $gb-color-error-message-background;
    }
  }
}
</style>
