<template>
  <client-only>
    <v-popover popover-class="gb-tooltip" trigger="hover">
      <gb-icon :options="{ iconName: options.iconName }" />
      <template slot="popover">
        <div class="gb-tooltip--popover">
          <div class="gb-tooltip--header">
            <span>
              <slot name="header"></slot>
            </span>
          </div>
          <div class="gb-tooltip--content">
            <slot name="content"></slot>
          </div>
        </div>
      </template>
    </v-popover>
  </client-only>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbIcon from '~/components/base-components/gb-icon.vue';

interface GbTooltipProps {
  iconName: string;
}

export default Vue.extend({
  name: 'gb-tooltip',
  components: {
    GbIcon,
  },
  props: {
    options: { required: true } as PropOptions<GbTooltipProps>,
  },
});
</script>

<style lang="scss">
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-tooltip {
  background-color: $gb-color-content-background;
  border-radius: 18.5px;
  box-shadow: 0 2px 4px 0 rgba(187, 187, 187, 0.5);

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    left: 50%;
    border: 10px solid transparent;
    filter: drop-shadow(0 2px 4px rgba(187, 187, 187, 0.5));
  }

  &[x-placement='bottom'] {
    margin-top: rem(23px);
    &::before {
      top: 0;
      border-top: 0;
      border-bottom: 15px solid $gb-color-company-secondary;
      transform: translate(-50%, calc(-100%));
    }
  }

  &[x-placement='top'] {
    margin-bottom: rem(23px);
    &::before {
      bottom: 0;
      border-top: 15px solid $gb-color-content-background;
      border-bottom: 0;
      transform: translate(-50%, calc(100%));
    }
  }

  &--popover {
    max-width: rem(350px);
  }
  &--header {
    @include gb-font-text-label-uppercase-white;
    background-color: $gb-color-company-secondary;
    padding: rem(16px) rem(26px);
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(187, 187, 187, 0.5);
  }
  &--content {
    padding: rem(20px) rem(50px);
  }
}
</style>
