<template>
  <form class="company-create" @submit.prevent="onSubmit">
    <gb-action-bar>
      <template v-slot:left>
        <gb-breadcrumb :options="{ backgroundColor: 'COMPANY_BACKGROUND_COLOR', isLeftBorderRounded: false, steps: breadcrumb }" />
      </template>
      <template v-slot:right>
        <gb-button :options="{ buttonType: 'submit', buttonLabelKey: 'preview' }" />
      </template>
    </gb-action-bar>
    <div v-if="hasDomainErrors" class="company-create--gb-errors-summary-container">
      <gb-errors-summary :options="{ domainI18nPath: 'company', domainErrors }" />
    </div>
    <!-- START COMPANY HEADER -->
    <gb-company-create-header
      :company="getCompany"
      :company-logo="getCompanyLogo"
      @input="setCompany"
      @input-logo="setCompanyLogo"
      :options="{ domainErrors }"
    />
    <!-- END COMPANY HEADER -->
    <!-- START COMPANY CONTENT -->
    <gb-company-create-content :value="getCompany" @input="setCompany" :options="{ domainErrors }" />
    <!-- END COMPANY CONTENT -->
  </form>
</template>

<script lang="ts">
import { isEmpty } from 'lodash';
import Vue from 'vue';
import { mapActions, mapGetters } from 'vuex';
import GbActionBar from '~/components/base-components/gb-action-bar.vue';
import GbBreadcrumb from '~/components/base-components/gb-breadcrumb.vue';
import GbButton from '~/components/base-components/gb-button.vue';
import GbErrorsSummary from '~/components/base-components/gb-errors-summary.vue';
import GbCompanyCreateContent from '~/components/company/create/gb-company-create-content.vue';
import GbCompanyCreateHeader from '~/components/company/create/gb-company-create-header.vue';

import { DomainErrorsResponseInterface } from '../../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

export default Vue.extend({
  middleware: 'authenticatedAsCompany.middleware',
  components: {
    GbActionBar,
    GbBreadcrumb,
    GbButton,
    GbErrorsSummary,
    GbCompanyCreateContent,
    GbCompanyCreateHeader,
  },
  data() {
    return {
      domainErrors: {} as DomainErrorsResponseInterface,
      breadcrumb: [
        {
          i18nLabel: 'company.breadcrumbCreateLabel',
          path: 'company/profile/create',
        },
        {
          i18nLabel: 'company.breadcrumbPreviewLabel',
          path: 'company/profile/preview',
        },
      ],
    };
  },
  methods: {
    ...mapActions('company-create-module', ['setCompany', 'setCompanyLogo', 'validateCompany']),
    async onSubmit(): Promise<void> {
      this.cleanDomainErrors();
      try {
        await this.validateCompany({ apiService: this.$apiService });
        this.$router.push('preview');
      } catch (error) {
        this.domainErrors = error.domainErrors;
      }
    },
    cleanDomainErrors(): void {
      this.domainErrors = {};
    },
  },
  computed: {
    ...mapGetters('company-create-module', ['getCompany', 'getCompanyLogo']),
    hasDomainErrors(): boolean {
      return !isEmpty(this.domainErrors);
    },
  },
});
</script>

<style scoped lang="scss">
@import '~sass-rem';

.company-create {
  &--gb-errors-summary-container {
    margin-bottom: rem(80px);
  }
}
</style>
