<template>
  <div class="company-preview">
    <gb-action-bar>
      <template v-slot:left>
        <gb-breadcrumb :options="{ backgroundColor: 'COMPANY_BACKGROUND_COLOR', isLeftBorderRounded: false, steps: breadcrumb }" />
      </template>
      <template v-slot:right>
        <div class="company-preview--buttons">
          <gb-button :options="{ buttonType: 'button', buttonLabelKey: 'update', buttonOnClick: onUpdateClick }" />
          <gb-button :options="{ buttonType: 'button', buttonLabelKey: 'validate', buttonOnClick: onValidateClick }" />
        </div>
      </template>
    </gb-action-bar>
    <gb-company-preview-header :company="getCompany" :company-logo="getCompanyLogo" />
    <gb-company-preview-content :company="getCompany" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapActions, mapGetters } from 'vuex';
import GbActionBar from '~/components/base-components/gb-action-bar.vue';
import GbBreadcrumb from '~/components/base-components/gb-breadcrumb.vue';
import GbButton from '~/components/base-components/gb-button.vue';
import GbCompanyPreviewContent from '~/components/company/preview/gb-company-preview-content.vue';
import GbCompanyPreviewHeader from '~/components/company/preview/gb-company-preview-header.vue';

export default Vue.extend({
  middleware: 'authenticatedAsCompany.middleware',
  components: {
    GbBreadcrumb,
    GbActionBar,
    GbButton,
    GbCompanyPreviewHeader,
    GbCompanyPreviewContent,
  },
  data() {
    return {
      breadcrumb: [
        {
          i18nLabel: 'company.breadcrumbCreateLabel',
          path: 'company/profile/create',
        },
        {
          i18nLabel: 'company.breadcrumbPreviewLabel',
          path: 'company/profile/preview',
        },
      ],
    };
  },
  computed: mapGetters('company-create-module', ['getCompany', 'getCompanyLogo']),
  methods: {
    ...mapActions('company-create-module', ['submitCompany', 'reset']),
    onUpdateClick(): void {
      this.$router.push('create');
    },
    async onValidateClick(): Promise<void> {
      await this.submitCompany({ apiService: this.$apiService });
      this.$router.push('creation-confirmation');
    },
  },
});
</script>

<style scoped lang="scss">
@import '~sass-rem';

.company-preview {
  &--buttons {
    /deep/ button {
      margin-left: rem(20px);
    }
  }
}
</style>
