<template>
  <gb-block class="gb-job-offer-create-wanted-personalities">
    <template v-slot:header>
      <h2>{{ $t('jobOffer.wantedPersonalitiesLabel') }}</h2>
    </template>
    <template v-slot:subheader>
      {{ $t('jobOffer.wantedPersonalitiesExplanation') }}
    </template>
    <template v-slot:content>
      <div class="columns is-centered ">
        <div class="column is-full">
          <div class="gb-job-offer-create-wanted-personalities--buttons columns is-multiline">
            <div class="column is-narrow" v-for="wantedPersonalityOption in wantedPersonalityOptions" :key="wantedPersonalityOption.optionLabelKey">
              <gb-job-offer-create-wanted-personality-button
                :value="isOn(wantedPersonalityOption.optionValue)"
                :options="{ labelKey: wantedPersonalityOption.optionLabelKey, iconName: getIconName(wantedPersonalityOption.optionValue) }"
                @input="onWantedPersonalityButtonInput(wantedPersonalityOption.optionValue)"
              />
            </div>
          </div>
        </div>
      </div>
    </template>
  </gb-block>
</template>

<script lang="ts">
import { includes, remove } from 'lodash';
import Vue, { PropOptions } from 'vue';
import GbBlock from '~/components/base-components/gb-block.vue';
import { I18nMapping, JOB_OFFER_WANTED_PERSONALITY_I18N_MAPPING } from '~/utils/i18n-mapping.utils';
import { JobOfferEnums } from '../../../../back/src/infrastructure/rest/career/models/job-offer-constraints-and-enums';
import { DomainErrorsResponseInterface } from '../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';
import GbJobOfferCreateWantedPersonalityButton from './gb-job-offer-create-wanted-personality-button.vue';

interface GbJobOfferCreateWantedPersonalityProps {
  domainErrors?: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-job-offer-create-wanted-personalities',
  components: {
    GbBlock,
    GbJobOfferCreateWantedPersonalityButton,
  },
  props: {
    value: { required: true } as PropOptions<JobOfferEnums.JobOfferWantedPersonality[]>,
    options: { required: true } as PropOptions<GbJobOfferCreateWantedPersonalityProps>,
  },
  computed: {
    wantedPersonalityOptions(): { optionLabelKey: string; optionValue: JobOfferEnums.JobOfferWantedPersonality }[] {
      return this.toOptions<JobOfferEnums.JobOfferWantedPersonality>(JOB_OFFER_WANTED_PERSONALITY_I18N_MAPPING);
    },
    iconMapping(): { [key: string]: JobOfferEnums.JobOfferWantedPersonality } {
      return {
        head_speak: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_COMMUNICATORS,
        medal: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_AMBITIOUS,
        wheel: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_AUTONOMOUS,
        lightbulb: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_INNOVATIVE,
        binoculars: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_CURIOUS,
        gavel: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_DECISION_MAKERS,
        horse: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_STRATEGISTS,
        spring: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_FLEXIBLE,
        cup: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_LEADERS,
        hand_shake: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_NEGOTIATORS,
        puzzle: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_ORGANIZED,
        protractor: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_RIGOROUS,
        wrench: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_RESOURCEFUL,
        link: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_TEAMWORK,
        microphone: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_SPEAKERS_AT_THE_CONFERENCE,
        balance: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_PONDERATOR,
        bow_tie: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_DIPLOMATS,
      };
    },
  },
  methods: {
    isOn(optionValue: JobOfferEnums.JobOfferWantedPersonality): boolean {
      return includes(this.value, optionValue);
    },
    getIconName(wantedPersonality: JobOfferEnums.JobOfferWantedPersonality): string | undefined {
      for (const [key, value] of Object.entries(this.iconMapping)) {
        if (value === wantedPersonality) {
          return key;
        }
      }
      return undefined;
    },
    onWantedPersonalityButtonInput(optionValue: JobOfferEnums.JobOfferWantedPersonality): void {
      const values: JobOfferEnums.JobOfferWantedPersonality[] = [...this.value];
      if (this.isOn(optionValue)) {
        remove(values, (value: string) => optionValue === value);
      } else {
        values.push(optionValue);
      }
      this.$emit('input', values);
    },
    toOptions<T>(i18nMapping: I18nMapping<T>): { optionLabelKey: string; optionValue: T }[] {
      const options: { optionLabelKey: string; optionValue: T }[] = [];
      for (const [key, value] of Object.entries(i18nMapping)) {
        options.push({ optionLabelKey: key, optionValue: value });
      }
      return options;
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-create-wanted-personalities {
  &--buttons {
    > div {
      margin: 0 rem(10px);
    }
  }
}
</style>
