<template>
  <div class="gb-job-offer-create-footer">
    <gb-job-offer-create-internal-reference-number
      :value="jobOffer.internalReferenceNumber"
      :options="{ domainErrors }"
      @input="onJobOfferCreateInternalReferenceNumberInput"
    />
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import { PutJobOfferRequestInterface } from '../../../../back/src/infrastructure/rest/career/models/put-job-offer-request.interface';
import { DomainErrorsResponseInterface } from '../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';
import GbJobOfferCreateInternalReferenceNumber from './gb-job-offer-create-internal-reference-number.vue';

interface GbJobOfferCreateFooterProps {
  domainErrors?: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-job-offer-create-footer',
  components: {
    GbJobOfferCreateInternalReferenceNumber,
  },
  props: {
    jobOffer: { required: true } as PropOptions<PutJobOfferRequestInterface>,
    options: { required: true } as PropOptions<GbJobOfferCreateFooterProps>,
  },
  computed: {
    domainErrors(): DomainErrorsResponseInterface {
      return this.options.domainErrors || {};
    },
  },
  methods: {
    onJobOfferCreateInternalReferenceNumberInput(internalReferenceNumber: string): void {
      this.$emit('input', { fieldName: 'internalReferenceNumber', fieldValue: internalReferenceNumber });
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-create-footer {
  /deep/ input {
    width: 20%;
  }
}
</style>
