<template>
  <gb-block class="gb-job-offer-create-start-date-of-employment" :options="{ inputErrors: domainErrors.startDateOfEmployment }">
    <template v-slot:header> {{ $t('jobOffer.startDateOfEmployementLabel') }}* </template>
    <template v-slot:content>
      <div>
        <div class="gb-job-offer-create-start-date-of-employment--as-soon-as-possible">
          <gb-input-checkbox
            :value="asSoonAsPossible"
            :options="{
              inputId: 'as-soon-as-possible',
              inputLabelKey: 'jobOffer.startDateOfEmploymentAsSoonAsPossibleLabel',
              inputName: 'asSoonAsPossible',
            }"
            @input="onAsSoonAsPossibleInput"
          />
        </div>
        <div class="gb-job-offer-create-start-date-of-employment--content" :class="{ disabled: asSoonAsPossible }">
          <gb-icon class="gb-job-offer-create-start-date-of-employment--icon" :options="{ iconName: 'calendar_blue' }" />
          <gb-input-date
            class="gb-job-offer-create-start-date-of-employment--start-date"
            :value="startDate"
            :options="{
              inputId: 'start-date-of-employment',
              inputRequired: false,
              inputMin: startDateOfEmploymentMinimum,
              inputPattern: startDateOfEmploymentDatePattern,
              inputPlaceholderKey: 'jobOffer.startDateOfEmploymentPlaceholder',
              inputIsLarge: true,
              inputErrors: domainErrors.startDate,
            }"
            @input="onStartDateInput"
          />
        </div>
      </div>
    </template>
  </gb-block>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbBlock from '~/components/base-components/gb-block.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import GbInputCheckbox from '~/components/base-components/gb-input-checkbox.vue';
import GbInputDate from '~/components/base-components/gb-input-date.vue';
import { StartDateOfEmploymentConstraints } from '../../../../back/src/infrastructure/rest/career/models/job-offer-constraints-and-enums';
import { PutStartDateOfEmploymentInterface } from '../../../../back/src/infrastructure/rest/career/models/put-job-offer-request.interface';
import { DomainErrorsResponseInterface } from '../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbJobOfferCreateStartDateOfApplicationProps {
  domainErrors?: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-job-offer-create-start-date-of-employment',
  components: {
    GbBlock,
    GbIcon,
    GbInputDate,
    GbInputCheckbox,
  },
  props: {
    value: { required: true } as PropOptions<PutStartDateOfEmploymentInterface>,
    options: { required: true } as PropOptions<GbJobOfferCreateStartDateOfApplicationProps>,
  },
  computed: {
    domainErrors(): DomainErrorsResponseInterface {
      return this.options.domainErrors || {};
    },
    startDateOfEmploymentDatePattern(): string {
      return 'yyyy-MM-dd';
    },
    startDateOfEmploymentMinimum(): Date {
      return StartDateOfEmploymentConstraints.START_DATE_OF_EMPLOYMENT_START_DATE_MIN_DATE();
    },
    asSoonAsPossible(): boolean {
      return this.value ? !!this.value.asSoonAsPossible : false;
    },
    startDate(): Date {
      return this.value && !!this.value.startDate ? this.value.startDate : ({} as Date);
    },
  },
  methods: {
    onAsSoonAsPossibleInput(asSoonAsPossible: boolean) {
      if (asSoonAsPossible) {
        this.$emit('input', { asSoonAsPossible });
      } else {
        this.$emit('input', { ...this.value, asSoonAsPossible });
      }
    },
    onStartDateInput(startDate: Date) {
      this.$emit('input', { asSoonAsPossible: false, startDate });
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-create-start-date-of-employment {
  &--as-soon-as-possible {
    margin-bottom: rem(25px);
    margin-left: rem(14px);
  }

  &--content {
    display: flex;
    align-items: center;
    &.disabled {
      opacity: 0.5;
    }
  }
  &--icon {
    margin-right: rem(30px);
  }
  &--start-date /deep/ input {
    max-width: rem(197px);
  }
}
</style>
