<template>
  <div class="columns">
    <!-- START LEFT PART -->
    <div class="column is-6">
      <gb-input-text
        :value="jobOffer.title"
        :options="{
          inputId: 'title',
          inputPlaceholderKey: 'jobOffer.titlePlaceholder',
          inputRequired: true,
          inputMaxLength: jobOfferTitleMaxLength,
          inputIsLarge: true,
          inputErrors: domainErrors.title,
        }"
        @input="onTitleInput"
      />
      <gb-input-radio
        :value="jobOffer.jobStatus"
        :options="{
          inputId: 'job-status',
          inputName: 'job-status-group',
          inputLabelKey: 'jobOffer.jobStatusLabel',
          inputOptions: jobOfferJobStatusOptions,
          inputRequired: true,
          inputErrors: domainErrors.jobStatus,
        }"
        @input="onJobStatusInput"
      />
      <gb-input-radio
        class="gb-job-offer-create-header--job-type"
        :value="jobOffer.jobType"
        :options="{
          inputId: 'job-type',
          inputName: 'job-type-group',
          inputLabelKey: 'jobOffer.jobTypeLabel',
          inputOptions: jobOfferJobTypeOptions,
          inputRequired: true,
          inputErrors: domainErrors.jobType,
        }"
        @input="onJobTypeInput"
      />
    </div>
    <!-- END LEFT PART -->
    <!-- START RIGHT PART -->
    <div class="column is-offset-1 is-4 gb-job-offer-create-header-right">
      <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE', inputWithIconIsLarge: true }">
        <template v-slot:icon>
          <gb-icon :options="{ iconName: 'address_blue' }" />
        </template>
        <template v-slot:element>
          <gb-input-text
            :value="jobOffer.city"
            :options="{
              inputId: 'city',
              inputPlaceholderKey: 'jobOffer.cityPlaceholder',
              inputRequired: true,
              inputMaxLength: jobOfferCityMaxLength,
              inputIsLarge: true,
              inputErrors: domainErrors.city,
            }"
            @input="onCityInput"
          />
        </template>
      </gb-element-with-icon>
      <gb-select
        :value="jobOffer.region"
        :options="{
          selectId: 'region',
          selectPlaceholderKey: 'jobOffer.regionPlaceholder',
          selectRequired: true,
          selectOptions: jobOfferRegionOptions,
          selectIsLarge: true,
          selectErrors: domainErrors.region,
        }"
        @input="onRegionInput"
      />
      <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE', inputWithIconIsLarge: true }">
        <template v-slot:icon>
          <gb-icon :options="{ iconName: 'target_blue' }" />
        </template>
        <template v-slot:element>
          <gb-select-multiple
            :value="jobOffer.targetCustomers"
            :options="{
              selectId: 'target-customers',
              selectPlaceholderKey: 'jobOffer.targetCustomersPlaceholder',
              selectRequired: true,
              selectOptions: jobOfferTargetCustomersOptions,
              selectErrors: domainErrors.targetCustomers,
            }"
            @input="onTargetCustomersInput"
          />
        </template>
      </gb-element-with-icon>
      <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE', inputWithIconIsLarge: true }">
        <template v-slot:icon>
          <gb-icon :options="{ iconName: 'timer_blue' }" />
        </template>
        <template v-slot:element>
          <gb-select-multiple
            :value="jobOffer.requiredExperiences"
            :options="{
              selectId: 'required-experience',
              selectPlaceholderKey: 'jobOffer.requiredExperiencesPlaceholder',
              selectRequired: true,
              selectOptions: jobOfferRequiredExperiencesOptions,
              selectErrors: domainErrors.requiredExperiences,
            }"
            @input="onRequiredExperiencesInput"
          />
        </template>
      </gb-element-with-icon>
      <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE', inputWithIconIsLarge: true }">
        <template v-slot:icon>
          <gb-icon :options="{ iconName: 'person_blue' }" />
        </template>
        <template v-slot:element>
          <gb-select
            :value="jobOffer.positionType"
            :options="{
              selectId: 'position-type',
              selectPlaceholderKey: 'jobOffer.positionTypePlaceholder',
              selectRequired: true,
              selectOptions: jobOfferPositionTypeOptions,
              selectIsLarge: true,
              selectErrors: domainErrors.positionType,
            }"
            @input="onPositionTypeInput"
          />
        </template>
      </gb-element-with-icon>
      <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE', inputWithIconIsLarge: true }">
        <template v-slot:icon>
          <gb-icon :options="{ iconName: 'wheels_blue' }" />
        </template>
        <template v-slot:element>
          <gb-select-multiple
            :value="jobOffer.requestedSpecialities"
            :options="{
              selectId: 'requested-specialities',
              selectPlaceholderKey: 'jobOffer.requestedSpecialitiesPlaceholder',
              selectRequired: true,
              selectOptions: jobOfferRequestedSpecialitiesOptions,
              selectErrors: domainErrors.requestedSpecialities,
            }"
            @input="onRequestedSpecialitiesInput"
          />
        </template>
      </gb-element-with-icon>
    </div>
    <!-- END RIGHT PART -->
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbElementWithIcon from '~/components/base-components/gb-element-with-icon.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import GbInputRadio from '~/components/base-components/gb-input-radio.vue';
import GbInputText from '~/components/base-components/gb-input-text.vue';
import GbSelectMultiple from '~/components/base-components/gb-select-multiple.vue';
import GbSelect from '~/components/base-components/gb-select.vue';
import {
  I18nMapping,
  JOB_OFFER_JOB_STATUS_I18N_MAPPING,
  JOB_OFFER_JOB_TYPE_I18N_MAPPING,
  JOB_OFFER_POSITION_TYPE_I18N_MAPPING,
  JOB_OFFER_REGION_I18N_MAPPING,
  JOB_OFFER_REQUESTED_SPECIALITY_I18N_MAPPING,
  JOB_OFFER_REQUIRED_EXPERIENCE_I18N_MAPPING,
  JOB_OFFER_TARGET_CUSTOMER_I18N_MAPPING,
} from '~/utils/i18n-mapping.utils';
import { JobOfferConstraints, JobOfferEnums } from '../../../../back/src/infrastructure/rest/career/models/job-offer-constraints-and-enums';
import { PutJobOfferRequestInterface } from '../../../../back/src/infrastructure/rest/career/models/put-job-offer-request.interface';
import { DomainErrorsResponseInterface } from '../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbJobOfferCreateHeaderProps {
  domainErrors?: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-job-offer-create-header',
  components: {
    GbInputText,
    GbInputRadio,
    GbElementWithIcon,
    GbIcon,
    GbSelect,
    GbSelectMultiple,
  },
  props: {
    jobOffer: { required: true } as PropOptions<PutJobOfferRequestInterface>,
    options: { required: true } as PropOptions<GbJobOfferCreateHeaderProps>,
  },
  computed: {
    domainErrors(): DomainErrorsResponseInterface {
      return this.options.domainErrors || {};
    },
    jobOfferJobStatusOptions(): { optionLabelKey: string; optionValue: JobOfferEnums.JobOfferJobStatus }[] {
      return this.toOptions<JobOfferEnums.JobOfferJobStatus>(JOB_OFFER_JOB_STATUS_I18N_MAPPING);
    },
    jobOfferJobTypeOptions(): { optionLabelKey: string; optionValue: JobOfferEnums.JobOfferJobType }[] {
      return this.toOptions<JobOfferEnums.JobOfferJobType>(JOB_OFFER_JOB_TYPE_I18N_MAPPING);
    },
    jobOfferRegionOptions(): { optionLabelKey: string; optionValue: JobOfferEnums.JobOfferRegion }[] {
      return this.toOptions<JobOfferEnums.JobOfferRegion>(JOB_OFFER_REGION_I18N_MAPPING);
    },
    jobOfferTargetCustomersOptions(): { optionLabelKey: string; optionValue: JobOfferEnums.JobOfferTargetCustomer }[] {
      return this.toOptions<JobOfferEnums.JobOfferTargetCustomer>(JOB_OFFER_TARGET_CUSTOMER_I18N_MAPPING);
    },
    jobOfferRequiredExperiencesOptions(): { optionLabelKey: string; optionValue: JobOfferEnums.JobOfferRequiredExperience }[] {
      return this.toOptions<JobOfferEnums.JobOfferRequiredExperience>(JOB_OFFER_REQUIRED_EXPERIENCE_I18N_MAPPING);
    },
    jobOfferPositionTypeOptions(): { optionLabelKey: string; optionValue: JobOfferEnums.JobOfferPositionType }[] {
      return this.toOptions<JobOfferEnums.JobOfferPositionType>(JOB_OFFER_POSITION_TYPE_I18N_MAPPING);
    },
    jobOfferRequestedSpecialitiesOptions(): { optionLabelKey: string; optionValue: JobOfferEnums.JobOfferRequestedSpeciality }[] {
      return this.toOptions<JobOfferEnums.JobOfferRequestedSpeciality>(JOB_OFFER_REQUESTED_SPECIALITY_I18N_MAPPING);
    },
    jobOfferTitleMaxLength(): number {
      return JobOfferConstraints.JOB_OFFER_TITLE_MAX_LENGTH;
    },
    jobOfferCityMaxLength(): number {
      return JobOfferConstraints.JOB_OFFER_CITY_MAX_LENGTH;
    },
  },
  methods: {
    onTitleInput(title: string): void {
      this.$emit('input', { fieldName: 'title', fieldValue: title });
    },
    onJobStatusInput(jobStatus: JobOfferEnums.JobOfferJobStatus): void {
      this.$emit('input', { fieldName: 'jobStatus', fieldValue: jobStatus });
    },
    onJobTypeInput(jobType: JobOfferEnums.JobOfferJobType): void {
      this.$emit('input', { fieldName: 'jobType', fieldValue: jobType });
    },
    onCityInput(city: string): void {
      this.$emit('input', { fieldName: 'city', fieldValue: city });
    },
    onRegionInput(region: JobOfferEnums.JobOfferRegion): void {
      this.$emit('input', { fieldName: 'region', fieldValue: region });
    },
    onTargetCustomersInput(targetCustomers: JobOfferEnums.JobOfferTargetCustomer[]): void {
      this.$emit('input', { fieldName: 'targetCustomers', fieldValue: targetCustomers });
    },
    onRequiredExperiencesInput(requiredExperiences: JobOfferEnums.JobOfferRequiredExperience[]): void {
      this.$emit('input', { fieldName: 'requiredExperiences', fieldValue: requiredExperiences });
    },
    onPositionTypeInput(positionType: JobOfferEnums.JobOfferPositionType): void {
      this.$emit('input', { fieldName: 'positionType', fieldValue: positionType });
    },
    onRequestedSpecialitiesInput(requestedSpecialities: JobOfferEnums.JobOfferRequestedSpeciality[]): void {
      this.$emit('input', { fieldName: 'requestedSpecialities', fieldValue: requestedSpecialities });
    },
    toOptions<T>(i18nMapping: I18nMapping<T>): { optionLabelKey: string; optionValue: T }[] {
      const options: { optionLabelKey: string; optionValue: T }[] = [];
      for (const [key, value] of Object.entries(i18nMapping)) {
        options.push({ optionLabelKey: key, optionValue: value });
      }
      return options;
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

/deep/ #title {
  margin-bottom: rem(50px);
}

.gb-job-offer-create-header {
  &-right {
    > div {
      margin-bottom: rem(20px);
    }
  }
}
</style>
