<template>
  <div class="gb-job-offer-create-wanted-personality-button" :class="{ on: value }">
    <button type="button" class="gb-job-offer-create-wanted-personality-button--button" @click="onClick">
      <gb-icon :options="{ iconName }" />
    </button>
    <span class="gb-job-offer-create-wanted-personality-button--label" @click="onClick">
      {{ $t(options.labelKey) }}
    </span>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbIcon from '~/components/base-components/gb-icon.vue';

interface GbJobOfferCreateWantedPersonalityButtonOptionsProp {
  iconName: string;
  labelKey: string;
}

export default Vue.extend({
  name: 'gb-job-offer-create-wanted-personality-button',
  components: {
    GbIcon,
  },
  props: {
    value: { required: true } as PropOptions<boolean>,
    options: { required: true } as PropOptions<GbJobOfferCreateWantedPersonalityButtonOptionsProp>,
  },
  computed: {
    iconName(): string {
      return `${this.options.iconName}_${this.value ? 'on' : 'off'}`;
    },
  },
  methods: {
    onClick(): void {
      this.$emit('input', !this.value);
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-create-wanted-personality-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: rem(120px);
  padding: rem(10px);

  &--button {
    cursor: pointer;
    height: rem(50px);
    width: (50px);
    background-color: $gb-color-white;
    border-radius: 50%;
    border: none;
    margin-bottom: rem(12px);
  }

  &--label {
    @include gb-font-picto-label-off;
    cursor: pointer;
  }

  &.on {
    .gb-job-offer-create-wanted-personality-button--button {
      background-color: $gb-color-company-secondary;
    }
    .gb-job-offer-create-wanted-personality-button--label {
      @include gb-font-picto-label-on;
    }
  }
}
</style>
