<template>
  <gb-block>
    <template v-slot:header>
      {{ $t('jobOffer.advantagesLabel') }}
    </template>
    <template v-slot:subheader>
      {{ $t('jobOffer.advantagesExplanation') }}
    </template>
    <template v-slot:content>
      <gb-input-checkbox-multiple
        :value="value.health"
        :options="{
          inputId: 'advantage-health',
          inputName: 'advantages-health',
          inputLabelKey: 'jobOffer.advantagesHealthLabel',
          inputOptions: advantagesHealthOptions,
          inputErrors: domainErrors.advantages,
        }"
        @input="onHealthInput"
      />
      <gb-input-checkbox-multiple
        :value="value.social"
        :options="{
          inputId: 'advantage-social',
          inputName: 'advantages-social',
          inputLabelKey: 'jobOffer.advantagesSocialLabel',
          inputOptions: advantagesSocialOptions,
          inputErrors: domainErrors.advantages,
        }"
        @input="onSocialInput"
      />
      <gb-input-checkbox-multiple
        :value="value.lifeBalance"
        :options="{
          inputId: 'advantage-life-balance',
          inputName: 'advantages-life-balance',
          inputLabelKey: 'jobOffer.advantagesLifeBalanceLabel',
          inputOptions: advantagesLifeBalanceOptions,
          inputErrors: domainErrors.advantages,
        }"
        @input="onLifeBalanceInput"
      />
      <gb-input-checkbox-multiple
        :value="value.financial"
        :options="{
          inputId: 'advantage-financial',
          inputName: 'advantages-financial',
          inputLabelKey: 'jobOffer.advantagesFinancialLabel',
          inputOptions: advantagesFinancialOptions,
          inputErrors: domainErrors.advantages,
        }"
        @input="onFinancialInput"
      />
      <gb-input-checkbox-multiple
        :value="value.professional"
        :options="{
          inputId: 'advantage-professional',
          inputName: 'advantages-professional',
          inputLabelKey: 'jobOffer.advantagesProfessionalLabel',
          inputOptions: advantagesProfessionalOptions,
          inputErrors: domainErrors.advantages,
        }"
        @input="onProfessionalInput"
      />
    </template>
  </gb-block>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbBlock from '~/components/base-components/gb-block.vue';
import GbInputCheckboxMultiple from '~/components/base-components/gb-input-checkbox-multiple.vue';
import {
  I18nMapping,
  JOB_OFFER_ADVANTAGE_FINANCIAL_I18N_MAPPING,
  JOB_OFFER_ADVANTAGE_HEALTH_I18N_MAPPING,
  JOB_OFFER_ADVANTAGE_LIFE_BALANCE_I18N_MAPPING,
  JOB_OFFER_ADVANTAGE_PROFESSIONAL_I18N_MAPPING,
  JOB_OFFER_ADVANTAGE_SOCIAL_I18N_MAPPING,
} from '~/utils/i18n-mapping.utils';
import { AdvantagesEnums } from '../../../../back/src/infrastructure/rest/career/models/job-offer-constraints-and-enums';
import { PutAdvandagesRequestInterface } from '../../../../back/src/infrastructure/rest/career/models/put-job-offer-request.interface';
import { DomainErrorsResponseInterface } from '../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbJobOfferCreateAdvantagesProps {
  domainErrors?: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-job-offer-create-advantages',
  components: {
    GbBlock,
    GbInputCheckboxMultiple,
  },
  props: {
    value: { required: true } as PropOptions<PutAdvandagesRequestInterface>,
    options: { required: true } as PropOptions<GbJobOfferCreateAdvantagesProps>,
  },
  computed: {
    domainErrors(): DomainErrorsResponseInterface {
      return this.options.domainErrors || {};
    },
    advantagesHealthOptions(): { optionLabelKey: string; optionValue: AdvantagesEnums.AdvantageHealth }[] {
      return this.toOptions<AdvantagesEnums.AdvantageHealth>(JOB_OFFER_ADVANTAGE_HEALTH_I18N_MAPPING);
    },
    advantagesSocialOptions(): { optionLabelKey: string; optionValue: AdvantagesEnums.AdvantageSocial }[] {
      return this.toOptions<AdvantagesEnums.AdvantageSocial>(JOB_OFFER_ADVANTAGE_SOCIAL_I18N_MAPPING);
    },
    advantagesLifeBalanceOptions(): { optionLabelKey: string; optionValue: AdvantagesEnums.AdvantageLifeBalance }[] {
      return this.toOptions<AdvantagesEnums.AdvantageLifeBalance>(JOB_OFFER_ADVANTAGE_LIFE_BALANCE_I18N_MAPPING);
    },
    advantagesFinancialOptions(): { optionLabelKey: string; optionValue: AdvantagesEnums.AdvantageFinancial }[] {
      return this.toOptions<AdvantagesEnums.AdvantageFinancial>(JOB_OFFER_ADVANTAGE_FINANCIAL_I18N_MAPPING);
    },
    advantagesProfessionalOptions(): { optionLabelKey: string; optionValue: AdvantagesEnums.AdvantageProfessional }[] {
      return this.toOptions<AdvantagesEnums.AdvantageProfessional>(JOB_OFFER_ADVANTAGE_PROFESSIONAL_I18N_MAPPING);
    },
  },
  methods: {
    onHealthInput(health: AdvantagesEnums.AdvantageHealth[]): void {
      this.$emit('input', { ...this.value, health });
    },
    onSocialInput(social: AdvantagesEnums.AdvantageSocial[]): void {
      this.$emit('input', { ...this.value, social });
    },
    onLifeBalanceInput(lifeBalance: AdvantagesEnums.AdvantageLifeBalance[]): void {
      this.$emit('input', { ...this.value, lifeBalance });
    },
    onFinancialInput(financial: AdvantagesEnums.AdvantageFinancial[]): void {
      this.$emit('input', { ...this.value, financial });
    },
    onProfessionalInput(professional: AdvantagesEnums.AdvantageProfessional[]): void {
      this.$emit('input', { ...this.value, professional });
    },
    toOptions<T>(i18nMapping: I18nMapping<T>): { optionLabelKey: string; optionValue: T }[] {
      const options: { optionLabelKey: string; optionValue: T }[] = [];
      for (const [key, value] of Object.entries(i18nMapping)) {
        options.push({ optionLabelKey: key, optionValue: value });
      }
      return options;
    },
  },
});
</script>

<style scoped></style>
