<template>
  <gb-block class="gb-job-offer-create-end-date-of-application">
    <template v-slot:header>
      {{ $t('jobOffer.endDateOfApplicationLabel') }}
    </template>
    <template v-slot:content>
      <div class="gb-job-offer-create-end-date-of-application--content">
        <gb-icon class="gb-job-offer-create-end-date-of-application--icon" :options="{ iconName: 'calendar_blue' }" />
        <gb-input-date
          :value="value"
          class="gb-job-offer-create-end-date-of-application--end-date"
          :options="{
            inputId: 'end-date-of-application',
            inputRequired: false,
            inputMin: endDateOfApplicationMinDate,
            inputPattern: endDateOfApplicationDatePattern,
            inputPlaceholderKey: 'jobOffer.endDateOfApplicationPlaceholder',
            inputIsLarge: true,
            inputErrors: domainErrors.endDateOfApplication,
          }"
          @input="onEndDateOfApplicationInput"
        />
      </div>
    </template>
  </gb-block>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbBlock from '~/components/base-components/gb-block.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import GbInputDate from '~/components/base-components/gb-input-date.vue';
import { JobOfferConstraints } from '../../../../back/src/infrastructure/rest/career/models/job-offer-constraints-and-enums';
import { DomainErrorsResponseInterface } from '../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbJobOfferCreateEndDateOfApplicationProps {
  domainErrors?: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-job-offer-create-end-date-of-application',
  components: {
    GbBlock,
    GbIcon,
    GbInputDate,
  },
  props: {
    value: { required: true } as PropOptions<Date>,
    options: { required: true } as PropOptions<GbJobOfferCreateEndDateOfApplicationProps>,
  },
  computed: {
    domainErrors(): DomainErrorsResponseInterface {
      return this.options.domainErrors || {};
    },
    endDateOfApplicationDatePattern(): string {
      return 'yyyy-MM-dd';
    },
    endDateOfApplicationMinDate(): Date {
      return JobOfferConstraints.JOB_OFFER_END_DATE_OF_APPLICATION_MIN_DATE();
    },
  },
  methods: {
    onEndDateOfApplicationInput(value: Date): void {
      this.$emit('input', value);
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-create-end-date-of-application {
  &--content {
    display: flex;
    align-items: center;
  }
  &--icon {
    margin-right: rem(30px);
  }
  &--end-date /deep/ input {
    max-width: rem(197px);
  }
}
</style>
