<template>
  <gb-block class="gb-job-offer-create-traveling">
    <template v-slot:header>
      {{ $t('jobOffer.travelingLabel') }}
    </template>
    <template v-slot:subheader>
      {{ $t('jobOffer.travelingExplanation') }}
    </template>
    <template v-slot:content>
      <div>
        <div class="gb-job-offer-create-traveling--no-traveling">
          <gb-input-checkbox
            :value="isNotTraveling"
            :options="{
              inputId: 'no-traveling',
              inputLabelKey: 'jobOffer.travelingNoTravelingLabel',
              inputName: 'noTraveling',
            }"
            @input="onNoTravelingInput"
          />
        </div>
        <div class="gb-job-offer-create-traveling--traveling-countries" :class="{ disabled: isNotTraveling }">
          <div class="gb-job-offer-create-traveling--quebec">
            <div class="country-label">
              <gb-icon :options="{ iconName: 'quebec_flag' }" />
              <span class="gb-job-offer-create-traveling--quebec--label">{{ $t('jobOffer.travelingQuebecLabel') }}</span>
            </div>
            <gb-input-radio
              :value="value.quebec"
              :options="{
                inputId: 'traveling-quebec',
                inputName: 'traveling-quebec-group',
                inputOptions: travelingFrequencyOptions,
                inputRequired: false,
                inputErrors: domainErrors.quebec,
              }"
              @input="onQuebecInput"
            />
          </div>
          <div class="gb-job-offer-create-traveling--canada">
            <div class="country-label">
              <gb-icon :options="{ iconName: 'canada_flag' }" />
              <span class="gb-job-offer-create-traveling--canada--label">{{ $t('jobOffer.travelingCanadaLabel') }}</span>
            </div>
            <gb-input-radio
              :value="value.canada"
              :options="{
                inputId: 'traveling-canada',
                inputName: 'traveling-canada-group',
                inputOptions: travelingFrequencyOptions,
                inputRequired: false,
                inputErrors: domainErrors.canada,
              }"
              @input="onCanadaInput"
            />
          </div>
          <div class="gb-job-offer-create-traveling--international">
            <div class="country-label">
              <gb-icon :options="{ iconName: 'international_flag' }" />
              <span class="gb-job-offer-create-traveling--international--label">{{ $t('jobOffer.travelingInternationalLabel') }}</span>
            </div>
            <gb-input-radio
              :value="value.international"
              :options="{
                inputId: 'traveling-international',
                inputName: 'traveling-international-group',
                inputOptions: travelingFrequencyOptions,
                inputRequired: false,
                inputErrors: domainErrors.international,
              }"
              @input="onInternationalInput"
            />
          </div>
        </div>
      </div>
    </template>
  </gb-block>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbBlock from '~/components/base-components/gb-block.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import GbInputCheckbox from '~/components/base-components/gb-input-checkbox.vue';
import GbInputRadio from '~/components/base-components/gb-input-radio.vue';
import { I18nMapping, JOB_OFFER_TRAVELING_FREQUENCY_I18N_MAPPING } from '~/utils/i18n-mapping.utils';
import { TravelingEnums } from '../../../../back/src/infrastructure/rest/career/models/job-offer-constraints-and-enums';
import { PutTravelingRequestInterface } from '../../../../back/src/infrastructure/rest/career/models/put-job-offer-request.interface';
import { DomainErrorsResponseInterface } from '../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbJobOfferCreateTravelingProps {
  domainErrors?: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-job-offer-create-traveling',
  components: {
    GbInputCheckbox,
    GbIcon,
    GbBlock,
    GbInputRadio,
  },
  props: {
    value: { required: true } as PropOptions<PutTravelingRequestInterface>,
    options: { required: true } as PropOptions<GbJobOfferCreateTravelingProps>,
  },
  computed: {
    domainErrors(): DomainErrorsResponseInterface {
      return this.options.domainErrors || {};
    },
    travelingFrequencyOptions(): { optionLabelKey: string; optionValue: TravelingEnums.TravelingFrequency }[] {
      return this.toOptions<TravelingEnums.TravelingFrequency>(JOB_OFFER_TRAVELING_FREQUENCY_I18N_MAPPING);
    },
    isNotTraveling(): boolean {
      return this.value.isTraveling === false;
    },
  },
  methods: {
    onNoTravelingInput(noTraveling: boolean) {
      if (noTraveling) {
        this.$emit('input', { isTraveling: false });
      } else {
        this.$emit('input', { ...this.value, isTraveling: true });
      }
    },
    onQuebecInput(quebec: TravelingEnums.TravelingFrequency) {
      this.$emit('input', { ...this.value, isTraveling: true, quebec });
    },
    onCanadaInput(canada: TravelingEnums.TravelingFrequency) {
      this.$emit('input', { ...this.value, isTraveling: true, canada });
    },
    onInternationalInput(international: TravelingEnums.TravelingFrequency) {
      this.$emit('input', { ...this.value, isTraveling: true, international });
    },
    toOptions<T>(i18nMapping: I18nMapping<T>): { optionLabelKey: string; optionValue: T }[] {
      const options: { optionLabelKey: string; optionValue: T }[] = [];
      for (const [key, value] of Object.entries(i18nMapping)) {
        options.push({ optionLabelKey: key, optionValue: value });
      }
      return options;
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-create-traveling {
  &--no-traveling {
    padding: rem(8px) rem(13px);
    margin-bottom: rem(17px);
  }
  &--traveling-countries {
    &.disabled {
      opacity: 0.5;
    }
  }
  .country-label {
    display: flex;
    align-items: center;
    > span {
      @include gb-font-text-label;
      padding-left: rem(14px);
    }
  }
}
</style>
