<template>
  <gb-block>
    <template v-slot:header>
      {{ $t('jobOffer.annualSalaryRangeLabel') }}
    </template>
    <template v-slot:content>
      <div class="gb-offer-create-annual-salary-range--block">
        <div class="gb-offer-create-annual-salary-range--label">{{ $t('jobOffer.annualSalaryRangeMinimumLabel') }}</div>
        <gb-element-with-icon :options="{ inputWithIconPosition: 'INSIDE', inputWithIconIsLarge: true }">
          <template v-slot:icon>
            <gb-icon :options="{ iconName: 'dollar_grey' }" />
          </template>
          <template v-slot:element>
            <gb-input-number
              :value="value.minimumSalary"
              class="gb-offer-create-annual-salary-range--input"
              :options="{
                inputId: 'annual-salary-range-minimum',
                inputRequired: false,
                inputMin: minimumSalaryMinimum,
                inputIsLarge: true,
                inputErrors: domainErrors.minimumSalary,
              }"
              @input="onMinimumSalaryRangeInput"
            />
          </template>
        </gb-element-with-icon>
      </div>
      <div class="gb-offer-create-annual-salary-range--block">
        <div class="gb-offer-create-annual-salary-range--label">{{ $t('jobOffer.annualSalaryRangeMaximumLabel') }}</div>
        <gb-element-with-icon :options="{ inputWithIconPosition: 'INSIDE', inputWithIconIsLarge: true }">
          <template v-slot:icon>
            <gb-icon :options="{ iconName: 'dollar_grey' }" />
          </template>
          <template v-slot:element>
            <gb-input-number
              :value="value.maximumSalary"
              class="gb-offer-create-annual-salary-range--input"
              :options="{
                inputId: 'annual-salary-range-maximum',
                inputRequired: false,
                inputMax: maximumSalaryMaximum,
                inputIsLarge: true,
                inputErrors: domainErrors.maximumSalary,
              }"
              @input="onMaximumSalaryRangeInput"
            />
          </template>
        </gb-element-with-icon>
      </div>
    </template>
  </gb-block>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbBlock from '~/components/base-components/gb-block.vue';
import GbElementWithIcon from '~/components/base-components/gb-element-with-icon.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import GbInputNumber from '~/components/base-components/gb-input-number.vue';
import { AnnualSalaryRangeConstraints } from '../../../../back/src/infrastructure/rest/career/models/job-offer-constraints-and-enums';
import { PutAdvandagesRequestInterface } from '../../../../back/src/infrastructure/rest/career/models/put-job-offer-request.interface';
import { DomainErrorsResponseInterface } from '../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbJobOfferCreateHeaderProps {
  domainErrors?: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-offer-create-annual-salary-range',
  components: {
    GbBlock,
    GbElementWithIcon,
    GbIcon,
    GbInputNumber,
  },
  props: {
    value: { required: true } as PropOptions<PutAdvandagesRequestInterface>,
    options: { required: true } as PropOptions<GbJobOfferCreateHeaderProps>,
  },
  computed: {
    domainErrors(): DomainErrorsResponseInterface {
      return this.options.domainErrors || {};
    },
    minimumSalaryMinimum(): number {
      return AnnualSalaryRangeConstraints.ANNUAL_SALARY_RANGE_MINIMUM_SALARY;
    },
    maximumSalaryMaximum(): number {
      return AnnualSalaryRangeConstraints.ANNUAL_SALARY_RANGE_MAXIMUM_SALARY;
    },
  },
  methods: {
    onMinimumSalaryRangeInput(minimumSalary: number): void {
      this.$emit('input', { ...this.value, minimumSalary });
    },
    onMaximumSalaryRangeInput(maximumSalary: number): void {
      this.$emit('input', { ...this.value, maximumSalary });
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-offer-create-annual-salary-range {
  &--block {
    display: flex;
    flex-basis: rem(283px);
    max-width: rem(283px);
    align-items: center;
    margin: rem(4px) 0;

    /deep/ .gb-element-with-icon {
      width: 100%;
    }
  }
  &--label {
    @include gb-font-text-label;
    margin-right: rem(10px);
  }

  &--input /deep/ input {
    max-width: rem(197px);
  }
}
</style>
