<template>
  <div class="gb-job-offer-create-additional-fields">
    <h2 class="gb-job-offer-create-additional-fields--title">{{ $t('jobOffer.additionalFieldsTitle') }}</h2>
    <div class="columns">
      <div class="column is-5">
        <gb-job-offer-create-advantages :value="jobOffer.advantages" :options="{ domainErrors }" @input="onJobOfferCreateAdvantagesInput" />
        <gb-job-offer-create-annual-salary-range
          :value="jobOffer.annualSalaryRange"
          :options="{ domainErrors }"
          @input="onJobOfferCreateAnnualSalaryRangeInput"
        />
      </div>
      <div class="column is-offset-2 is-5">
        <gb-job-offer-create-traveling :value="jobOffer.traveling" :options="{ domainErrors }" @input="onJobOfferCreateTravelingInput" />
      </div>
    </div>
    <div class="columns">
      <div class="column is-5">
        <gb-job-offer-create-end-date-of-application
          :value="jobOffer.endDateOfApplication"
          :options="{ domainErrors }"
          @input="onJobOfferCreateEndDateOfApplicationInput"
        />
      </div>
      <div class="column is-offset-2 is-5">
        <gb-job-offer-create-start-date-of-employment
          :value="jobOffer.startDateOfEmployment"
          :options="{ domainErrors }"
          @input="onJobOfferCreateStartDateOfEmploymentInput"
        />
      </div>
    </div>
    <gb-job-offer-create-wanted-personalities
      :value="jobOffer.wantedPersonalities"
      :options="{ domainErrors }"
      @input="onJobOfferCreateWantedPersonalitiesInput"
    />
    <div class="gb-job-offer-create-additional-fields--email-address-for-receipt-of-applications">
      <gb-job-offer-create-email-address-for-receipt-of-applications
        :value="jobOffer.emailAddressForReceiptOfApplications"
        :options="{ domainErrors }"
        @input="onJobOfferCreateEmailAddressForReceiptOfApplications"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import { JobOfferEnums } from '../../../../back/src/infrastructure/rest/career/models/job-offer-constraints-and-enums';
import {
  PutAdvandagesRequestInterface,
  PutAnnualSalaryRangeInterface,
  PutJobOfferRequestInterface,
  PutStartDateOfEmploymentInterface,
  PutTravelingRequestInterface,
} from '../../../../back/src/infrastructure/rest/career/models/put-job-offer-request.interface';
import { DomainErrorsResponseInterface } from '../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';
import GbJobOfferCreateAdvantages from './gb-job-offer-create-advantages.vue';
import GbJobOfferCreateAnnualSalaryRange from './gb-job-offer-create-annual-salary-range.vue';
import GbJobOfferCreateEmailAddressForReceiptOfApplications from './gb-job-offer-create-email-address-for-receipt-of-applications.vue';
import GbJobOfferCreateEndDateOfApplication from './gb-job-offer-create-end-date-of-application.vue';
import GbJobOfferCreateStartDateOfEmployment from './gb-job-offer-create-start-date-of-employment.vue';
import GbJobOfferCreateTraveling from './gb-job-offer-create-traveling.vue';
import GbJobOfferCreateWantedPersonalities from './gb-job-offer-create-wanted-personalities.vue';

interface GbJobOfferCreateAdditionalFieldsProps {
  domainErrors?: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-job-offer-create-additional-fields',
  components: {
    GbJobOfferCreateTraveling,
    GbJobOfferCreateAdvantages,
    GbJobOfferCreateAnnualSalaryRange,
    GbJobOfferCreateEndDateOfApplication,
    GbJobOfferCreateStartDateOfEmployment,
    GbJobOfferCreateWantedPersonalities,
    GbJobOfferCreateEmailAddressForReceiptOfApplications,
  },
  props: {
    jobOffer: { required: true } as PropOptions<PutJobOfferRequestInterface>,
    options: { required: true } as PropOptions<GbJobOfferCreateAdditionalFieldsProps>,
  },
  computed: {
    domainErrors(): DomainErrorsResponseInterface {
      return this.options.domainErrors || {};
    },
  },
  methods: {
    onJobOfferCreateTravelingInput(traveling: PutTravelingRequestInterface): void {
      this.$emit('input', { fieldName: 'traveling', fieldValue: traveling });
    },
    onJobOfferCreateAdvantagesInput(advantages: PutAdvandagesRequestInterface): void {
      this.$emit('input', { fieldName: 'advantages', fieldValue: advantages });
    },
    onJobOfferCreateAnnualSalaryRangeInput(annualSalaryRange: PutAnnualSalaryRangeInterface): void {
      this.$emit('input', { fieldName: 'annualSalaryRange', fieldValue: annualSalaryRange });
    },
    onJobOfferCreateEndDateOfApplicationInput(endDateOfApplication: Date): void {
      this.$emit('input', { fieldName: 'endDateOfApplication', fieldValue: endDateOfApplication });
    },
    onJobOfferCreateStartDateOfEmploymentInput(startDateOfEmployment: PutStartDateOfEmploymentInterface): void {
      this.$emit('input', { fieldName: 'startDateOfEmployment', fieldValue: startDateOfEmployment });
    },
    onJobOfferCreateWantedPersonalitiesInput(wantedPersonalities: JobOfferEnums.JobOfferWantedPersonality[]): void {
      this.$emit('input', { fieldName: 'wantedPersonalities', fieldValue: wantedPersonalities });
    },
    onJobOfferCreateEmailAddressForReceiptOfApplications(emailAddressForReceiptOfApplications: string): void {
      this.$emit('input', { fieldName: 'emailAddressForReceiptOfApplications', fieldValue: emailAddressForReceiptOfApplications });
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-create-additional-fields {
  &--title {
    margin-bottom: rem(53px);
  }

  &--email-address-for-receipt-of-applications {
    margin-top: rem(79px);
    /deep/ input {
      width: 30%;
    }
  }
}
</style>
