<template>
  <gb-block>
    <template v-slot:header> {{ $t('jobOffer.internalReferenceNumberLabel') }} </template>
    <template v-slot:content>
      <gb-input-text
        :value="value"
        :options="{
          inputId: 'internal-reference-number',
          inputPlaceholderKey: 'jobOffer.internalReferenceNumberPlaceholder',
          inputMaxLength: internalReferenceNumberMaximumLength,
          inputRequired: false,
          inputIsLarge: true,
          inputErrors: domainErrors.internalReferenceNumber,
        }"
        @input="onInternalReferenceNumberInput"
      />
    </template>
  </gb-block>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbBlock from '~/components/base-components/gb-block.vue';
import GbInputText from '~/components/base-components/gb-input-text.vue';
import { JobOfferConstraints } from '../../../../back/src/infrastructure/rest/career/models/job-offer-constraints-and-enums';
import { DomainErrorsResponseInterface } from '../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbJobOfferCreateInternalReferenceNumberProps {
  domainErrors?: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-job-offer-create-internal-reference-number',
  components: {
    GbBlock,
    GbInputText,
  },
  props: {
    value: { required: true } as PropOptions<string>,
    options: { required: true } as PropOptions<GbJobOfferCreateInternalReferenceNumberProps>,
  },
  computed: {
    domainErrors(): DomainErrorsResponseInterface {
      return this.options.domainErrors || {};
    },
    internalReferenceNumberMaximumLength(): number {
      return JobOfferConstraints.JOB_OFFER_INTERNAL_REFERENCE_NUMBER_MAX_LENGTH;
    },
  },
  methods: {
    onInternalReferenceNumberInput(value: string): void {
      this.$emit('input', value);
    },
  },
});
</script>

<style scoped></style>
