<template>
  <gb-block>
    <template v-slot:header> {{ $t('jobOffer.emailAddressForReceiptOfApplicationsLabel') }} </template>
    <template v-slot:content>
      <gb-input-email
        :value="value"
        :options="{
          inputId: 'email-address-for-receipt-of-applications',
          inputPlaceholderKey: 'jobOffer.emailAddressForReceiptOfApplicationsPlaceholder',
          inputRequired: true,
          inputMaxLength: emailAddressForReceiptOfApplicationsMaxLength,
          inputIsLarge: true,
          inputErrors: domainErrors.emailAddressForReceiptOfApplications,
        }"
        @input="onEmailAddressForReceiptOfApplicationsInput"
      />
    </template>
  </gb-block>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbBlock from '~/components/base-components/gb-block.vue';
import GbInputEmail from '~/components/base-components/gb-input-email.vue';
import { JobOfferConstraints } from '../../../../back/src/infrastructure/rest/career/models/job-offer-constraints-and-enums';
import { DomainErrorsResponseInterface } from '../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbJobOfferCreateEmailAddressForReceiptOfApplicationsProps {
  domainErrors?: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-job-offer-create-email-address-for-receipt-of-applications',
  components: {
    GbBlock,
    GbInputEmail,
  },
  props: {
    value: { required: true } as PropOptions<string>,
    options: { required: true } as PropOptions<GbJobOfferCreateEmailAddressForReceiptOfApplicationsProps>,
  },
  computed: {
    domainErrors(): DomainErrorsResponseInterface {
      return this.options.domainErrors || {};
    },
    emailAddressForReceiptOfApplicationsMaxLength(): number {
      return JobOfferConstraints.JOB_OFFER_EMAIL_ADDRESS_FOR_RECEIPT_OF_APPLICATIONS_MAX_LENGTH;
    },
  },
  methods: {
    onEmailAddressForReceiptOfApplicationsInput(value: string): void {
      this.$emit('input', value);
    },
  },
});
</script>

<style scoped></style>
