<template>
  <div class="columns is-multiline">
    <gb-textarea
      class="column is-10"
      :value="jobOffer.description"
      :options="{
        textareaId: 'description',
        textareaLabelKey: 'jobOffer.descriptionLabelKey',
        textareaRequired: true,
        textareaMaxLength: jobOfferDescriptionMaxLength,
        textareaIsLarge: true,
        textareaErrors: domainErrors.description,
      }"
      @input="onDescriptionInput"
    />
    <gb-textarea
      class="column is-10"
      :value="jobOffer.specificities"
      :options="{
        textareaId: 'specificities',
        textareaLabelKey: 'jobOffer.specificitiesLabelKey',
        textareaPlaceholderKey: 'jobOffer.specificitiesPlaceholder',
        textareaMaxLength: jobOfferSpecificitiesMaxLength,
        textareaIsLarge: true,
        textareaErrors: domainErrors.specificities,
      }"
      @input="onSpecificitiesInput"
    />
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbTextarea from '~/components/base-components/gb-textarea.vue';
import { JobOfferConstraints } from '../../../../back/src/infrastructure/rest/career/models/job-offer-constraints-and-enums';
import { PutJobOfferRequestInterface } from '../../../../back/src/infrastructure/rest/career/models/put-job-offer-request.interface';
import { DomainErrorsResponseInterface } from '../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbJobOfferCreateHeaderProps {
  domainErrors?: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-job-offer-create-description-and-specificities',
  components: {
    GbTextarea,
  },
  props: {
    jobOffer: { required: true } as PropOptions<PutJobOfferRequestInterface>,
    options: { required: true } as PropOptions<GbJobOfferCreateHeaderProps>,
  },
  computed: {
    domainErrors(): DomainErrorsResponseInterface {
      return this.options.domainErrors || {};
    },
    jobOfferDescriptionMaxLength(): number {
      return JobOfferConstraints.JOB_OFFER_DESCRIPTION_MAX_LENGTH;
    },
    jobOfferSpecificitiesMaxLength(): number {
      return JobOfferConstraints.JOB_OFFER_SPECIFICITIES_MAX_LENGTH;
    },
  },
  methods: {
    onDescriptionInput(description: string): void {
      this.$emit('input', { fieldName: 'description', fieldValue: description });
    },
    onSpecificitiesInput(specificities: string): void {
      this.$emit('input', { fieldName: 'specificities', fieldValue: specificities });
    },
  },
});
</script>

<style scoped></style>
