<template>
  <div class="gb-job-offer-view-details">
    <div class="gb-job-offer-view-details--city">
      <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE' }">
        <template v-slot:icon>
          <gb-icon :options="{ iconName: 'address_yellow' }" />
        </template>
        <template v-slot:element>
          <span>{{ jobOffer.city }}</span>
        </template>
      </gb-element-with-icon>
    </div>
    <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE' }">
      <template v-slot:icon>
        <gb-icon :options="{ iconName: 'wheels_yellow' }" />
      </template>
      <template v-slot:element>
        <div class="gb-job-offer-view-details--badge-container">
          <gb-badge
            v-for="requestedSpeciality in jobOffer.requestedSpecialities"
            :key="requestedSpeciality"
            :options="{ badgeIsRounded: true, badgeColor: 'NEUTRAL_COLOR' }"
          >
            {{ $t(jobOfferRequestedSpecialityI18n(requestedSpeciality)) }}
          </gb-badge>
        </div>
      </template>
    </gb-element-with-icon>
    <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE' }">
      <template v-slot:icon>
        <gb-icon :options="{ iconName: 'target_yellow' }" />
      </template>
      <template v-slot:element>
        <div class="gb-job-offer-view-details--badge-container">
          <gb-badge
            v-for="targetCustomer in jobOffer.targetCustomers"
            :key="targetCustomer"
            :options="{ badgeIsRounded: true, badgeColor: 'NEUTRAL_COLOR' }"
          >
            {{ $t(jobOfferTargetCustomerI18n(targetCustomer)) }}
          </gb-badge>
        </div>
      </template>
    </gb-element-with-icon>
    <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE' }">
      <template v-slot:icon>
        <gb-icon :options="{ iconName: 'timer_yellow' }" />
      </template>
      <template v-slot:element>
        <div class="gb-job-offer-view-details--badge-container">
          <gb-badge
            v-for="requiredExperience in jobOffer.requiredExperiences"
            :key="requiredExperience"
            :options="{ badgeIsRounded: true, badgeColor: 'NEUTRAL_COLOR' }"
          >
            {{ $t(jobOfferRequiredExperienceI18n(requiredExperience)) }}
          </gb-badge>
        </div>
      </template>
    </gb-element-with-icon>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbBadge from '~/components/base-components/gb-badge.vue';
import GbElementWithIcon from '~/components/base-components/gb-element-with-icon.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import {
  getI18nKey,
  I18nKey,
  JOB_OFFER_REQUESTED_SPECIALITY_I18N_MAPPING,
  JOB_OFFER_REQUIRED_EXPERIENCE_I18N_MAPPING,
  JOB_OFFER_TARGET_CUSTOMER_I18N_MAPPING,
} from '~/utils/i18n-mapping.utils';
import { GetJobOfferResponseInterface } from '../../../../back/src/infrastructure/rest/career/models/get-job-offer-response.interface';
import { JobOfferEnums } from '../../../../back/src/infrastructure/rest/career/models/job-offer-constraints-and-enums';

export default Vue.extend({
  name: 'gb-job-offer-view-details',
  components: {
    GbElementWithIcon,
    GbIcon,
    GbBadge,
  },
  props: {
    jobOffer: { required: true } as PropOptions<GetJobOfferResponseInterface>,
  },
  methods: {
    jobOfferRequestedSpecialityI18n(key: JobOfferEnums.JobOfferRequestedSpeciality): I18nKey {
      return getI18nKey<JobOfferEnums.JobOfferRequestedSpeciality>(JOB_OFFER_REQUESTED_SPECIALITY_I18N_MAPPING, key);
    },
    jobOfferTargetCustomerI18n(key: JobOfferEnums.JobOfferTargetCustomer): I18nKey {
      return getI18nKey<JobOfferEnums.JobOfferTargetCustomer>(JOB_OFFER_TARGET_CUSTOMER_I18N_MAPPING, key);
    },
    jobOfferRequiredExperienceI18n(key: JobOfferEnums.JobOfferRequiredExperience): I18nKey {
      return getI18nKey<JobOfferEnums.JobOfferRequiredExperience>(JOB_OFFER_REQUIRED_EXPERIENCE_I18N_MAPPING, key);
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-view-details {
  &--city {
    /deep/ .gb-element-with-icon {
      &.outside .gb-element-with-icon {
        top: rem(-45px) !important;
      }
    }
  }
  /deep/ .gb-element-with-icon {
    margin-top: rem(20px);

    &.outside .gb-element-with-icon {
      top: rem(-55px);
      left: rem(-45px);
    }

    .gb-badge {
      margin: rem(5px) rem(10px) rem(5px) 0;
    }
  }
  &--badge-container {
    display: flex;
    flex-wrap: wrap;
  }
}
</style>
