<template>
  <div class="gb-job-offer-view-header">
    <div class=" columns is-vcentered">
      <div class="column is-5">
        <h1 class="gb-job-offer-view-header--title">{{ jobOffer.title }}</h1>
      </div>
      <div class="gb-job-offer-view-header--highlight column is-offset-1">
        <gb-job-offer-highlight :job-offer="jobOffer" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbElementWithIcon from '~/components/base-components/gb-element-with-icon.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import GbJobOfferHighlight from '~/components/job-offer/gb-job-offer-highlight.vue';
import {
  getI18nKey,
  I18nKey,
  JOB_OFFER_JOB_STATUS_I18N_MAPPING,
  JOB_OFFER_JOB_TYPE_I18N_MAPPING,
  JOB_OFFER_REGION_I18N_MAPPING,
} from '~/utils/i18n-mapping.utils';
import { GetJobOfferResponseInterface } from '../../../../back/src/infrastructure/rest/career/models/get-job-offer-response.interface';
import { JobOfferEnums } from '../../../../back/src/infrastructure/rest/career/models/job-offer-constraints-and-enums';

export default Vue.extend({
  name: 'gb-job-offer-view-header',
  components: {
    GbElementWithIcon,
    GbIcon,
    GbJobOfferHighlight,
  },
  props: {
    jobOffer: { required: true } as PropOptions<GetJobOfferResponseInterface>,
  },
  methods: {
    jobOfferJobTypeI18n(key: JobOfferEnums.JobOfferJobType): I18nKey {
      return getI18nKey<JobOfferEnums.JobOfferJobType>(JOB_OFFER_JOB_TYPE_I18N_MAPPING, key);
    },
    jobOfferJobStatusI18n(key: JobOfferEnums.JobOfferJobStatus): I18nKey {
      return getI18nKey<JobOfferEnums.JobOfferJobStatus>(JOB_OFFER_JOB_STATUS_I18N_MAPPING, key);
    },
    jobOfferRegionOptionsI18n(key: JobOfferEnums.JobOfferRegion): I18nKey {
      return getI18nKey<JobOfferEnums.JobOfferRegion>(JOB_OFFER_REGION_I18N_MAPPING, key);
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-view-header {
  border-radius: 8px;
  background-color: $gb-color-white;
  box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);
  padding-left: rem(60px);
  padding-right: rem(60px);

  &--title {
    text-transform: uppercase;
  }

  .gb-job-offer-view-header--highlight {
    /deep/ .gb-job-offer-highlight {
      @include gb-font-text-paragraph;

      .gb-element-with-icon.outside .gb-element-with-icon {
        top: rem(-20px);
        left: rem(-30px);
      }
      img {
        width: rem(20px);
        height: rem(20px);
      }
    }
  }
}
</style>
