<template>
  <div class="gb-job-offer-view-advantages ">
    <div class="title">{{ $t('jobOffer.advantagesLabel') }}</div>
    <div class="gb-job-offer-view-advantages--list">
      <gb-badge v-for="advandage in flatAdvantages" :key="advandage" :options="{ badgeColor: 'B2C_COLOR' }">
        <span> {{ $t(getAdvantageI18nLabelKey(advandage)) }}</span>
      </gb-badge>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbBadge from '~/components/base-components/gb-badge.vue';
import {
  JOB_OFFER_ADVANTAGE_HEALTH_I18N_MAPPING,
  JOB_OFFER_ADVANTAGE_SOCIAL_I18N_MAPPING,
  JOB_OFFER_ADVANTAGE_LIFE_BALANCE_I18N_MAPPING,
  JOB_OFFER_ADVANTAGE_FINANCIAL_I18N_MAPPING,
  JOB_OFFER_ADVANTAGE_PROFESSIONAL_I18N_MAPPING,
  getI18nKey,
  I18nKey,
} from '~/utils/i18n-mapping.utils';
import { JobOfferWithCompanyResponseInterface } from '../../../../back/src/infrastructure/rest/career/models/job-offer-response.interface';

export default Vue.extend({
  name: 'gb-job-offer-view-advantages',
  components: {
    GbBadge,
  },
  props: {
    jobOffer: { required: true } as PropOptions<JobOfferWithCompanyResponseInterface>,
  },
  computed: {
    flatAdvantages(): string[] {
      if (!this.jobOffer.advantages) return [];

      return [
        ...(this.jobOffer.advantages.financial ? this.jobOffer.advantages.financial : []),
        ...(this.jobOffer.advantages.health ? this.jobOffer.advantages.health : []),
        ...(this.jobOffer.advantages.lifeBalance ? this.jobOffer.advantages.lifeBalance : []),
        ...(this.jobOffer.advantages.professional ? this.jobOffer.advantages.professional : []),
        ...(this.jobOffer.advantages.social ? this.jobOffer.advantages.social : []),
      ];
    },
  },
  methods: {
    getAdvantageI18nLabelKey(advantage: string): I18nKey {
      return getI18nKey(
        {
          ...JOB_OFFER_ADVANTAGE_HEALTH_I18N_MAPPING,
          ...JOB_OFFER_ADVANTAGE_SOCIAL_I18N_MAPPING,
          ...JOB_OFFER_ADVANTAGE_LIFE_BALANCE_I18N_MAPPING,
          ...JOB_OFFER_ADVANTAGE_FINANCIAL_I18N_MAPPING,
          ...JOB_OFFER_ADVANTAGE_PROFESSIONAL_I18N_MAPPING,
        },
        advantage
      );
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-view-advantages {
  @include gb-font-text-label;

  padding-top: rem(40px);
  padding-bottom: rem(40px);
  .title {
    @include gb-font-text-label-uppercase;
    padding-bottom: rem(20px);
  }
}
</style>
