<template>
  <div class="gb-job-offer-view-dates-block">
    <div class="columns">
      <div class="gb-job-offer-view-dates-block--end-date-of-application column is-4">
        <div class="title">{{ $t('jobOffer.endDateOfApplication') }}</div>
        <div class="columns is-vcentered">
          <div class="column is-1">
            <gb-icon :options="{ iconName: 'calendar_yellow' }" />
          </div>
          <div class="column date">
            <span>{{ $d(new Date(jobOffer.endDateOfApplication), 'medium') }}</span>
          </div>
        </div>
      </div>
      <div class="gb-job-offer-view-dates-block--start-date-of-employment column">
        <div class="title">{{ $t('jobOffer.startDateOfEmployment') }}</div>
        <div class="columns is-vcentered" v-if="!jobOffer.startDateOfEmployment.asSoonAsPossible">
          <div class="column is-1">
            <gb-icon :options="{ iconName: 'calendar_yellow' }" />
          </div>
          <div class="column date">
            <span>{{ $d(new Date(jobOffer.startDateOfEmployment.startDate), 'medium') }}</span>
          </div>
        </div>
        <div v-else class="asap columns is-vcentered">
          <div class="column is-full">
            {{ $t('jobOffer.startDateOfEmploymentAsSoonAsPossibleLabel') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import { JobOfferWithCompanyResponseInterface } from '../../../../back/src/infrastructure/rest/career/models/job-offer-response.interface';
import GbIcon from '~/components/base-components/gb-icon.vue';

export default Vue.extend({
  name: 'gb-job-offer-view-dates-block',
  components: {
    GbIcon,
  },
  props: {
    jobOffer: { required: true } as PropOptions<JobOfferWithCompanyResponseInterface>,
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-view-dates-block {
  @include gb-font-text-label;

  padding-top: rem(40px);
  padding-bottom: rem(40px);
  .title {
    @include gb-font-text-label-uppercase;
    padding-bottom: rem(20px);
  }
}
</style>
