<template>
  <div class="gb-job-offer-view-annual-salary-range">
    <div class="title">
      {{ $t('jobOffer.annualSalaryRangeLabel') }}
    </div>
    <div class="columns">
      <div class="gb-job-offer-view-annual-salary-range--minimum column is-3">
        <h3>
          {{ $t('jobOffer.annualSalaryRangeMinimumLabel') }}
        </h3>
        <gb-badge :options="{ badgeIsRounded: true, badgeColor: 'NEUTRAL_COLOR' }">
          {{ $n(jobOffer.annualSalaryRange.minimumSalary, 'currency') }}
        </gb-badge>
      </div>
      <div class="gb-job-offer-view-annual-salary-range--maximum column">
        <h3>
          {{ $t('jobOffer.annualSalaryRangeMaximumLabel') }}
        </h3>
        <gb-badge :options="{ badgeIsRounded: true, badgeColor: 'NEUTRAL_COLOR' }">
          {{ $n(jobOffer.annualSalaryRange.maximumSalary, 'currency') }}
        </gb-badge>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbBadge from '~/components/base-components/gb-badge.vue';
import { JobOfferWithCompanyResponseInterface } from '../../../../back/src/infrastructure/rest/career/models/job-offer-response.interface';

export default Vue.extend({
  name: 'gb-job-offer-view-annual-salary-range',
  components: {
    GbBadge,
  },
  props: {
    jobOffer: { required: true } as PropOptions<JobOfferWithCompanyResponseInterface>,
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-view-annual-salary-range {
  @include gb-font-text-label;

  padding-top: rem(40px);
  padding-bottom: rem(40px);
  .title {
    @include gb-font-text-label-uppercase;
    padding-bottom: rem(20px);
  }

  h3 {
    margin-bottom: rem(20px);
  }
}
</style>
