<template>
  <div class="gb-job-offer-view-wanted-personality">
    <h2>
      {{ $t('jobOffer.wantedPersonalitiesLabel') }}
    </h2>
    <div class="columns is-multiline">
      <div
        class="gb-job-offer-view-wanted-personality--item column is-narrow"
        v-for="wantedPersonality in jobOffer.wantedPersonalities"
        :key="wantedPersonality"
      >
        <div class="icon">
          <gb-icon :options="{ iconName: getIconName(wantedPersonality) }" />
        </div>
        <span class="label">
          {{ $t(getWantedPersonalityI18nLabelKey(wantedPersonality)) }}
        </span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import { getI18nKey, I18nKey, JOB_OFFER_WANTED_PERSONALITY_I18N_MAPPING } from '~/utils/i18n-mapping.utils';
import { JobOfferEnums } from '../../../../back/src/infrastructure/rest/career/models/job-offer-constraints-and-enums';
import { JobOfferWithCompanyResponseInterface } from '../../../../back/src/infrastructure/rest/career/models/job-offer-response.interface';

export default Vue.extend({
  name: 'gb-job-offer-view-wanted-personality',
  components: {
    GbIcon,
  },
  props: {
    jobOffer: { required: true } as PropOptions<JobOfferWithCompanyResponseInterface>,
  },
  computed: {
    iconMapping(): { [key: string]: JobOfferEnums.JobOfferWantedPersonality } {
      return {
        head_speak_on: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_COMMUNICATORS,
        medal_on: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_AMBITIOUS,
        wheel_on: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_AUTONOMOUS,
        lightbulb_on: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_INNOVATIVE,
        binoculars_on: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_CURIOUS,
        gavel_on: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_DECISION_MAKERS,
        horse_on: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_STRATEGISTS,
        spring_on: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_FLEXIBLE,
        cup_on: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_LEADERS,
        hand_shake_on: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_NEGOTIATORS,
        puzzle_on: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_ORGANIZED,
        protractor_on: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_RIGOROUS,
        wrench_on: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_RESOURCEFUL,
        link_on: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_TEAMWORK,
        microphone_on: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_SPEAKERS_AT_THE_CONFERENCE,
        balance_on: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_PONDERATOR,
        bow_tie_on: JobOfferEnums.JobOfferWantedPersonality.WANTED_PERSONALITY_DIPLOMATS,
      };
    },
  },

  methods: {
    getIconName(wantedPersonality: JobOfferEnums.JobOfferWantedPersonality): string | undefined {
      for (const [key, value] of Object.entries(this.iconMapping)) {
        if (value === wantedPersonality) {
          return key;
        }
      }
      return undefined;
    },
    getWantedPersonalityI18nLabelKey(wantedPersonality: JobOfferEnums.JobOfferWantedPersonality): I18nKey {
      return getI18nKey(JOB_OFFER_WANTED_PERSONALITY_I18N_MAPPING, wantedPersonality);
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-view-wanted-personality {
  @include gb-font-text-label;

  padding-top: rem(40px);
  padding-bottom: rem(40px);

  &--item {
    @include gb-font-picto-label-on;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: rem(120px);
    padding: rem(10px);

    .icon {
      height: rem(50px);
      width: (50px);
      background-color: $gb-color-candidate-secondary;
      border-radius: 50%;
      border: none;
      margin-bottom: rem(12px);

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
</style>
