<template>
  <div class="gb-job-offer-view-traveling">
    <div class="title">
      {{ $t('jobOffer.travelingLabel') }}
    </div>
    <div v-if="noTraveling" class="gb-job-offer-view-traveling--no-traveling">
      {{ $t('jobOffer.travelingNoTravelingLabel') }}
    </div>
    <div v-else class="columns">
      <div
        class="column is-3"
        v-for="(frequency, destination) in destinations"
        :key="destination"
        :class="`gb-job-offer-view-traveling--${destination}`"
      >
        <div class="destination">
          <gb-icon :options="{ iconName: `${destination}_flag` }" />
          <span class="gb-job-offer-view-traveling--label">
            {{ $t(getTravelingDestinationI18n(destination)) }}
          </span>
        </div>
        <gb-badge :options="{ badgeColor: 'B2C_COLOR' }">
          <span> {{ $t(getTravelingFrequencyI18n(frequency)) }}</span>
        </gb-badge>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { upperFirst } from 'lodash';
import Vue, { PropOptions } from 'vue';
import GbBadge from '~/components/base-components/gb-badge.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import { getI18nKey, I18nKey, JOB_OFFER_TRAVELING_FREQUENCY_I18N_MAPPING } from '~/utils/i18n-mapping.utils';
import { TravelingEnums } from '../../../../back/src/infrastructure/rest/career/models/job-offer-constraints-and-enums';
import {
  JobOfferWithCompanyResponseInterface,
  TravelingResponseInterface,
} from '../../../../back/src/infrastructure/rest/career/models/job-offer-response.interface';

export default Vue.extend({
  name: 'gb-job-offer-view-traveling',
  components: {
    GbBadge,
    GbIcon,
  },
  props: {
    jobOffer: { required: true } as PropOptions<JobOfferWithCompanyResponseInterface>,
  },
  computed: {
    noTraveling(): boolean {
      return !!this.jobOffer.traveling && this.jobOffer.traveling.isTraveling === false;
    },
    destinations(): TravelingResponseInterface {
      if (!this.jobOffer.traveling) return {};

      const isATravelingFrequencyEnum: (value: unknown) => boolean = (value: unknown) =>
        Object.values(TravelingEnums.TravelingFrequency).includes(value as TravelingEnums.TravelingFrequency);

      return {
        ...(isATravelingFrequencyEnum(this.jobOffer.traveling.quebec) ? { quebec: this.jobOffer.traveling.quebec } : {}),
        ...(isATravelingFrequencyEnum(this.jobOffer.traveling.canada) ? { canada: this.jobOffer.traveling.canada } : {}),
        ...(isATravelingFrequencyEnum(this.jobOffer.traveling.international) ? { international: this.jobOffer.traveling.international } : {}),
      };
    },
  },
  methods: {
    getTravelingFrequencyI18n(key: TravelingEnums.TravelingFrequency): I18nKey {
      return getI18nKey<TravelingEnums.TravelingFrequency>(JOB_OFFER_TRAVELING_FREQUENCY_I18N_MAPPING, key);
    },
    getTravelingDestinationI18n(key: string): string {
      return `jobOffer.traveling${upperFirst(key)}Label`;
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-view-traveling {
  @include gb-font-text-label;

  padding-top: rem(40px);
  padding-bottom: rem(40px);
  .title {
    @include gb-font-text-label-uppercase;
    padding-bottom: rem(20px);
  }

  .destination {
    display: flex;
    align-items: center;
    height: rem(24px);
    padding-bottom: rem(10px);
    > span {
      @include gb-font-text-label;
      padding-left: rem(14px);
    }
  }
}
</style>
