<template>
  <div class="gb-job-offer-view-top-block">
    <div class="columns is-multiline">
      <div class="column is-half">
        <gb-job-offer-view-details :job-offer="jobOffer" />
      </div>
      <div class="column">
        <div v-if="isLoggedAsCandidate" class="gb-job-offer-view-top-block--apply-button">
          <gb-button
            :options="{
              buttonType: 'button',
              buttonLabelKey: 'apply',
            }"
          />
        </div>
      </div>
      <div class="gb-job-offer-view-top-block--info column" :class="[isLoggedAsCandidate ? 'is-6' : 'is-full']">
        <div class="gb-job-offer-view-top-block--description">
          <div class="gb-job-offer-view-top-block--description--header header">{{ $t('jobOffer.descriptionLabelKey') }}</div>
          <div class="gb-job-offer-view-top-block--description--content" :class="{ 'not-logged': !isLoggedAsCandidate }">
            {{ jobOffer.description }}
          </div>
        </div>
        <gb-login-block v-if="!isLoggedAsCandidate" :options="{ isLarge: true }" />
        <div v-if="displaySpecificities" class="gb-job-offer-view-top-block--specificities">
          <div class="gb-job-offer-view-top-block--specificities--header header">{{ $t('jobOffer.specificitiesLabelKey') }}</div>
          <div class="gb-job-offer-view-top-block--specificities--content">{{ jobOffer.specificities }}</div>
        </div>
      </div>
      <div v-if="isLoggedAsCandidate" class="column is-paddingless">
        <gb-company-card :company="jobOffer.company" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import { isEmpty } from 'lodash';
import GbLoginBlock from '~/components/base-components/gb-login-block.vue';
import GbButton from '~/components/base-components/gb-button.vue';
import GbCompanyCard from '~/components/company/card/gb-company-card.vue';

import GbJobOfferViewDetails from '~/components/job-offer/view/gb-job-offer-view-details.vue';
import { GetJobOfferResponseInterface } from '../../../../back/src/infrastructure/rest/career/models/get-job-offer-response.interface';

export default Vue.extend({
  name: 'gb-job-offer-view-top-block',
  components: {
    GbLoginBlock,
    GbButton,
    GbJobOfferViewDetails,
    GbCompanyCard,
  },
  props: {
    jobOffer: { required: true } as PropOptions<GetJobOfferResponseInterface>,
    isLoggedAsCandidate: { required: true } as PropOptions<boolean>,
  },
  computed: {
    displaySpecificities(): boolean {
      return this.isLoggedAsCandidate && !isEmpty(this.jobOffer.specificities);
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-view-top-block {
  border-radius: 8px;
  background-color: $gb-color-white;
  box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);
  padding: rem(36px) rem(84px) rem(68px) rem(84px);

  .gb-job-offer-view-details {
    margin-left: rem(40px);
    margin-bottom: rem(40px);
  }

  &--apply-button {
    display: flex;
    justify-content: center;
    padding-top: rem(45px);
  }

  .header {
    @include gb-font-text-label-uppercase;
    margin-bottom: rem(25px);
  }

  &--description {
    margin-bottom: rem(30px);

    &--content.not-logged {
      display: block;
      overflow: hidden;
      position: relative;

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        content: '';
        background: linear-gradient(to top, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 80%);
        pointer-events: none;
      }
    }
  }
}
</style>
