<template>
  <div class="gb-job-offer-bottom-block">
    <h2>{{ $t('jobOffer.conditionsOfEmployment') }}</h2>
    <gb-job-offer-view-dates-block :job-offer="jobOffer" />
    <gb-job-offer-view-advantages v-if="hasAdvantages" :job-offer="jobOffer" />
    <gb-job-offer-view-traveling v-if="hasTraveling" :job-offer="jobOffer" />
    <gb-job-offer-view-annual-salary-range v-if="hasAnnualSalaryRange" :job-offer="jobOffer" />
    <gb-job-offer-view-wanted-personality v-if="hasWantedPersonality" :job-offer="jobOffer" />
    <div class="gb-job-offer-bottom-block--apply-button">
      <gb-button
        :options="{
          buttonType: 'button',
          buttonLabelKey: 'apply',
        }"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import { isEmpty } from 'lodash';
import GbButton from '~/components/base-components/gb-button.vue';
import GbJobOfferViewDatesBlock from '~/components/job-offer/view/gb-job-offer-view-dates-block.vue';
import GbJobOfferViewAdvantages from '~/components/job-offer/view/gb-job-offer-view-advantages.vue';
import GbJobOfferViewAnnualSalaryRange from '~/components/job-offer/view/gb-job-offer-view-annual-salary-range.vue';
import GbJobOfferViewTraveling from '~/components/job-offer/view/gb-job-offer-view-traveling.vue';
import GbJobOfferViewWantedPersonality from '~/components/job-offer/view/gb-job-offer-view-wanted-personality.vue';
import { JobOfferWithCompanyResponseInterface } from '../../../../back/src/infrastructure/rest/career/models/job-offer-response.interface';

export default Vue.extend({
  name: 'gb-job-offer-bottom-block',
  components: {
    GbButton,
    GbJobOfferViewDatesBlock,
    GbJobOfferViewAdvantages,
    GbJobOfferViewAnnualSalaryRange,
    GbJobOfferViewTraveling,
    GbJobOfferViewWantedPersonality,
  },
  props: {
    jobOffer: { required: true } as PropOptions<JobOfferWithCompanyResponseInterface>,
  },
  computed: {
    hasAdvantages(): boolean {
      return !isEmpty(this.jobOffer.advantages);
    },
    hasAnnualSalaryRange(): boolean {
      return !isEmpty(this.jobOffer.annualSalaryRange);
    },
    hasTraveling(): boolean {
      return !isEmpty(this.jobOffer.traveling);
    },
    hasWantedPersonality(): boolean {
      return !isEmpty(this.jobOffer.wantedPersonalities);
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-bottom-block {
  border-radius: 8px;
  background-color: $gb-color-white;
  box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);
  padding: rem(36px) rem(84px) rem(68px) rem(84px);

  .gb-job-offer-view-dates-block,
  .gb-job-offer-view-advantages,
  .gb-job-offer-view-traveling {
    border-bottom: 0.5px solid $gb-color-input-border;
  }

  /deep/ h2 {
    padding-bottom: rem(20px);
    border-bottom: 0.5px solid $gb-color-input-border;
    margin-bottom: rem(30px);
  }

  &--apply-button {
    margin-top: rem(68px);
    text-align: center;
  }
}
</style>
