<template>
  <div class="gb-job-offers-table-header" :class="{ highlighted: options.isHighlighted }" @click="onCollapse">
    <span>{{ $t(options.labelKey) }} ({{ options.jobOffersCount }})</span>
    <button class="gb-job-offers-table-header--collapse-button" :class="{ 'is-collapsed': isCollapsed }">
      <gb-icon :options="{ iconName }" />
    </button>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbIcon from '~/components/base-components/gb-icon.vue';

interface GbJobOffersTableHeaderOptionsProps {
  labelKey: string;
  jobOffersCount: number;
  isHighlighted?: boolean;
}

export default Vue.extend({
  name: 'gb-job-offers-table-header',
  components: {
    GbIcon,
  },
  props: {
    isCollapsed: { required: true } as PropOptions<boolean>,
    options: { required: true } as PropOptions<GbJobOffersTableHeaderOptionsProps>,
  },
  computed: {
    iconName(): string {
      return this.options.isHighlighted ? 'arrow_white' : 'arrow_grey';
    },
  },
  methods: {
    onCollapse(): void {
      this.$emit('collapse');
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offers-table-header {
  box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);
  cursor: pointer;

  padding: rem(24px) rem(35px) rem(24px) rem(50px);
  display: flex;
  justify-content: space-between;

  &.highlighted {
    @include gb-font-text-label-uppercase-white;
    background-color: $gb-color-primary;
  }

  &:not(.highlighted) {
    @include gb-font-text-label-uppercase;
    background-color: $gb-color-white;
    border: 1px solid $gb-color-input-border;
  }

  span {
    vertical-align: middle;
  }

  &--collapse-button {
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;

    &.is-collapsed {
      transform: scale(1, -1);
    }
  }
}
</style>
