<template>
  <div class="gb-job-offers-pending-validation">
    <div class="columns is-marginless is-paddingless is-multiline">
      <div class="column is-11 is-marginless is-paddingless ">
        <gb-job-offers-table-header
          :is-collapsed="isCollapsed"
          :options="{
            labelKey: 'companyDashboardJobOffers.jobOffersPendingValidationTitle',
            jobOffersCount: jobOffers.length,
            isHighlighted: false,
          }"
          @collapse="onCollapse"
        />
      </div>
    </div>
    <div v-if="!isCollapsed" class="gb-job-offers-pending-validation--rows">
      <gb-job-offers-table-row v-for="jobOffer in jobOffers" :key="jobOffer.id" :job-offer="jobOffer" :options="{ hideCandidatesNumber: true }">
        <template v-slot:actions>
          <gb-icon :options="{ iconName: 'rocket_blue' }" />
        </template>
      </gb-job-offers-table-row>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import { JobOfferResponseInterface } from '../../../../back/src/infrastructure/rest/career/models/job-offer-response.interface';
import GbJobOffersTableHeader from './gb-job-offers-table-header.vue';
import GbJobOffersTableRow from './gb-job-offers-table-row.vue';

interface GbJobOffersPendingValidationData {
  isCollapsed: boolean;
}

export default Vue.extend({
  name: 'gb-job-offers-pending-validation',
  props: {
    jobOffers: { required: true } as PropOptions<JobOfferResponseInterface[]>,
  },
  data() {
    return {
      isCollapsed: false,
    } as GbJobOffersPendingValidationData;
  },
  components: {
    GbIcon,
    GbJobOffersTableHeader,
    GbJobOffersTableRow,
  },
  methods: {
    onCollapse(): void {
      this.isCollapsed = !this.isCollapsed;
    },
  },
});
</script>
