<template>
  <div class="gb-job-offers-published">
    <div class="columns is-marginless is-paddingless is-multiline">
      <div class="column is-11 is-marginless is-paddingless ">
        <gb-job-offers-table-header
          :is-collapsed="isCollapsed"
          :options="{
            labelKey: 'companyDashboardJobOffers.jobOffersPublishedTitle',
            jobOffersCount: jobOffers.length,
            isHighlighted: true,
          }"
          @collapse="onCollapse"
        />
      </div>
    </div>
    <div v-if="!isCollapsed" class="gb-job-offers-published--rows">
      <gb-job-offers-table-row v-for="jobOffer in jobOffers" :key="jobOffer.id" :job-offer="jobOffer">
        <template v-slot:actions>
          <gb-icon :options="{ iconName: 'clock_blue' }" />
          <gb-icon :options="{ iconName: 'rocket_blue' }" />
        </template>
      </gb-job-offers-table-row>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import { JobOfferResponseInterface } from '../../../../back/src/infrastructure/rest/career/models/job-offer-response.interface';
import GbJobOffersTableHeader from './gb-job-offers-table-header.vue';
import GbJobOffersTableRow from './gb-job-offers-table-row.vue';

interface GbJobOffersPublishedData {
  isCollapsed: boolean;
}

export default Vue.extend({
  name: 'gb-job-offers-published',
  props: {
    jobOffers: { required: true } as PropOptions<JobOfferResponseInterface[]>,
  },
  data() {
    return {
      isCollapsed: false,
    } as GbJobOffersPublishedData;
  },
  components: {
    GbIcon,
    GbJobOffersTableHeader,
    GbJobOffersTableRow,
  },
  methods: {
    onCollapse(): void {
      this.isCollapsed = !this.isCollapsed;
    },
  },
});
</script>
