<template>
  <div class="gb-job-offers-table-row columns is-marginless is-paddingless">
    <div class="column is-11">
      <div class="gb-job-offers-table-row--content columns is-vcentered">
        <div class="gb-job-offers-table-row--title column is-4 ">
          <span>{{ jobOffer.title }}</span>
        </div>
        <div class="gb-job-offers-table-row--published-at column">
          <span>{{ publishedAtDate }}</span>
        </div>
        <div class="gb-job-offers-table-row--city column">
          <span>{{ jobOffer.city }}</span>
        </div>
        <div class="gb-job-offers-table-row--candidates column">
          {{ candidatesNumber }}
        </div>
        <div class="gb-job-offers-table-row--days-left column"></div>
        <div class="gb-job-offers-table-row--actions column">
          <slot name="actions"></slot>
        </div>
      </div>
    </div>
    <div class="gb-job-offers-table-row--delete column is-marginless is-paddingless"></div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import { JobOfferResponseInterface } from '../../../../back/src/infrastructure/rest/career/models/job-offer-response.interface';

interface GbJobOffersTableOptionsProps {
  hideCandidatesNumber?: boolean;
}

export default Vue.extend({
  name: 'gb-job-offers-table',
  props: {
    jobOffer: { required: true } as PropOptions<JobOfferResponseInterface>,
    options: { required: false } as PropOptions<GbJobOffersTableOptionsProps>,
  },
  computed: {
    publishedAtDate(): string {
      if (!this.jobOffer.publishedAt) {
        return '';
      }

      return new Date(this.jobOffer.publishedAt).toISOString().split('T')[0];
    },
    candidatesNumber(): string {
      return this.options && !!this.options.hideCandidatesNumber ? '' : '-';
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offers-table-row {
  margin-top: rem(14px) !important;
  max-height: rem(66px);

  &--content {
    @include gb-font-text-label;
    background-color: $gb-color-white;
    box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);
    padding-left: rem(30px) !important;
    margin-right: rem(20px);
  }

  &--title {
    @include gb-font-title-offer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--city {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--candidates {
    text-align: center;
  }

  &--days-left {
    text-align: center;
  }

  &--actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &--delete {
  }
}
</style>
