<template>
  <div class="gb-company-value-block">
    <div class="gb-company-value-block--title">{{ $t('company.value') }}</div>
    <gb-badge :options="{ badgeIsHighlighted: false }">{{ value.meaning }}</gb-badge>
    <div class="gb-company-value-block--justification">{{ value.justification }}</div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbBadge from '~/components/base-components/gb-badge.vue';
import GbElementWithIcon from '~/components/base-components/gb-element-with-icon.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import { ValueResponseInterface } from '../../../../back/src/infrastructure/rest/career/models/company-response.interface';

export default Vue.extend({
  name: 'gb-company-card-value',
  props: {
    value: { required: true } as PropOptions<ValueResponseInterface>,
  },
  components: {
    GbElementWithIcon,
    GbIcon,
    GbBadge,
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-company-value-block {
  padding-top: rem(30px);
  text-align: center;

  > div {
    text-align: center;
  }

  &--title {
    @include gb-font-text-label-uppercase;
  }

  .gb-badge {
    margin-top: rem(14px);
    border-radius: rem(18px);
    margin-bottom: rem(14px);
  }

  &--justification {
    @include gb-font-text-paragraph;
  }
}
</style>
