<template>
  <div class="gb-company-overview-block">
    <div class="gb-company-overview-block--logo">
      <gb-company-logo
        :options="{
          logo: company.logo,
          alt: company.name,
        }"
      />
    </div>
    <div class="gb-company-overview-block--size">
      <div class="left-element"><gb-icon :options="{ iconName: 'people_yellow' }" /></div>
      <div class="right-element">{{ $t(getCompanySizeI18n(company.size)) }} {{ $t('company.people') }}</div>
    </div>
    <div class="gb-company-overview-block--bachelor">
      <div class="left-element">{{ company.bachelorsOfEngineeringNumber }}</div>
      <div class="right-element">{{ $tc('company.bachelorsOfEngineering', company.bachelorsOfEngineeringNumber) }}</div>
    </div>
    <div class="gb-company-overview-block--value">
      <gb-company-card-value :value="getRandomCompanyValue()" />
    </div>
    <div class="gb-company-overview-block--link">
      <nuxt-link to="/">{{ $t('learnMore') }}</nuxt-link>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbBadge from '~/components/base-components/gb-badge.vue';
import GbCompanyLogo from '~/components/base-components/gb-company-logo.vue';
import GbElementWithIcon from '~/components/base-components/gb-element-with-icon.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import GbCompanyCardValue from '~/components/company/card/gb-company-card-value.vue';
import { COMPANY_SIZE_I18N_MAPPING, getI18nKey, I18nKey } from '~/utils/i18n-mapping.utils';
import { CompanyEnums } from '../../../../back/src/infrastructure/rest/career/models/company-constraints-and-enums';
import { CompanyResponseInterface, ValueResponseInterface } from '../../../../back/src/infrastructure/rest/career/models/company-response.interface';

export default Vue.extend({
  name: 'gb-company-card',
  props: {
    company: { required: true } as PropOptions<CompanyResponseInterface>,
  },
  components: {
    GbElementWithIcon,
    GbIcon,
    GbBadge,
    GbCompanyCardValue,
    GbCompanyLogo,
  },
  methods: {
    getCompanySizeI18n(key: CompanyEnums.CompanySize): I18nKey {
      return getI18nKey<CompanyEnums.CompanySize>(COMPANY_SIZE_I18N_MAPPING, key);
    },
    getRandomCompanyValue(): ValueResponseInterface {
      return this.company.values[Math.floor(Math.random() * this.company.values.length)];
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-company-overview-block {
  width: rem(300px);

  border-radius: rem(8px);
  background: $gb-color-b-2-c-background;
  margin: auto;
  padding-bottom: rem(35px);

  .column {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  &--logo {
    position: relative;

    /deep/ .oval {
      position: absolute;
      top: rem(-45px);
      left: rem(100px);
      margin-right: auto;
    }
  }

  &--size {
    display: flex;

    margin-left: auto;
    margin-right: auto;
    padding-top: rem(80px);

    text-align: center;
  }

  &--bachelor {
    display: flex;
    padding-top: rem(15px);
  }

  &--link {
    @include gb-font-h-3;
    text-align: center;
    text-decoration: underline;

    a {
      color: $gb-color-text;
    }

    margin-top: rem(20px);
  }

  .left-element {
    @include gb-font-key-number;

    width: rem(100px);
    text-align: right;
    color: $gb-color-candidate-secondary;

    padding-right: rem(10px);
  }

  .right-element {
    @include gb-font-text-paragraph;

    width: rem(160px);
    text-align: left;
  }
}
</style>
