<template>
  <div>
    <gb-header :value="getHeader" />
    <gb-action-bar v-if="!isLoggedAsCandidate">
      <template v-slot:left>
        <nuxt-link :to="getRouteToCompanyDashboard">
          {{ $t('companyView') }}
        </nuxt-link>
      </template>
      <template v-slot:right>
        <gb-button
          :options="{
            buttonLabelKey: 'login',
            buttonOnClick: onLoginClick,
          }"
          class="login"
        />
        <gb-button
          :options="{
            buttonLabelKey: 'signup',
            buttonOnClick: onSignupClick,
          }"
          class="signup"
        />
      </template>
    </gb-action-bar>
    <main>
      <nuxt />
    </main>
    <gb-footer :value="getFooter" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapGetters } from 'vuex';
import GbActionBar from '~/components/base-components/gb-action-bar.vue';
import GbButton from '~/components/base-components/gb-button.vue';
import GbFooter from '~/components/layout/gb-footer.vue';
import GbHeader from '~/components/layout/gb-header.vue';
import { getLoginUrl } from '~/utils/authentication.utils';

export default Vue.extend({
  components: {
    GbHeader,
    GbFooter,
    GbButton,
    GbActionBar,
  },
  methods: {
    onLoginClick(): void {
      window.location.replace(getLoginUrl(this.$route.fullPath));
    },
    onSignupClick(): void {
      this.$router.push('/');
    },
  },
  computed: {
    ...mapGetters('layout-module', ['getHeader', 'getFooter']),
    ...mapGetters('user-profile-module', ['isLoggedAsCandidate']),
    getRouteToCompanyDashboard(): string {
      return `/${this.$route.params.lang}/company/dashboard`;
    },
  },
});
</script>

<style lang="scss">
@import '~sass-rem';
@import '~assets/scss/_variables.scss';
@import '~assets/scss/_mixins.scss';

.gb-action-bar {
  a {
    color: $gb-color-text;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 18px;
    text-decoration: underline;
  }

  .gb-button {
    opacity: 1;
    &.login {
      @include gb-button-yellow-with-white-font;
    }

    &.signup {
      @include gb-button-white-with-yellow-font;

      margin-left: 15px;
    }
  }
}

main {
  padding-top: rem($gb-header-height);
  background-color: $gb-color-b-2-c-background !important;
}
</style>
