<template>
  <div>
    <gb-header :value="getHeader" />
    <main>
      <nuxt />
    </main>
    <gb-footer :value="getFooter" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapGetters } from 'vuex';
import GbFooter from '~/components/layout/gb-footer.vue';
import GbHeader from '~/components/layout/gb-header.vue';

export default Vue.extend({
  middleware: 'authenticatedAsCompany.middleware',
  components: {
    GbHeader,
    GbFooter,
  },
  computed: mapGetters('layout-module', ['getHeader', 'getFooter']),
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_variables.scss';

main {
  padding-top: rem($gb-header-height);
  background-color: $gb-color-b-2-b-background !important;

  .section {
    margin-top: rem(32px);
  }
}
</style>
