<template>
  <div>
    <gb-header :value="getHeader" />
    <main :class="mainClass">
      <section class="section">
        <div class="container">
          <nuxt />
        </div>
      </section>
    </main>
    <gb-footer :value="getFooter" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapGetters } from 'vuex';
import GbFooter from '~/components/layout/gb-footer.vue';
import GbHeader from '~/components/layout/gb-header.vue';

interface GbDefaultLayoutData {
  mainClass: object;
}

export default Vue.extend({
  components: {
    GbHeader,
    GbFooter,
  },
  data() {
    return {
      mainClass: {},
    } as GbDefaultLayoutData;
  },
  computed: mapGetters('layout-module', ['getHeader', 'getFooter']),
  watch: {
    '$route.path': {
      handler(newPath: string): void {
        this.setLayoutBackground(newPath);
      },
      immediate: true,
    },
  },
  methods: {
    setLayoutBackground(path: string): void {
      this.mainClass = {
        'job-offer-creation-background': path.includes('job-offer/create'),
        'job-offer-preview-background': path.includes('job-offer/preview'),
        'job-offer-creation-confirmation-background': path.includes('job-offer/creation-confirmation'),
        'company-creation-background': path.includes('company/profile/create'),
        'company-preview-background': path.includes('company/profile/preview'),
        'company-creation-confirmation-background': path.includes('company/profile/creation-confirmation'),
      };
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_variables.scss';

.company-creation-background,
.company-preview-background {
  background-image: url('/img/company_background.svg');
  background-size: 100% auto;
  background-position-y: rem(-$gb-header-height - $gb-action-bar-height);
}

.company-creation-confirmation-background,
.job-offer-creation-confirmation-background {
  background-image: url('/img/orange_ring_background.svg') !important;
  background-position-y: rem(200px);
  background-size: contain !important;
  background-repeat: no-repeat;
}

main {
  padding-top: rem($gb-header-height + $gb-action-bar-height);
  background-color: $gb-color-b-2-b-background !important;

  .section {
    margin-top: rem(32px);
  }
}
</style>
