@import "gb-styleguide";
$rem-baseline: $gb-font-text-paragraph-font-size;


body {
  margin: 0;
}

body, input, select, textarea {
  @include gb-font-text-paragraph;
}

h1 {
  @include gb-font-h-1;
  &.white {
    @include gb-font-h-1-white;
  }
}

h2 {
  @include gb-font-h-2;
  &.white {
    @include gb-font-h-2-white;
  }
}

h3 {
  @include gb-font-h-3;
  &.white {
    @include gb-font-h-3-white;
  }
}

p {
  @include gb-font-text-paragraph;
}
