@import "gb-styleguide";

@mixin gb-label-box() {
  border-radius: 8px;
  box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);
  display: inline-block;
  height: rem(20px);
  margin: 0 rem(8px) rem(10px) 0;
  min-width: rem(145px);
  padding: rem(5px) rem(15px);
  text-align: center !important;
  vertical-align: middle;
}

@mixin gb-grey-text-on-white-background() {
  @include gb-font-text-placeholder;
  background-color: $gb-color-white;
  border: 0.5px solid $gb-color-input-border;
}

@mixin gb-white-text-on-blue-background() {
  @include gb-font-text-style-blue-button;
  background-color: $gb-color-company-secondary;
  border: 0.5px solid $gb-color-company-secondary;
  color: $gb-color-white;
}

@mixin gb-button-yellow-with-white-font() {
  background-color: $gb-color-candidate-secondary;
  color: $gb-color-white;

  &:hover {
    background-color: $gb-color-candidate-secondary;
  }
}

@mixin gb-button-white-with-yellow-font() {
  background-color: $gb-color-white;
  color: $gb-color-candidate-secondary;

  &:hover {
    background-color: $gb-color-white;
  }
}
