@import "gb-styleguide";
$layout-gap: 20px;

$gb-header-height: 67px;
$gb-header-background-color: $gb-color-white;

$gb-footer-height: 183px;
$gb-footer-background-color: $gb-color-footer-background;

$gb-action-bar-height: 52px;
