<template>
  <section class="job-offers-slug section">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-full">
          <gb-job-offer-view-header :job-offer="getJobOffer" />
        </div>
        <div class="job-offers-slug--top-block column" :class="[isLoggedAsCandidate ? 'is-full' : 'is-7']">
          <gb-job-offer-view-top-block :job-offer="getJobOffer" :is-logged-as-candidate="isLoggedAsCandidate" />
        </div>
        <div v-if="isLoggedAsCandidate" class="job-offers-slug--bottom-block column is-9">
          <gb-job-offer-view-bottom-block :job-offer="getJobOffer" />
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapGetters } from 'vuex';
import GbJobOfferViewHeader from '~/components/job-offer/view/gb-job-offer-view-header.vue';
import GbJobOfferViewTopBlock from '~/components/job-offer/view/gb-job-offer-view-top-block.vue';
import GbJobOfferViewBottomBlock from '~/components/job-offer/view/gb-job-offer-view-bottom-block.vue';
import { extractIdFromUrl } from '~/utils/url-builder.utils';
import { CommonTypeAliases } from '../../../../back/src/infrastructure/rest/common-models/common-type-aliases';

export default Vue.extend({
  layout: 'b2c',
  components: {
    GbJobOfferViewHeader,
    GbJobOfferViewTopBlock,
    GbJobOfferViewBottomBlock,
  },
  async asyncData({ app: { $apiService }, store: { dispatch }, params: { slug } }): Promise<void> {
    await dispatch('user-profile-module/setUserProfile', { apiService: $apiService });
    if (slug) {
      const id: CommonTypeAliases.JobOfferId = extractIdFromUrl(slug);
      await dispatch('job-offers-module/setCurrentJobOffer', { apiService: $apiService, id });
    }
  },
  computed: {
    ...mapGetters('job-offers-module', ['getJobOffer']),
    ...mapGetters('user-profile-module', ['isLoggedAsCandidate']),
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.job-offers-slug {
  margin-top: rem(54px);
}
</style>
