<template>
  <div class="job-offers">
    <div class="job-offers--banner">
      <div class="job-offers--banner--content"></div>
    </div>
    <section class="section">
      <div class="job-offers--content container">
        <gb-job-offer-search class="job-offers--search" :value="getJobOffersFilter" @input="onSearchInput" />
        <div class="columns">
          <div class="job-offers--content column is-9">
            <gb-job-offer-list :job-offers="getJobOffers" :is-logged-as-candidate="isLoggedAsCandidate" />
          </div>
          <div class="column">
            <gb-login-block v-if="!isLoggedAsCandidate" />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapGetters } from 'vuex';
import GbLoginBlock from '~/components/base-components/gb-login-block.vue';
import GbJobOfferList from '~/components/job-offer/list/gb-job-offer-list.vue';
import GbJobOfferSearch from '~/components/job-offer/search/gb-job-offer-search.vue';
import { SetJobOffersFilterActionPayload } from '~/store/job-offers-module/actions';

export default Vue.extend({
  layout: 'b2c',
  components: {
    GbJobOfferList,
    GbLoginBlock,
    GbJobOfferSearch,
  },
  async asyncData({ app: { $apiService }, store: { dispatch } }): Promise<void> {
    await dispatch('job-offers-module/setJobOffers', { apiService: $apiService });
    await dispatch('user-profile-module/setUserProfile', { apiService: $apiService });
  },
  computed: {
    ...mapGetters('job-offers-module', ['getJobOffers', 'getJobOffersFilter']),
    ...mapGetters('user-profile-module', ['isLoggedAsCandidate']),
  },
  methods: {
    async onSearchInput(filter: SetJobOffersFilterActionPayload): Promise<void> {
      await this.$store.dispatch('job-offers-module/setJobOffersFilter', filter);
      await this.$store.dispatch('job-offers-module/setJobOffers', { apiService: this.$apiService });
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_variables.scss';
@import '~assets/scss/_gb-styleguide.scss';
@import '~assets/scss/_bulma.scss';

.job-offers {
  &--banner {
    height: rem(185px);
    background-image: url('/img/job_offers_banner.png');

    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    padding: rem(20px) rem(90px);

    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

    &--content {
      margin-left: rem(93px);
      margin-top: 0;
    }
  }

  &--search {
    margin-top: rem(-90px);
    margin-bottom: rem(50px);
  }
}
</style>
