<template>
  <div class="dashboard-job-offers">
    <div class="dashboard-job-offers--header columns">
      <div class="column is-4">
        <h3 class="white">{{ $t('companyDashboardJobOffers.jobOfferTitle') }}</h3>
      </div>
      <div class="column">
        <h3 class="white">{{ $t('companyDashboardJobOffers.publication') }}</h3>
      </div>
      <div class="column">
        <h3 class="white">{{ $t('companyDashboardJobOffers.location') }}</h3>
      </div>
      <div class="column">
        <h3 class="white">{{ $t('companyDashboardJobOffers.applicants') }}</h3>
      </div>
      <div class="column">
        <h3 class="white">{{ $t('companyDashboardJobOffers.daysLeft') }}</h3>
      </div>
      <div class="column">
        <h3 class="white">{{ $t('companyDashboardJobOffers.visibility') }}</h3>
      </div>
    </div>
    <div class="dashboard-job-offers--content">
      <gb-job-offers-published :job-offers="getPublishedJobOffers" />
      <gb-job-offers-draft :job-offers="getDraftJobOffers" />
      <gb-job-offers-pending-validation :job-offers="getPendingValidationJobOffers" />
      <gb-job-offers-archived :job-offers="getArchivedJobOffers" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapActions, mapGetters } from 'vuex';
import GbJobOffersArchived from '~/components/company/dashboard/gb-job-offers-archived.vue';
import GbJobOffersDraft from '~/components/company/dashboard/gb-job-offers-draft.vue';
import GbJobOffersPendingValidation from '~/components/company/dashboard/gb-job-offers-pending-validation.vue';
import GbJobOffersPublished from '~/components/company/dashboard/gb-job-offers-published.vue';

export default Vue.extend({
  components: {
    GbJobOffersPublished,
    GbJobOffersArchived,
    GbJobOffersDraft,
    GbJobOffersPendingValidation,
  },
  async asyncData({ app: { $apiService }, store: { dispatch } }): Promise<void> {
    await dispatch('company-dashboard-module/getUserJobOffers', { apiService: $apiService });
  },
  computed: {
    ...mapGetters('company-dashboard-module', [
      'getPublishedJobOffers',
      'getArchivedJobOffers',
      'getDraftJobOffers',
      'getPendingValidationJobOffers',
    ]),
  },
  methods: mapActions('company-dashboard-module', ['reset']),
  destroyed(): void {
    this.reset();
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.dashboard-job-offers {
  margin-top: rem(28px);
  &--header {
    height: rem(65px);
    background-color: $gb-color-company-secondary;
    padding: 0 rem(130px) 0 rem(60px);
    margin: 0 rem(-48px);

    h3 {
      margin: 0;
      padding: 0;
    }
  }
  &--content {
    margin: 0 rem(-48px);
    padding: rem(37px);
    box-sizing: border-box;
    min-height: rem(380px);
    border: 0.5px solid $gb-color-input-border;
    border-top: none;
    background-color: $gb-color-content-background;

    .gb-job-offers-draft {
      margin-top: rem(45px);
    }

    .gb-job-offers-pending-validation {
      margin-top: rem(45px);
    }

    .gb-job-offers-archived {
      margin-top: rem(45px);
    }
  }
}
</style>
