<template>
  <gb-confirmation-card>
    <template v-slot:header>{{ $t('creationConfirmation.title') }}</template>
    <template v-slot:subheader>{{ $t('creationConfirmation.jobOfferSubtitle') }}</template>
    <template v-slot:content>{{ $t('creationConfirmation.explanation') }}</template>
    <template v-slot:actions>
      <gb-button :options="{ buttonLabelKey: 'creationConfirmation.boostYourVisibility' }" />
      <gb-button :options="{ buttonLabelKey: 'creationConfirmation.createNewJobOffer', buttonOnClick: onCreateNewJobOfferClick }" />
    </template>
  </gb-confirmation-card>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapActions } from 'vuex';
import GbButton from '~/components/base-components/gb-button.vue';
import GbConfirmationCard from '~/components/base-components/gb-confirmation-card.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';

export default Vue.extend({
  middleware: 'authenticatedAsCompany.middleware',
  components: {
    GbButton,
    GbIcon,
    GbConfirmationCard,
  },
  methods: {
    ...mapActions('job-offer-create-module', ['reset']),
    onCreateNewJobOfferClick(): void {
      this.$router.push('create');
    },
  },
  destroyed(): void {
    // @ts-ignore
    this.reset();
  },
});
</script>
