<template>
  <div>
    <div v-html="dummyPageContent.title"></div>
    <div class="img-container">
      <img :src="dummyPageContent.image.source" :alt="dummyPageContent.image.alternativeText" />
    </div>
    <div v-html="dummyPageContent.content"></div>
    <small>Generated at {{ dummyPageContent.generatedDate }}</small>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { DummyPageResponseInterface } from '../../../../back/src/infrastructure/rest/editorial/models/dummy-page-response.interface';

export default Vue.extend({
  data() {
    return {
      dummyPageContent: {} as DummyPageResponseInterface,
    };
  },
  async asyncData({ app: { $apiService }, params: { lang, uid } }) {
    const dummyPageContent = await $apiService.getDummyPageContent(lang, uid);
    return { dummyPageContent };
  },
});
</script>

<style scoped lang="scss">
small {
  margin-top: 30px;
  display: block;
  text-align: right;
}
.img-container {
  text-align: center;
}
</style>
