<template>
  <div class="gb-company-create-value">
    <div class="gb-company-create-value--value">
      <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE', inputWithIconIsLarge: true }">
        <template v-slot:icon>
          <gb-icon :options="{ iconName: valueMeaningIconName(options.index) }" />
        </template>
        <template v-slot:element>
          <gb-input-text
            :value="value.meaning"
            @input="onMeaningInput"
            :options="{
              inputId: `meaning-${options.index}`,
              inputPlaceholderKey: 'company.meaningPlaceholder',
              inputRequired: true,
              inputMaxLength: valueMeaningMaxLength,
              inputIsLarge: true,
            }"
          />
        </template>
      </gb-element-with-icon>
      <gb-textarea
        :value="value.justification"
        @input="onJustificationInput"
        class="gb-value-justification"
        :options="{
          textareaId: `justification-${options.index}`,
          textareaPlaceholderKey: 'company.justificationPlaceholder',
          textareaRequired: true,
          textareaMaxLength: valueJustificationMaxLength,
        }"
      />
    </div>
    <div class="gb-company-create-value--example">
      <gb-tooltip v-if="isFirstValue" :options="{ iconName: 'help_blue' }">
        <template v-slot:header>{{ $t('company.valueExampleTitle') }}</template>
        <template v-slot:content>
          <div class="gb-company-create-value--example--content">
            <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE', inputWithIconIsLarge: true }">
              <template v-slot:icon>
                <gb-icon :options="{ iconName: valueMeaningIconName(0) }" />
              </template>
              <template v-slot:element>
                <div class="gb-company-create-value--example--meaning">
                  <gb-badge :options="{ badgeIsRounded: true }">{{ $t('company.valueMeaningExample') }}</gb-badge>
                </div>
              </template>
            </gb-element-with-icon>
            <span class="gb-company-create-value--example--justification">{{ $t('company.valueJustificationExample') }}</span>
          </div>
        </template>
      </gb-tooltip>
    </div>
  </div>
</template>
<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbBadge from '~/components/base-components/gb-badge.vue';
import GbElementWithIcon from '~/components/base-components/gb-element-with-icon.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import GbInputText from '~/components/base-components/gb-input-text.vue';
import GbTextarea from '~/components/base-components/gb-textarea.vue';
import GbTooltip from '~/components/base-components/gb-tooltip.vue';
import { ValueConstraints } from '../../../../back/src/infrastructure/rest/career/models/company-constraints-and-enums';
import { PostValueRequestInterface } from '../../../../back/src/infrastructure/rest/career/models/post-company-request.interface';

interface GbCompanyCreateOptionsProps {
  index: number;
}

export default Vue.extend({
  name: 'gb-company-create-value',
  components: { GbElementWithIcon, GbIcon, GbBadge, GbTooltip, GbInputText, GbTextarea },
  props: {
    value: { required: true } as PropOptions<PostValueRequestInterface>,
    options: { required: true } as PropOptions<GbCompanyCreateOptionsProps>,
  },
  computed: {
    valueMeaningMaxLength(): number {
      return ValueConstraints.VALUE_MEANING_MAX_LENGTH;
    },
    valueJustificationMaxLength(): number {
      return ValueConstraints.VALUE_JUSTIFICATION_MAX_LENGTH;
    },
    isFirstValue(): boolean {
      return this.options.index === 0;
    },
  },
  methods: {
    valueMeaningIconName(idx: number): string {
      return `number_${idx + 1}_blue`;
    },
    onMeaningInput(meaning: string) {
      this.$emit('input', { index: this.options.index, value: { ...this.value, meaning } });
    },
    onJustificationInput(justification: string) {
      this.$emit('input', { index: this.options.index, value: { ...this.value, justification } });
    },
  },
});
</script>
<style scoped lang="scss">
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-company-create-value {
  position: relative;
  &--example {
    position: absolute;
    top: rem(10px);
    right: rem(-35px);
    &--content {
      /deep/ .gb-element-with-icon {
        left: rem(-40px) !important;
        top: rem(-40px) !important;
        &--meaning {
          display: flex;
          flex-wrap: wrap;

          /deep/ .gb-badge {
            margin-left: 0;
          }
        }
        &--justification {
          display: block;
          min-width: rem(300px);
          word-wrap: break-word;
          margin: rem(14px) 0 rem(25px) 0;
        }
      }
    }
  }
  .gb-value-justification {
    margin: rem(7px) 0 rem(21px) 0;
  }
}
</style>
