<template>
  <div class="columns">
    <!-- START LEFT COLUMN -->
    <div class="column">
      <gb-company-create-values :company-values="value.values" :options="{ domainErrors: options.domainErrors }" @input="onValuesInput" />
      <gb-company-create-activity-locations :value="value.activityLocations" :options="{ domainErrors }" @input="onActivityLocationsInput" />
    </div>
    <!-- END LEFT COLUMN -->
    <!-- START RIGHT COLUMN -->
    <div class="column is-5">
      <gb-card :options="{ cardHasError: hasErrors('revenueForRD') }">
        <template v-slot:header>
          <label for="revenue-for-rd">{{ $t('company.revenueForRD') }}</label>
        </template>
        <template v-slot:content>
          <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE', inputWithIconIsLarge: true }">
            <template v-slot:icon>
              <gb-icon :options="{ iconName: 'money_blue' }" />
            </template>
            <template v-slot:element>
              <gb-select
                :value="value.revenueForRD"
                :options="{
                  selectId: 'revenue-for-rd',
                  selectPlaceholderKey: 'company.revenueForRDPlaceholder',
                  selectOptions: companyRevenueForRDOptions,
                  selectIsLarge: true,
                  selectErrors: domainErrors.revenueForRD,
                }"
                @input="onRevenueForRDInput"
              />
            </template>
          </gb-element-with-icon>
        </template>
      </gb-card>
      <gb-card :options="{ cardHasError: hasErrors('geniusTypes') }">
        <template v-slot:header>
          <label for="genius-types">{{ $t('company.geniusTypes') }}</label>
        </template>
        <template v-slot:content>
          <gb-select-multiple
            :value="value.geniusTypes"
            :options="{
              selectId: 'genius-types',
              selectPlaceholderKey: 'company.geniusTypesPlaceholder',
              selectRequired: true,
              selectOptions: companyGeniusTypesOptions,
              selectErrors: domainErrors.geniusTypes,
            }"
            @input="onGeniusTypesInput"
          />
        </template>
      </gb-card>
      <gb-card :options="{ cardHasError: hasErrors('bachelorsOfEngineeringNumber') }">
        <template v-slot:header>
          <label for="bachelors-of-engineering-number">{{ $t('company.bachelorsOfEngineeringNumber') }}</label>
        </template>
        <template v-slot:content>
          <gb-input-number
            :value="value.bachelorsOfEngineeringNumber"
            :options="{
              inputId: 'bachelors-of-engineering-number',
              inputPlaceholderKey: 'company.bachelorsOfEngineeringNumberPlaceholder',
              inputRequired: true,
              inputIsLarge: true,
              inputErrors: domainErrors.bachelorsOfEngineeringNumber,
            }"
            @input="onBachelorsOfEngineeringNumberInput"
          />
        </template>
      </gb-card>
    </div>
    <!-- END RIGHT COLUMN -->
  </div>
</template>

<script lang="ts">
import { has } from 'lodash';
import Vue, { PropOptions } from 'vue';
import GbCard from '~/components/base-components/gb-card.vue';
import GbElementWithIcon from '~/components/base-components/gb-element-with-icon.vue';
import GbErrorsSummary from '~/components/base-components/gb-errors-summary.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import GbInputNumber from '~/components/base-components/gb-input-number.vue';
import GbSelectMultiple from '~/components/base-components/gb-select-multiple.vue';
import GbSelect from '~/components/base-components/gb-select.vue';
import GbCompanyCreateActivityLocations from '~/components/company/create/gb-company-create-activity-locations.vue';
import GbCompanyCreateValues from '~/components/company/create/gb-company-create-values.vue';
import { COMPANY_GENIUS_TYPES_I18N_MAPPING, COMPANY_REVENUE_FOR_RD_I18N_MAPPING, I18nMapping } from '~/utils/i18n-mapping.utils';
import { CompanyEnums } from '../../../../back/src/infrastructure/rest/career/models/company-constraints-and-enums';
import {
  PostActivityLocationsRequestInterface,
  PostCompanyRequestInterface,
  PostValueRequestInterface,
} from '../../../../back/src/infrastructure/rest/career/models/post-company-request.interface';
import { DomainErrorsResponseInterface } from '../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbCompanyCreateContentProps {
  domainErrors?: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-company-create-content',
  components: {
    GbSelect,
    GbSelectMultiple,
    GbInputNumber,
    GbCard,
    GbErrorsSummary,
    GbIcon,
    GbElementWithIcon,
    GbCompanyCreateActivityLocations,
    GbCompanyCreateValues,
  },
  props: {
    value: { required: true } as PropOptions<PostCompanyRequestInterface>,
    options: { required: true } as PropOptions<GbCompanyCreateContentProps>,
  },
  computed: {
    domainErrors(): DomainErrorsResponseInterface {
      return this.options.domainErrors || {};
    },
    companyRevenueForRDOptions(): { optionLabelKey: string; optionValue: CompanyEnums.CompanyRevenueForRD }[] {
      return this.toOptions<CompanyEnums.CompanyRevenueForRD>(COMPANY_REVENUE_FOR_RD_I18N_MAPPING);
    },
    companyGeniusTypesOptions(): { optionLabelKey: string; optionValue: CompanyEnums.CompanyGeniusType }[] {
      return this.toOptions<CompanyEnums.CompanyGeniusType>(COMPANY_GENIUS_TYPES_I18N_MAPPING);
    },
  },
  methods: {
    onValuesInput(values: PostValueRequestInterface[]): void {
      this.$emit('input', { fieldName: 'values', fieldValue: values });
    },
    onActivityLocationsInput(activityLocations: PostActivityLocationsRequestInterface): void {
      this.$emit('input', { fieldName: 'activityLocations', fieldValue: activityLocations });
    },
    onRevenueForRDInput(revenueForRD: CompanyEnums.CompanyRevenueForRD): void {
      this.$emit('input', { fieldName: 'revenueForRD', fieldValue: revenueForRD });
    },
    onGeniusTypesInput(geniusTypes: CompanyEnums.CompanyGeniusType[]): void {
      this.$emit('input', { fieldName: 'geniusTypes', fieldValue: geniusTypes });
    },
    onBachelorsOfEngineeringNumberInput(bachelorsOfEngineeringNumber: number): void {
      this.$emit('input', { fieldName: 'bachelorsOfEngineeringNumber', fieldValue: bachelorsOfEngineeringNumber });
    },
    hasErrors(domainPath: string): boolean {
      return has(this.options.domainErrors, domainPath);
    },
    toOptions<T>(i18nMapping: I18nMapping<T>): { optionLabelKey: string; optionValue: T }[] {
      const options: { optionLabelKey: string; optionValue: T }[] = [];
      for (const [key, value] of Object.entries(i18nMapping)) {
        options.push({ optionLabelKey: key, optionValue: value });
      }
      return options;
    },
  },
});
</script>

<style scoped></style>
