<template>
  <div class="gb-company-create-add-logo">
    <div class="gb-company-create-add-logo--close-button-container" @click="close">
      <gb-icon :options="{ iconName: 'close_window_black', iconAlternativeTextKey: 'logo.close' }" />
    </div>
    <div v-if="hasDomainErrors" class="gb-company-create-add-logo--gb-error-messages-container">
      <gb-error-messages v-if="hasSizeInBytesErrors" :options="{ domainFieldErrors: domainErrors.sizeInBytes }" />
    </div>
    <div class="columns gb-company-create-add-logo--content">
      <div class="column">
        <h2>{{ $t('logo.title') }}</h2>
        <h3>{{ $t('logo.specifications') }}</h3>
        <ul>
          <li>{{ $t('logo.specification1') }}</li>
          <li>{{ $t('logo.specification2') }}</li>
        </ul>
        <h3>{{ $t('logo.recommendations') }}</h3>
        <ul>
          <li>{{ $t('logo.recommendation1') }}</li>
        </ul>
      </div>
      <div class="column">
        <gb-input-image-file
          :value="uploadedLogo"
          @input="onUploadedLogoInput"
          @error="onUploadedLogoError"
          @upload="close"
          :options="{
            inputFileAcceptedMimeTypes: imageFileAcceptedMimeTypes,
            inputFileAcceptedExtensions: imageFileAcceptedExtensions,
          }"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { isEmpty } from 'lodash';
import Vue, { PropOptions } from 'vue';
import GbErrorMessages from '~/components/base-components/gb-error-messages.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import GbInputImageFile from '~/components/base-components/gb-input-image-file.vue';
import { DomainErrorsResponseInterface } from '../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';
import { TemporaryFileConstraints } from '../../../../back/src/infrastructure/rest/upload/models/temporary-file-constraints';
import { TemporaryFileResponseInterface } from '../../../../back/src/infrastructure/rest/upload/models/temporary-file-response.interface';

interface GbCompanyCreateAddLogoData {
  uploadedLogo: TemporaryFileResponseInterface;
  domainErrors: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-company-create-add-logo',
  components: {
    GbIcon,
    GbInputImageFile,
    GbErrorMessages,
  },
  data() {
    return {
      uploadedLogo: this.value,
      domainErrors: {} as DomainErrorsResponseInterface,
    } as GbCompanyCreateAddLogoData;
  },
  props: {
    value: { required: true } as PropOptions<TemporaryFileResponseInterface>,
  },
  computed: {
    hasDomainErrors(): boolean {
      return !isEmpty(this.domainErrors);
    },
    hasSizeInBytesErrors(): boolean {
      return this.hasDomainErrors && !isEmpty(this.domainErrors.sizeInBytes);
    },
    imageFileAcceptedMimeTypes(): string[] {
      return TemporaryFileConstraints.TEMPORARY_IMAGE_FILE_ACCEPTED_MIME_TYPES;
    },
    imageFileAcceptedExtensions(): string[] {
      return TemporaryFileConstraints.TEMPORARY_IMAGE_FILE_ACCEPTED_EXTENSIONS;
    },
  },
  methods: {
    close(): void {
      this.$emit('close');
    },
    onUploadedLogoInput(uploadedLogo: TemporaryFileResponseInterface): void {
      this.uploadedLogo = uploadedLogo;
      this.cleanDomainErrors();
      this.$emit('input', uploadedLogo);
    },
    onUploadedLogoError(domainErrors: DomainErrorsResponseInterface): void {
      this.domainErrors = domainErrors;
    },
    cleanDomainErrors(): void {
      this.domainErrors = {};
    },
  },
});
</script>

<style scoped lang="scss">
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-company-create-add-logo {
  padding: rem(20px);

  &--close-button-container {
    text-align: right;
    /deep/ img {
      cursor: pointer;
      display: inline-block;
      height: rem(17.5px);
      width: rem(17.5px);
    }
  }

  &--content {
    padding: rem(30px) rem(60px);

    h3 {
      margin-top: rem(20px);
    }
  }

  &--gb-error-messages-container {
    background-color: $gb-color-error-message-background;
    padding: rem(24px) rem(118px) rem(16px);
    margin-top: rem(12px);
    /deep/ .gb-error-messages {
      font-size: $gb-font-text-paragraph-font-size;
    }
    /deep/ .gb-error-messages--icon {
      margin-right: rem(16px);
    }
  }
}
</style>
