<template>
  <div class="gb-company-create-header">
    <div class="columns">
      <div class="column is-2 gb-button-logo-container">
        <button
          type="button"
          class="gb-button-logo"
          :class="{ 'gb-button-logo--loaded': this.companyLogo.base64, 'gb-error': hasLogoErrors }"
          @click="openAddLogoModal"
          :style="uploadedLogoAsBackgroundImageStyle"
        >
          {{ $t('logo.add') }}
        </button>
      </div>
      <div class="column">
        <div class="columns is-multiline">
          <div class="column is-12 gb-company-create-header--name">
            <gb-input-text
              :value="company.name"
              :options="{
                inputId: 'name',
                inputPlaceholderKey: 'company.namePlaceholder',
                inputRequired: true,
                inputMaxLength: companyNameMaxLength,
                inputErrors: domainErrors.name,
              }"
              @input="onNameInput"
            />
          </div>
          <div class="column is-3">
            <gb-element-with-icon :options="{ inputWithIconPosition: 'INSIDE', inputWithIconIsRounded: true }">
              <template v-slot:icon>
                <gb-icon :options="{ iconName: 'website_white' }" />
              </template>
              <template v-slot:element>
                <gb-input-text
                  :value="company.website"
                  :options="{
                    inputId: 'website',
                    inputPlaceholderKey: 'company.websitePlaceholder',
                    inputRequired: true,
                    inputMaxLength: companyWebsiteMaxLength,
                    inputErrors: domainErrors.website,
                  }"
                  @input="onWebsiteInput"
                />
              </template>
            </gb-element-with-icon>
          </div>
          <div class="column is-8">
            <gb-company-create-social-networks
              :value="company.socialNetworks"
              :options="{ domainErrors: domainErrors }"
              @input="onSocialNetworksInput"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-7">
        <gb-textarea
          :value="company.presentation"
          :options="{
            textareaId: 'presentation',
            textareaPlaceholderKey: 'company.presentationPlaceholder',
            textareaRequired: true,
            textareaMaxLength: companyPresentationMaxLength,
            textareaIsLarge: true,
            textareaErrors: domainErrors.presentation,
          }"
          @input="onPresentationInput"
        />
      </div>
      <div class="column is-offset-1 gb-company-create-header-right">
        <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE' }">
          <template v-slot:icon>
            <gb-icon :options="{ iconName: 'address_blue' }" />
          </template>
          <template v-slot:element>
            <gb-input-text
              :value="company.address"
              :options="{
                inputId: 'address',
                inputPlaceholderKey: 'company.addressPlaceholder',
                inputRequired: true,
                inputMaxLength: companyAddressMaxLength,
                inputErrors: domainErrors.address,
              }"
              @input="onAddressInput"
            />
          </template>
        </gb-element-with-icon>

        <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE' }">
          <template v-slot:icon>
            <gb-icon :options="{ iconName: 'years_blue' }" />
          </template>
          <template v-slot:element>
            <gb-input-year
              :value="company.creationDate"
              :options="{
                inputId: 'creation-date',
                inputPlaceholderKey: 'company.creationDatePlaceholder',
                inputRequired: true,
                inputMin: companyCreationDateMin,
                inputMax: companyCreationDateMax,
                inputErrors: domainErrors.creationDate,
              }"
              @input="onCreationDateInput"
            />
          </template>
        </gb-element-with-icon>

        <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE' }">
          <template v-slot:icon>
            <gb-icon :options="{ iconName: 'money_blue' }" />
          </template>
          <template v-slot:element>
            <gb-select
              :value="company.revenue"
              :options="{
                selectId: 'revenue',
                selectPlaceholderKey: 'company.revenuePlaceholder',
                selectRequired: true,
                selectOptions: companyRevenueOptions,
                selectErrors: domainErrors.revenue,
              }"
              @input="onRevenueInput"
            />
          </template>
        </gb-element-with-icon>

        <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE' }">
          <template v-slot:icon>
            <gb-icon :options="{ iconName: 'square_blue' }" />
          </template>
          <template v-slot:element>
            <gb-select
              :value="company.businessSegment"
              :options="{
                selectId: 'business-segment',
                selectPlaceholderKey: 'company.businessSegmentPlaceholder',
                selectRequired: true,
                selectOptions: companyBusinessSegmentOptions,
                selectErrors: domainErrors.businessSegment,
              }"
              @input="onBusinessSegmentInput"
            />
          </template>
        </gb-element-with-icon>

        <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE' }">
          <template v-slot:icon>
            <gb-icon :options="{ iconName: 'people_blue' }" />
          </template>
          <template v-slot:element>
            <gb-select
              :value="company.size"
              :options="{
                selectId: 'size',
                selectPlaceholderKey: 'company.sizePlaceholder',
                selectRequired: true,
                selectOptions: companySizeOptions,
                selectErrors: domainErrors.size,
              }"
              @input="onSizeInput"
            />
          </template>
        </gb-element-with-icon>
      </div>
    </div>

    <client-only>
      <modal name="add-logo-modal" :classes="['v--modal', 'gb-modal']" :pivotX="0.4" :pivotY="0.3">
        <GbCompanyCreateAddLogo :value="companyLogo" @input="onLogoInput" @close="closeAddLogoModal" />
      </modal>
    </client-only>
  </div>
</template>

<script lang="ts">
import { isEmpty } from 'lodash';
import Vue, { PropOptions } from 'vue';
import GbElementWithIcon from '~/components/base-components/gb-element-with-icon.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import GbInputText from '~/components/base-components/gb-input-text.vue';
import GbInputYear from '~/components/base-components/gb-input-year.vue';
import GbSelect from '~/components/base-components/gb-select.vue';
import GbTextarea from '~/components/base-components/gb-textarea.vue';
import GbCompanyCreateAddLogo from '~/components/company/create/gb-company-create-add-logo.vue';
import GbCompanyCreateSocialNetworks from '~/components/company/create/gb-company-create-social-networks.vue';
import {
  COMPANY_BUSINESS_SEGMENT_I18N_MAPPING,
  COMPANY_REVENUE_I18N_MAPPING,
  COMPANY_SIZE_I18N_MAPPING,
  I18nMapping,
} from '~/utils/i18n-mapping.utils';
import { CompanyConstraints, CompanyEnums } from '../../../../back/src/infrastructure/rest/career/models/company-constraints-and-enums';
import {
  PostCompanyRequestInterface,
  PostSocialNetworksRequestInterface,
} from '../../../../back/src/infrastructure/rest/career/models/post-company-request.interface';
import { DomainErrorsResponseInterface } from '../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';
import { TemporaryFileResponseInterface } from '../../../../back/src/infrastructure/rest/upload/models/temporary-file-response.interface';

interface GbCompanyCreateHeaderProps {
  domainErrors?: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-company-create-header',
  components: {
    GbInputText,
    GbInputYear,
    GbSelect,
    GbTextarea,
    GbCompanyCreateSocialNetworks,
    GbIcon,
    GbElementWithIcon,
    GbCompanyCreateAddLogo,
  },
  props: {
    company: { required: true } as PropOptions<PostCompanyRequestInterface>,
    companyLogo: { required: true } as PropOptions<TemporaryFileResponseInterface>,
    options: { required: true } as PropOptions<GbCompanyCreateHeaderProps>,
  },
  computed: {
    domainErrors(): DomainErrorsResponseInterface {
      return this.options.domainErrors || {};
    },
    companyNameMaxLength(): number {
      return CompanyConstraints.COMPANY_NAME_MAX_LENGTH;
    },
    companyPresentationMaxLength(): number {
      return CompanyConstraints.COMPANY_PRESENTATION_MAX_LENGTH;
    },
    companyWebsiteMaxLength(): number {
      return CompanyConstraints.COMPANY_WEBSITE_MAX_LENGTH;
    },
    companyAddressMaxLength(): number {
      return CompanyConstraints.COMPANY_ADDRESS_MAX_LENGTH;
    },
    companySizeOptions(): { optionLabelKey: string; optionValue: CompanyEnums.CompanySize }[] {
      return this.toOptions<CompanyEnums.CompanySize>(COMPANY_SIZE_I18N_MAPPING);
    },
    companyCreationDateMin(): number {
      return CompanyConstraints.COMPANY_CREATION_DATE_MIN_DATE.getFullYear();
    },
    companyCreationDateMax(): number {
      return CompanyConstraints.COMPANY_CREATION_DATE_MAX_DATE.getFullYear();
    },
    companyRevenueOptions(): { optionLabelKey: string; optionValue: CompanyEnums.CompanyRevenue }[] {
      return this.toOptions<CompanyEnums.CompanyRevenue>(COMPANY_REVENUE_I18N_MAPPING);
    },
    companyBusinessSegmentOptions(): { optionLabelKey: string; optionValue: CompanyEnums.CompanyBusinessSegment }[] {
      return this.toOptions<CompanyEnums.CompanyBusinessSegment>(COMPANY_BUSINESS_SEGMENT_I18N_MAPPING);
    },
    uploadedLogoAsBackgroundImageStyle(): object {
      if (this.companyLogo.base64) {
        return {
          backgroundImage: `url(data:${this.companyLogo.mimeType};base64,${this.companyLogo.base64})`,
          backgroundSize: 'contain',
        };
      }
      return {};
    },
    hasLogoErrors(): boolean {
      return !isEmpty(this.domainErrors.logo);
    },
  },
  methods: {
    openAddLogoModal(): void {
      this.$modal.show('add-logo-modal');
    },
    closeAddLogoModal(): void {
      this.$modal.hide('add-logo-modal');
    },
    onNameInput(name: string) {
      this.$emit('input', { fieldName: 'name', fieldValue: name });
    },
    onWebsiteInput(website: string) {
      this.$emit('input', { fieldName: 'website', fieldValue: website });
    },
    onSocialNetworksInput(socialNetworks: PostSocialNetworksRequestInterface) {
      this.$emit('input', { fieldName: 'socialNetworks', fieldValue: socialNetworks });
    },
    onPresentationInput(presentation: string) {
      this.$emit('input', { fieldName: 'presentation', fieldValue: presentation });
    },
    onAddressInput(address: string) {
      this.$emit('input', { fieldName: 'address', fieldValue: address });
    },
    onCreationDateInput(creationDate: Date) {
      this.$emit('input', { fieldName: 'creationDate', fieldValue: creationDate });
    },
    onRevenueInput(revenue: CompanyEnums.CompanyRevenue) {
      this.$emit('input', { fieldName: 'revenue', fieldValue: revenue });
    },
    onBusinessSegmentInput(businessSegment: CompanyEnums.CompanyBusinessSegment) {
      this.$emit('input', { fieldName: 'businessSegment', fieldValue: businessSegment });
    },
    onSizeInput(size: CompanyEnums.CompanySize) {
      this.$emit('input', { fieldName: 'size', fieldValue: size });
    },
    onLogoInput(uploadedLogo: TemporaryFileResponseInterface) {
      this.$emit('input', { fieldName: 'logoUuid', fieldValue: uploadedLogo.uuid });
      this.$emit('input-logo', uploadedLogo);
    },
    toOptions<T>(i18nMapping: I18nMapping<T>): { optionLabelKey: string; optionValue: T }[] {
      const options: { optionLabelKey: string; optionValue: T }[] = [];
      for (const [key, value] of Object.entries(i18nMapping)) {
        options.push({ optionLabelKey: key, optionValue: value });
      }
      return options;
    },
  },
});
</script>

<style scoped lang="scss">
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-company-create-header {
  border-radius: 8px;
  background-color: $gb-color-content-background;
  box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);
  padding: rem(50px) rem(80px);

  &--name {
    /deep/ input {
      width: 40%;
    }
  }
}

.gb-company-create-header-right > div {
  margin-top: rem(20px);
}

.gb-button-logo-container {
  position: relative;
}

.gb-button-logo {
  position: absolute;
  top: rem(-100px);
  border: 3px none transparent;
  border-radius: 50%;
  height: rem(160px);
  width: rem(160px);
  box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);
  background: url('/icons/add_logo_white.svg') no-repeat center, linear-gradient(180deg, #fc8759 0%, #ff3300 100%);
  text-indent: -9999em;
  cursor: pointer;

  &--loaded {
    background-color: $gb-color-white;
    border: 3px solid $gb-color-content-background;
  }

  &.gb-error {
    border: 5px solid $gb-color-error-message-background;
  }
}

/deep/ .gb-modal {
  border-radius: 8px !important;
  min-height: rem(500px) !important;
  height: auto !important;
  width: rem(939px) !important;
}
</style>
