<template>
  <gb-card :options="{ cardHasError: hasErrors }">
    <template v-slot:header>{{ $t('company.values') }}</template>
    <template v-slot:subheader>
      <p>{{ $t('company.valuesExplanation') }}</p>
    </template>
    <template v-slot:content>
      <gb-error-messages v-if="domainErrors.meaning" :options="{ domainFieldErrors: domainErrors.meaning }" />
      <gb-error-messages v-if="domainErrors.justification" :options="{ domainFieldErrors: domainErrors.justification }" />
      <gb-company-create-value
        v-for="(value, idx) in companyValues"
        :key="idx"
        :value="value"
        :options="{
          index: idx,
        }"
        @input="onValueInput"
      />
      <button type="button" class="gb-button-add-value" @click="addValue" v-if="maximumValuesNotReached">{{ $t('company.addValue') }}</button>
    </template>
  </gb-card>
</template>

<script lang="ts">
import { has } from 'lodash';
import Vue, { PropOptions } from 'vue';
import GbCard from '~/components/base-components/gb-card.vue';
import GbElementWithIcon from '~/components/base-components/gb-element-with-icon.vue';
import GbErrorMessages from '~/components/base-components/gb-error-messages.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import GbInputText from '~/components/base-components/gb-input-text.vue';
import GbTextarea from '~/components/base-components/gb-textarea.vue';
import GbCompanyCreateValue from '~/components/company/create/gb-company-create-value.vue';
import { CompanyConstraints } from '../../../../back/src/infrastructure/rest/career/models/company-constraints-and-enums';
import { PostValueRequestInterface } from '../../../../back/src/infrastructure/rest/career/models/post-company-request.interface';
import { DomainErrorsResponseInterface } from '../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbCompanyCreateValuesProps {
  domainErrors?: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-company-create-values',
  components: {
    GbCompanyCreateValue,
    GbInputText,
    GbTextarea,
    GbCard,
    GbErrorMessages,
    GbIcon,
    GbElementWithIcon,
  },
  props: {
    companyValues: { required: true } as PropOptions<PostValueRequestInterface[]>,
    options: { required: true } as PropOptions<GbCompanyCreateValuesProps>,
  },
  computed: {
    maximumValuesNotReached(): boolean {
      return this.companyValues.length < CompanyConstraints.COMPANY_VALUES_MAX;
    },
    domainErrors(): DomainErrorsResponseInterface {
      return this.options.domainErrors || {};
    },
    hasErrors(): boolean {
      return has(this.options, 'domainErrors.meaning') || has(this.options, 'domainErrors.justification');
    },
  },
  methods: {
    addValue(): void {
      this.$emit('input', [...this.companyValues, {}]);
    },
    onValueInput(companyValue: { index: number; value: PostValueRequestInterface }) {
      const companyValues: PostValueRequestInterface[] = this.companyValues;
      companyValues[companyValue.index] = { ...companyValues[companyValue.index], ...companyValue.value };

      this.$emit('input', companyValues);
    },
  },
});
</script>

<style scoped lang="scss">
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-button-add-value {
  box-sizing: border-box;
  height: rem(144px);
  width: 100%;
  border: 2px dashed $gb-color-white;
  border-radius: 8px;
  box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);
  background: $gb-color-content-background url('/icons/add_button_white.svg') no-repeat center;
  text-indent: -9999em;
  cursor: pointer;
}
</style>
