<template>
  <div class="columns">
    <div class="column is-4">
      <gb-element-with-icon :options="{ inputWithIconPosition: 'INSIDE', inputWithIconIsRounded: true }">
        <template v-slot:icon>
          <gb-icon :options="{ iconName: 'linkedin_white' }" />
        </template>
        <template v-slot:element>
          <gb-input-text
            :value="value.linkedIn"
            :options="{ inputId: 'linkedIn', inputPlaceholderKey: 'company.linkedInPlaceholder', inputErrors: options.domainErrors.linkedIn }"
            @input="onLinkedInInput"
          />
        </template>
      </gb-element-with-icon>
    </div>
    <div class="column is-4">
      <gb-element-with-icon :options="{ inputWithIconPosition: 'INSIDE', inputWithIconIsRounded: true }">
        <template v-slot:icon>
          <gb-icon :options="{ iconName: 'facebook_white' }" />
        </template>
        <template v-slot:element>
          <gb-input-text
            :value="value.facebook"
            :options="{ inputId: 'facebook', inputPlaceholderKey: 'company.facebookPlaceholder', inputErrors: options.domainErrors.facebook }"
            @input="onFacebookInput"
          />
        </template>
      </gb-element-with-icon>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbElementWithIcon from '~/components/base-components/gb-element-with-icon.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import GbInputText from '~/components/base-components/gb-input-text.vue';
import { PostSocialNetworksRequestInterface } from '../../../../back/src/infrastructure/rest/career/models/post-company-request.interface';
import { DomainErrorsResponseInterface } from '../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbCompanySocialNetworksProps {
  domainErrors: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-company-create-social-networks',
  components: {
    GbInputText,
    GbIcon,
    GbElementWithIcon,
  },
  props: {
    value: { required: true } as PropOptions<PostSocialNetworksRequestInterface>,
    options: { required: true } as PropOptions<GbCompanySocialNetworksProps>,
  },
  methods: {
    onLinkedInInput(linkedIn: string) {
      this.$emit('input', { ...this.value, linkedIn });
    },
    onFacebookInput(facebook: string) {
      this.$emit('input', { ...this.value, facebook });
    },
  },
});
</script>

<style scoped></style>
