<template>
  <gb-card class="gb-company-create-activity-locations" :options="{ cardHasError: hasErrors }">
    <template v-slot:header>{{ $t('company.activityLocations') }}</template>
    <template v-slot:subheader>
      <p>{{ $t('company.activityLocationsExplanation') }}</p>
    </template>
    <template v-slot:content>
      <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE', inputWithIconIsLarge: true }">
        <template v-slot:icon>
          <gb-icon :options="{ iconName: 'quebec_flag' }" />
        </template>
        <template v-slot:element>
          <gb-input-number
            :value="value.quebec"
            @input="onQuebecInput"
            :options="{
              inputId: 'activity-location-quebec',
              inputLabelKey: 'company.activityLocationQuebec',
              inputPlaceholderKey: 'company.activityLocationQuebecPlaceholder',
              inputRequired: true,
              inputMin: 0,
              inputErrors: domainErrors.quebec,
              inputIsLarge: true,
            }"
          />
        </template>
      </gb-element-with-icon>

      <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE', inputWithIconIsLarge: true }">
        <template v-slot:icon>
          <gb-icon :options="{ iconName: 'canada_flag' }" />
        </template>
        <template v-slot:element>
          <gb-input-number
            :value="value.canada"
            @input="onCanadaInput"
            :options="{
              inputId: 'activity-location-canada',
              inputLabelKey: 'company.activityLocationCanada',
              inputPlaceholderKey: 'company.activityLocationCanadaPlaceholder',
              inputMin: 0,
              inputErrors: domainErrors.canada,
              inputIsLarge: true,
            }"
          />
        </template>
      </gb-element-with-icon>

      <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE', inputWithIconIsLarge: true }">
        <template v-slot:icon>
          <gb-icon :options="{ iconName: 'usa_flag' }" />
        </template>
        <template v-slot:element>
          <gb-input-number
            :value="value.usa"
            @input="onUsaInput"
            :options="{
              inputId: 'activity-location-usa',
              inputLabelKey: 'company.activityLocationUsa',
              inputPlaceholderKey: 'company.activityLocationUsaPlaceholder',
              inputMin: 0,
              inputErrors: domainErrors.usa,
              inputIsLarge: true,
            }"
          />
        </template>
      </gb-element-with-icon>

      <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE', inputWithIconIsLarge: true }">
        <template v-slot:icon>
          <gb-icon :options="{ iconName: 'international_flag' }" />
        </template>
        <template v-slot:element>
          <gb-input-number
            :value="value.international"
            @input="onInternationalInput"
            :options="{
              inputId: 'activity-location-international',
              inputLabelKey: 'company.activityLocationInternational',
              inputPlaceholderKey: 'company.activityLocationInternationalPlaceholder',
              inputMin: 0,
              inputErrors: domainErrors.international,
              inputIsLarge: true,
            }"
          />
        </template>
      </gb-element-with-icon>
    </template>
  </gb-card>
</template>

<script lang="ts">
import { has } from 'lodash';
import Vue, { PropOptions } from 'vue';
import GbCard from '~/components/base-components/gb-card.vue';
import GbElementWithIcon from '~/components/base-components/gb-element-with-icon.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import GbInputNumber from '~/components/base-components/gb-input-number.vue';
import { PostActivityLocationsRequestInterface } from '../../../../back/src/infrastructure/rest/career/models/post-company-request.interface';
import { DomainErrorsResponseInterface } from '../../../../back/src/infrastructure/rest/filters/models/domain-validation-error-response.interface';

interface GbCompanyCreateActivityLocationsProps {
  domainErrors: DomainErrorsResponseInterface;
}

export default Vue.extend({
  name: 'gb-company-create-activity-locations',
  components: {
    GbInputNumber,
    GbCard,
    GbIcon,
    GbElementWithIcon,
  },
  props: {
    value: { required: true } as PropOptions<PostActivityLocationsRequestInterface>,
    options: { required: true } as PropOptions<GbCompanyCreateActivityLocationsProps>,
  },
  computed: {
    hasErrors(): boolean {
      return (
        has(this.options, 'domainErrors.quebec') ||
        has(this.options, 'domainErrors.canada') ||
        has(this.options, 'domainErrors.usa') ||
        has(this.options, 'domainErrors.international')
      );
    },
    domainErrors(): DomainErrorsResponseInterface {
      return this.options.domainErrors || {};
    },
  },
  methods: {
    onQuebecInput(quebec: number) {
      this.$emit('input', { ...this.value, quebec });
    },
    onCanadaInput(canada: number) {
      this.$emit('input', { ...this.value, canada });
    },
    onUsaInput(usa: number) {
      this.$emit('input', { ...this.value, usa });
    },
    onInternationalInput(international: number) {
      this.$emit('input', { ...this.value, international });
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-company-create-activity-locations {
  /deep/ input,
  /deep/ p {
    max-width: rem(340px);
  }
}
</style>
