<template>
  <div class="gb-job-offer-highlight columns">
    <div class="gb-job-offer-highlight--published-at column is-2">
      <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE' }">
        <template v-slot:icon>
          <gb-icon :options="{ iconName: 'clock_grey' }" />
        </template>
        <template v-slot:element>
          <span>{{ $d(new Date(jobOffer.publishedAt), 'short') }}</span>
        </template>
      </gb-element-with-icon>
    </div>
    <div class="gb-job-offer-highlight--job-type-and-status column is-4">
      <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE' }">
        <template v-slot:icon>
          <gb-icon :options="{ iconName: 'work_grey' }" />
        </template>
        <template v-slot:element>
          <span>{{ $t(jobOfferJobStatusI18n(jobOffer.jobStatus)) }} / {{ $t(jobOfferJobTypeI18n(jobOffer.jobType)) }}</span>
        </template>
      </gb-element-with-icon>
    </div>
    <div class="gb-job-offer-highlight--region column ">
      <gb-element-with-icon :options="{ inputWithIconPosition: 'OUTSIDE' }">
        <template v-slot:icon>
          <gb-icon :options="{ iconName: 'address_grey' }" />
        </template>
        <template v-slot:element>
          <span>{{ $t(jobOfferRegionOptionsI18n(jobOffer.region)) }}</span>
        </template>
      </gb-element-with-icon>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbElementWithIcon from '~/components/base-components/gb-element-with-icon.vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import {
  getI18nKey,
  I18nKey,
  JOB_OFFER_JOB_STATUS_I18N_MAPPING,
  JOB_OFFER_JOB_TYPE_I18N_MAPPING,
  JOB_OFFER_REGION_I18N_MAPPING,
} from '~/utils/i18n-mapping.utils';
import { JobOfferEnums } from '../../../back/src/infrastructure/rest/career/models/job-offer-constraints-and-enums';
import { JobOfferWithCompanyResponseInterface } from '../../../back/src/infrastructure/rest/career/models/job-offer-response.interface';

export default Vue.extend({
  name: 'gb-job-offer-highlight',
  components: {
    GbElementWithIcon,
    GbIcon,
  },
  props: {
    jobOffer: { required: true } as PropOptions<JobOfferWithCompanyResponseInterface>,
  },
  methods: {
    jobOfferJobTypeI18n(key: JobOfferEnums.JobOfferJobType): I18nKey {
      return getI18nKey<JobOfferEnums.JobOfferJobType>(JOB_OFFER_JOB_TYPE_I18N_MAPPING, key);
    },
    jobOfferJobStatusI18n(key: JobOfferEnums.JobOfferJobStatus): I18nKey {
      return getI18nKey<JobOfferEnums.JobOfferJobStatus>(JOB_OFFER_JOB_STATUS_I18N_MAPPING, key);
    },
    jobOfferRegionOptionsI18n(key: JobOfferEnums.JobOfferRegion): I18nKey {
      return getI18nKey<JobOfferEnums.JobOfferRegion>(JOB_OFFER_REGION_I18N_MAPPING, key);
    },
  },
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-highlight {
  @include gb-font-text-information;
  color: $gb-font-text-placeholder-color;

  /deep/ .gb-element-with-icon.outside {
    .gb-element-with-icon {
      left: rem(-26px) !important;
      top: rem(-17px) !important;
    }
  }
}
</style>
