<template>
  <div class="gb-job-offer-list-item" @click="goToJobOffer()">
    <div class="gb-job-offer-list-item--content columns is-vcentered">
      <div class="gb-job-offer-list-item--logo column is-2">
        <gb-company-logo
          :options="{
            logo: jobOffer.company.logo,
            alt: jobOffer.company.name,
            isLocked: !isLoggedAsCandidate,
          }"
        />
      </div>
      <div class="gb-job-offer-list-item--description column is-center is-centered">
        <div class="columns">
          <div class="column">
            <h2>{{ jobOffer.title }}</h2>
          </div>
        </div>
        <div class="gb-job-offer-list-item--highlight ">
          <gb-job-offer-highlight :job-offer="jobOffer" />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import GbIcon from '~/components/base-components/gb-icon.vue';
import GbJobOfferHighlight from '~/components/job-offer/gb-job-offer-highlight.vue';
import { buildSlugUrl } from '~/utils/url-builder.utils';
import { JobOfferWithCompanyResponseInterface } from '../../../../back/src/infrastructure/rest/career/models/job-offer-response.interface';
import GbCompanyLogo from '~/components/base-components/gb-company-logo.vue';

export default Vue.extend({
  name: 'gb-job-offer-list-item',
  components: {
    GbIcon,
    GbJobOfferHighlight,
    GbCompanyLogo,
  },
  props: {
    jobOffer: { required: true } as PropOptions<JobOfferWithCompanyResponseInterface>,
    isLoggedAsCandidate: { required: true },
  },
  methods: {
    goToJobOffer(): void {
      this.$router.push({ path: `job-offers/${buildSlugUrl(this.jobOffer.id, this.jobOffer.title)}` });
    },
  },
  computed: {
    companyLogoSrc(): string {
      return `data:${this.jobOffer.company.logo.mimeType};base64,${this.jobOffer.company.logo.base64}`;
    },
    companyLogoAlt(): string {
      return `${this.jobOffer.company.name} logo`;
    },
  },
});
</script>

<style lang="scss" scoped>
@import 'sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-list-item {
  border-radius: rem(8px);
  background-color: $gb-color-white;
  box-shadow: 2px 2px 17px 0 rgba(224, 224, 224, 0.5);
  padding-left: rem(30px) !important;

  cursor: pointer;

  &--logo {
    padding: 0;
    margin: rem(10px);

    .oval {
      height: rem(100px);
      width: rem(100px);
      background-color: $gb-color-white;
      box-shadow: 2px 2px 11px 0 rgba(224, 224, 224, 0.5);
      border-radius: 50%;

      img {
        height: rem(49px);
        width: rem(35px);
        padding: rem(20px 32px);

        &.gb-job-offer-list-item--logo--company {
          padding: rem(15px);
          width: rem(70px);
          height: rem(70px);
          object-fit: contain;
        }
      }
    }
  }

  &--content {
    margin: 0;
    background-color: $gb-color-white;
  }

  &--description {
    h2 {
      padding-bottom: 8.5px;
      border-bottom: 0.5px solid $gb-color-input-border;
      margin: 0;
    }
  }
  &--highlight {
    padding-left: rem(25px);
  }
}
</style>
