<template>
  <div class="gb-job-offer-list">
    <gb-job-offer-list-item v-for="jobOffer in jobOffers" :key="jobOffer.id" :job-offer="jobOffer" :is-logged-as-candidate="isLoggedAsCandidate" />
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import { JobOfferWithCompanyResponseInterface } from '../../../../back/src/infrastructure/rest/career/models/job-offer-response.interface';
import GbJobOfferListItem from './gb-job-offer-list-item.vue';

export default Vue.extend({
  name: 'gb-job-offer-list',
  components: {
    GbJobOfferListItem,
  },
  props: {
    jobOffers: { required: true } as PropOptions<JobOfferWithCompanyResponseInterface[]>,
    isLoggedAsCandidate: { required: true } as PropOptions<boolean>,
  },
});
</script>

<style lang="scss" scoped>
@import 'sass-rem';
@import '~assets/scss/_gb-styleguide.scss';

.gb-job-offer-list-item {
  margin-bottom: rem(14px) !important;
}
</style>
