<template>
  <div class="gb-preview">
    <gb-action-bar>
      <template v-slot:left>
        <gb-breadcrumb :options="{ backgroundColor: 'COMPANY_BACKGROUND_COLOR', isLeftBorderRounded: false, steps: breadcrumb }" />
      </template>
      <template v-slot:right>
        <div class="gb-preview--buttons">
          <gb-button :options="{ buttonType: 'button', buttonLabelKey: 'update', buttonOnClick: onUpdateClick }" />
          <gb-button :options="{ buttonType: 'button', buttonLabelKey: 'validate', buttonOnClick: onValidateClick }" />
        </div>
      </template>
    </gb-action-bar>
    <gb-job-offer-preview-header :job-offer="getJobOffer" />
  </div>
</template>

<script lang="ts">
import { isEmpty } from 'lodash';
import Vue from 'vue';
import { mapActions, mapGetters } from 'vuex';
import GbActionBar from '~/components/base-components/gb-action-bar.vue';
import GbBreadcrumb from '~/components/base-components/gb-breadcrumb.vue';
import GbButton from '~/components/base-components/gb-button.vue';
import GbJobOfferPreviewHeader from '~/components/job-offer/preview/gb-job-offer-preview-header.vue';

export default Vue.extend({
  middleware: 'authenticatedAsCompany.middleware',
  components: {
    GbBreadcrumb,
    GbActionBar,
    GbButton,
    GbJobOfferPreviewHeader,
  },
  async asyncData({ app: { $apiService }, store: { dispatch }, params: { id } }): Promise<void> {
    if (id) {
      await dispatch('job-offer-create-module/setJobOfferId', id);
      await dispatch('job-offer-create-module/getJobOffer', { apiService: $apiService });
    }
  },
  data() {
    return {
      breadcrumb: [
        {
          i18nLabel: 'jobOffer.breadcrumbCreateLabel',
          path: 'job-offer/create',
        },
        {
          i18nLabel: 'jobOffer.breadcrumbPreviewLabel',
          path: 'job-offer/preview',
        },
      ],
    };
  },
  computed: mapGetters('job-offer-create-module', ['getJobOffer']),
  methods: {
    ...mapActions('job-offer-create-module', ['submitJobOffer', 'reset']),
    onUpdateClick(): void {
      const path: string = isEmpty(this.$route.params.id) ? 'create' : `../create/${this.$route.params.id}`;
      this.$router.push({ path });
    },
    async onValidateClick(): Promise<void> {
      await this.submitJobOffer({ apiService: this.$apiService });
      const path: string = isEmpty(this.$route.params.id) ? 'creation-confirmation' : '../creation-confirmation';
      this.$router.push(path);
    },
  },
});
</script>

<style scoped lang="scss">
@import '~sass-rem';

.gb-preview {
  &--buttons {
    /deep/ button {
      margin-left: rem(20px);
    }
  }
}
</style>
