<template>
  <div class="container">
    <div>
      <img src="/img/homepage_new_2019.jpg" />
      <div class="subtitle links" v-if="isCurrentLangFrench">
        <a href="/en-ca">
          Go to english homepage
        </a>
        <nuxt-link to="/fr-ca/dummy-page/exemple-de-contenu-cms-en-francais">
          Exemple de contenu CMS en français
        </nuxt-link>
      </div>
      <div class="subtitle links" v-if="!isCurrentLangFrench">
        <a href="/fr-ca">
          Go to french homepage
        </a>
        <nuxt-link to="/en-ca/dummy-page/cms-content-example-in-english">
          CMS content example in english
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { Locale } from '~/enums/locale.enum';

export default Vue.extend({
  computed: {
    isCurrentLangFrench(): boolean {
      return this.$route.params.lang === Locale.CANADIAN_FRENCH;
    },
  },
});
</script>

<style scoped lang="scss">
.container {
  margin: 0 auto;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  img {
    max-width: 1204px;
  }
}

.title {
  display: block;
  font-weight: 500;
  font-size: 48px;
  color: #35495e;
}

.subtitle {
  font-weight: 300;
  font-size: 24px;
  color: #526488;
  padding-bottom: 15px;
}

.links {
  a {
    margin-top: 15px;
    display: block;
  }
}
</style>
