<template>
  <div class="company-dashboard">
    <div class="company-dashboard--banner">
      <div class="company-dashboard--banner--content">
        <h1 class="white">{{ $t('companyDashboard.jobOffers') }}</h1>
      </div>
    </div>
    <section class="section">
      <div class="container">
        <nuxt-child />
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  layout: 'company-dashboard',
  middleware: 'redirectToPage.middleware',
});
</script>

<style lang="scss" scoped>
@import '~sass-rem';
@import '~assets/scss/_variables.scss';
@import '~assets/scss/_gb-styleguide.scss';
@import '~assets/scss/_bulma.scss';

.company-dashboard {
  &--banner {
    height: rem(185px);
    background-image: url('/img/company_headband_circle.svg'), url('/img/company_headband.jpg');

    background-size: auto, cover;
    background-position-y: center;
    background-repeat: no-repeat;
    padding: rem(20px) rem(90px);
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

    &--content {
      max-width: rem($fullhd);
      width: 100%;
      margin-left: rem(93px);
    }
  }
}
</style>
